<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GJB_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,56},{38,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{38,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{40,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,52},{36,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,38},{36,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{38,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{40,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{40,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,52},{38,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{38,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,56},{40,52}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,56},{36,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{40,52}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{44,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{44,46}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,54},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{48,46}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,50},{46,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,40},{46,44}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,2},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,42},{46,42}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,50},{44,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{44,44}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,54},{40,50}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,56},{40,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{38,52}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{38,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{54,54}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{54,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,58},{50,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{50,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{46,56}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{48,56}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{48,56}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{46,54}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{46,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,56},{44,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{44,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{40,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{40,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{44,54}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,31},{44,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{48,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{48,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{46,54}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{46,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{46,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{46,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{44,52}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{44,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,54},{40,50}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{40,50}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{40,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{40,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,58},{48,50}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{48,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,58},{50,50}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{50,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{46,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{46,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,58},{48,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{48,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,58},{44,50}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{44,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,56},{42,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{42,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{40,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{40,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,60},{56,48}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,59},{56,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{70,36}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,61},{70,36}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,46}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,53},{70,46}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{70,40}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,51},{70,40}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,56},{52,46}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{52,46}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{36,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,56},{40,52}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{40,52}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,58},{40,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{40,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,33},{40,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{42,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{42,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,56},{40,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,35},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{34,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{34,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{34,54}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,31},{34,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,74},{34,52}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,35},{34,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,56},{32,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{32,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,74},{34,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{34,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{40,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{40,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,56},{42,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{42,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,56},{44,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{44,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,58},{42,50}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{42,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{40,54}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{40,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{40,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,56},{40,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{42,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{42,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{42,56}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{42,56}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{40,52}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{40,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,56},{42,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{42,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,58},{50,50}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{50,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,56},{52,48}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{52,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,60},{52,48}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{52,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,58},{50,50}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,35},{50,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,56},{48,52}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{48,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{42,52}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{42,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,52},{42,48}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{42,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,58},{44,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{44,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,58},{42,50}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,31},{42,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,52},{40,48}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{40,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{40,48}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{40,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,58},{40,50}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{40,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,2},{42,48}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{42,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,58},{42,50}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{42,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,56},{38,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{38,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{38,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{38,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{38,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{38,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{44,54}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{44,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{48,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{48,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{44,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{44,52}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{38,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{38,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>B_GJB_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{38,54}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{38,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_GJB.pvr.ccz</string>
            <key>size</key>
            <string>{2030,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c6364c266befde0b7a3b5b880cd10d:85c2a93a9e7ff433ec94e524feca4b02:b8420d38b2660e810b400a4e1c784c5f$</string>
            <key>textureFileName</key>
            <string>avt_B_GJB.pvr.ccz</string>
        </dict>
    </dict>
</plist>
