<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MC_Move_E_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,2},{75,41}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_E_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{75,41}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_E_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,2},{75,41}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_E_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{75,41}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NE_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{67,53}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{67,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NE_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{67,53}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{67,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NE_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{67,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{67,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NE_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{67,53}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{67,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{63,53}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{63,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{63,53}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{63,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{63,53}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{63,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{63,55}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{63,55}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{33,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{33,61}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{33,59}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{33,59}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,2},{33,61}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{33,61}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{33,63}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{33,63}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SE_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{57,53}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,33},{57,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SE_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{57,51}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,33},{57,51}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SE_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{57,47}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,34},{57,47}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SE_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,53}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,33},{57,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{61,53}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{61,53}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{63,51}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{63,51}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2},{61,49}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{61,49}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{61,51}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{61,51}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{29,57}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{29,57}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{29,55}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{29,55}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{29,51}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{29,51}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{29,55}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{29,55}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{75,41}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{77,41}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,39},{77,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{75,41}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>B_MC_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2},{75,41}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{75,41}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_MC.pvr.ccz</string>
            <key>size</key>
            <string>{1998,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f961b5201db8d2aa6e14370dca27a7a1:d8048c57f34f2f1652e22aeda6e9edd9:19ca665d555e730d855d7b74d883eed8$</string>
            <key>textureFileName</key>
            <string>avt_B_MC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
