<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZGL_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1172},{58,88}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,97},{58,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,582},{100,88}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,96},{100,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,856},{100,86}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,97},{100,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1234},{92,100}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,97},{92,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1268},{78,102}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,98},{78,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,358},{78,102}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,80},{78,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1268},{102,104}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,80},{102,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1870},{74,112}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,76},{74,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1336},{60,94}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,91},{60,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1572},{96,92}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,94},{96,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1472},{98,90}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,96},{98,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1140},{100,92}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,95},{100,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,476},{88,104}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,86},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{118,120}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,72},{118,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,684},{102,100}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,98},{102,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1042},{100,96}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{100,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1670},{72,92}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,91},{72,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1744},{64,100}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,93},{64,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1398},{72,98}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,94},{72,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1704},{96,104}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,93},{96,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1596},{106,94}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,96},{106,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1176},{148,90}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,96},{148,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1486},{108,94}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,96},{108,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1374},{110,94}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,95},{110,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1664},{74,78}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,102},{74,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1318},{74,70}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,154},{74,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1934},{96,56}}</string>
                <key>offset</key>
                <string>{-43,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,142},{96,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1634},{60,84}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,103},{60,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1664},{60,84}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,103},{60,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1418},{58,82}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,104},{58,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1696},{58,84}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,103},{58,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1872},{60,96}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,90},{60,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1810},{60,98}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,89},{60,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,888},{58,96}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,90},{58,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1810},{58,96}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,90},{58,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1132},{62,92}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,93},{62,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1232},{60,92}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,93},{60,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1480},{60,90}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,948},{62,90}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,95},{62,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1232},{72,84}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,96},{72,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1040},{68,82}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,100},{68,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1934},{56,88}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,95},{56,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1810},{52,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,95},{52,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1110},{60,82}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,99},{60,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1394},{62,84}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,99},{62,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1864},{54,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,95},{54,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1572},{58,90}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{58,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,948},{72,90}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,99},{72,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1040},{68,90}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{68,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1838},{56,86}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,103},{56,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1756},{52,92}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,98},{52,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1326},{60,90}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,102},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1572},{60,86}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,106},{60,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1920},{54,84}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,102},{54,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1750},{56,86}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,98},{56,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1838},{66,94}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,95},{66,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1744},{74,92}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,101},{74,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1374},{86,96}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,93},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,944},{100,96}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,90},{100,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1870},{102,98}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,93},{102,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,788},{98,100}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,96},{98,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1472},{84,94}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,94},{84,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1568},{74,94}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,94},{74,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,740},{138,114}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,102},{138,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,476},{150,138}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,75},{150,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,750},{160,144}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,558},{190,164}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,61},{190,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{212,172}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,61},{212,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,180}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,61},{244,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{212,164}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{212,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{206,156}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,74},{206,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{138,126}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{138,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1036},{150,138}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,75},{150,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,330},{160,144}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,366},{190,164}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,61},{190,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,184},{212,172}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,61},{212,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{244,180}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{244,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{212,170}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,59},{212,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{206,168}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{206,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,616},{138,122}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,94},{138,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,896},{150,138}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,75},{150,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,184},{160,144}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{190,164}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,61},{190,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{212,172}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,61},{212,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,180}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{244,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{212,164}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{212,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_ZGL_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{206,156}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,74},{206,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZGL.pvr.ccz</string>
            <key>size</key>
            <string>{624,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e8d8b35d652d52be741f7553c16756e:2eb1454f1172893b37ec32f8389b5fc6:e51a43f1e73498da9f0b8fc93bd258c6$</string>
            <key>textureFileName</key>
            <string>avt_B_ZGL.pvr.ccz</string>
        </dict>
    </dict>
</plist>
