<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZM_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,432},{58,74}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,90},{58,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,124},{50,74}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,91},{50,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{60,74}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,90},{60,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,176},{62,76}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,88},{62,76}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,436},{70,78}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{70,78}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{178,178}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{178,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,178}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{178,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,262},{96,112}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,52},{96,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,386},{58,94}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,75},{58,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{50,94}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,75},{50,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,386},{60,94}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{60,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,262},{64,96}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{64,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,96},{70,90}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{70,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{178,176}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,52},{178,176}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,176}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,52},{178,176}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,392},{100,104}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,86},{100,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,90},{62,84}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,82},{62,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,64},{58,74}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{58,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,188},{54,72}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,92},{54,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,300},{54,76}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,89},{54,76}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,438},{66,80}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,87},{66,80}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,182},{148,178}}</string>
                <key>offset</key>
                <string>{-40,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{148,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{148,178}}</string>
                <key>offset</key>
                <string>{-40,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{148,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,262},{122,102}}</string>
                <key>offset</key>
                <string>{-42,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,70},{122,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,262},{86,66}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,110},{86,66}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{86,60}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,132},{86,60}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,262},{94,62}}</string>
                <key>offset</key>
                <string>{-15,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,129},{94,62}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,430},{34,72}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,93},{34,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,356},{36,72}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{36,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,432},{36,72}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{36,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,356},{34,74}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{34,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,392},{34,106}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,76},{34,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,392},{36,108}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,74},{36,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,392},{36,106}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,73},{36,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,392},{34,104}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,75},{34,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,178},{84,82}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,86},{84,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,350},{82,84}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,86},{82,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,262},{84,82}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,86},{84,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{86,80}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,86},{86,80}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,346},{38,82}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,84},{38,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,260},{44,78}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,86},{44,78}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,176},{48,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,82},{48,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,262},{38,90}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{38,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,262},{50,82}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,84},{50,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,240},{58,76}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,87},{58,76}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,348},{52,82}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{52,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,94},{44,90}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,80},{44,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{38,90}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{38,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{44,92}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,82},{44,92}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,262},{48,88}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{48,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{38,88}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,80},{38,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{50,90}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,81},{50,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,98},{58,92}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{58,92}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,350},{52,86}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,82},{52,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,94},{44,88}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{44,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,186},{82,74}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{82,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,180},{80,74}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,84},{80,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,444},{62,86}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,82},{62,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,90},{60,86}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,82},{60,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,354},{60,88}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,82},{60,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,192},{66,90}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,84},{66,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{78,82}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{78,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,92},{86,80}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,80},{86,80}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,362},{128,124}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,54},{128,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,132},{128,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,132},{128,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{128,122}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,132},{128,120}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{128,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,262},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,58},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,362},{128,122}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,132},{128,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,362},{128,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{128,128}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,362},{128,124}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{128,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,360},{128,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,262},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,362},{128,122}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,132},{128,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,362},{128,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{128,128}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,362},{128,124}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{128,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,360},{128,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,262},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZM.pvr.ccz</string>
            <key>size</key>
            <string>{1526,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021889d29cb549e8fb1818a28aed2f98:3e753c1cf13742d20b3f9e69003f087d:5365c53578a443e4524a706442e1adc0$</string>
            <key>textureFileName</key>
            <string>avt_B_ZM.pvr.ccz</string>
        </dict>
    </dict>
</plist>
