<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MD_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,122},{118,76}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{118,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,120},{116,76}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,104},{116,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,130},{108,74}}</string>
                <key>offset</key>
                <string>{28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,105},{108,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,130},{108,70}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,109},{108,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{84,72}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,108},{84,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{122,80}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,100},{122,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{132,76}}</string>
                <key>offset</key>
                <string>{35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{132,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{118,76}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{118,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,2},{56,82}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,98},{56,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{56,84}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,96},{56,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,88},{60,84}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,96},{60,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,104},{74,98}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{74,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,100},{92,84}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{92,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{52,128}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,52},{52,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{56,100}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,80},{56,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,86},{56,82}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,98},{56,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,128},{112,84}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,109},{112,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,60}}</string>
                <key>offset</key>
                <string>{-37,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,126},{172,60}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,122},{118,76}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{118,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{116,76}}</string>
                <key>offset</key>
                <string>{28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{116,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,122},{116,76}}</string>
                <key>offset</key>
                <string>{28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{116,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{118,76}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{118,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{56,82}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,97},{56,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{58,82}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{58,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,88},{54,84}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,96},{54,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,86},{56,82}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,98},{56,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{126,76}}</string>
                <key>offset</key>
                <string>{25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,102},{126,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{126,80}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,99},{126,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{126,78}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,99},{126,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{128,76}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,98},{128,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{126,76}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,101},{126,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,122},{118,76}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,100},{118,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,132},{108,78}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,99},{108,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{118,74}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,101},{118,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,170},{60,74}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,105},{60,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,176},{64,72}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,104},{64,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,176},{64,72}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{64,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,174},{62,74}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,100},{62,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{64,74}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,101},{64,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,164},{76,72}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,103},{76,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{86,76}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,103},{86,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,86},{72,76}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,104},{72,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{66,122}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{66,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,126},{78,114}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,67},{78,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,90},{84,82}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,100},{84,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,130},{108,70}}</string>
                <key>offset</key>
                <string>{30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,112},{108,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{72,96}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,86},{72,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,126},{80,106}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,76},{80,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{82,118}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,63},{82,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,136},{86,104}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,80},{86,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{60,120}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,60},{60,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,130},{46,110}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,71},{46,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,110},{80,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,79},{80,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,124},{82,116}}</string>
                <key>offset</key>
                <string>{31,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,65},{82,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{66,124}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,57},{66,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{56,102}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,79},{56,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{66,106}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,75},{66,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,132},{80,108}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{80,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_MD.pvr.ccz</string>
            <key>size</key>
            <string>{1954,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:675046d265232fb53499cb716f22de18:bf469b8ff5b2ffa8f977c264dec14be1:b388fb0456db7d328044cd594e2930d0$</string>
            <key>textureFileName</key>
            <string>avt_A_MD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
