<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GN_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,363},{49,121}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,103},{49,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,157},{47,153}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,74},{47,153}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,359},{51,115}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,108},{51,115}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{61,191}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,28},{61,191}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,207},{61,197}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,24},{61,197}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{57,187}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,38},{57,187}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{61,147}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,80},{61,147}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,365},{57,121}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,104},{57,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,240},{49,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,99},{49,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,361},{47,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,97},{47,119}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,365},{53,121}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,95},{53,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,181},{49,163}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,53},{49,163}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{57,203}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,40},{57,203}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,189},{59,183}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,59},{59,183}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,123},{63,117}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,99},{63,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,361},{57,117}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,99},{57,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,250},{103,109}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{103,109}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{93,127}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,80},{93,127}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,380},{127,103}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,103},{127,103}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,195},{189,181}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,25},{189,181}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{185,181}}</string>
                <key>offset</key>
                <string>{-27,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,26},{185,181}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,189},{167,179}}</string>
                <key>offset</key>
                <string>{-30,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{167,179}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,151},{143,131}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,76},{143,131}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,164},{101,107}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,100},{101,107}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{135,81}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,160},{135,81}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,296},{137,67}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,153},{137,67}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,252},{111,85}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,149},{111,85}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,365},{53,121}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,102},{53,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{51,121}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,101},{51,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{53,119}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,103},{53,119}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,365},{53,121}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,102},{53,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,361},{51,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,99},{51,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{51,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,99},{51,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,121},{53,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,99},{53,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,242},{53,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,99},{53,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,349},{107,107}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{107,107}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,240},{107,107}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{107,107}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,252},{109,107}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,100},{109,107}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,256},{109,107}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,99},{109,107}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{53,123}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,102},{53,123}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,129},{53,125}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,100},{53,125}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{51,123}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,98},{51,123}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,131},{51,127}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,97},{51,127}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,127},{51,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,97},{51,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{53,125}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,97},{53,125}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,131},{57,125}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,100},{57,125}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,127},{59,123}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,102},{59,123}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,2},{53,119}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,106},{53,119}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,246},{51,113}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,109},{51,113}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,111},{51,103}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,108},{51,103}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,273},{51,97}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,106},{51,97}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,119},{53,93}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,107},{53,93}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,174},{55,91}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,105},{55,91}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,312},{55,97}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,104},{55,97}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{59,117}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,107},{59,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,260},{125,103}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{125,103}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,363},{119,101}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{119,101}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,386},{113,99}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,105},{113,99}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,370},{115,103}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,103},{115,103}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,2},{115,95}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,102},{115,95}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,125},{119,95}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,101},{119,95}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,2},{123,95}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{123,95}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,386},{129,99}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,101},{129,99}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,129},{47,125}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,100},{47,125}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,365},{63,121}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,108},{63,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,137},{51,129}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,94},{51,129}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{51,125}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,97},{51,125}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,361},{47,119}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,101},{47,119}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{67,189}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,28},{67,189}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,199},{61,193}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,24},{61,193}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,189},{53,185}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,38},{53,185}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,121},{47,117}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,99},{47,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,127},{63,123}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,92},{63,123}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,127},{51,123}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,87},{51,123}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{51,153}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,52},{51,153}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2},{47,133}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,76},{47,133}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{63,195}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,23},{63,195}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,203}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,41},{71,203}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{71,185}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{71,185}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,370},{115,107}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,100},{115,107}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{107,103}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,102},{107,103}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,380},{105,115}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,90},{105,115}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,369},{143,117}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,88},{143,117}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,365},{125,121}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,84},{125,121}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,191},{187,181}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{187,181}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{187,181}}</string>
                <key>offset</key>
                <string>{-28,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{187,181}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>B_GN_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{167,177}}</string>
                <key>offset</key>
                <string>{-29,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{167,177}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_GN.pvr.ccz</string>
            <key>size</key>
            <string>{2039,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159ce6c8fb8ab82df39ed806b76e356f:89fad0267a41cd17cf07eb4a3cc3fbf2:cef9f2f9da41e46c82c7d81fb8b845a5$</string>
            <key>textureFileName</key>
            <string>avt_B_GN.pvr.ccz</string>
        </dict>
    </dict>
</plist>
