<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_DW_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,118},{138,130}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,57},{138,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,226},{110,118}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{110,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,188},{100,116}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,69},{100,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,106},{110,118}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,64},{110,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,730},{116,142}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{116,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,860},{120,122}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,60},{120,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,874},{126,122}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{126,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,370},{86,124}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,60},{86,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,882},{138,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,52},{138,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,458},{110,124}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,54},{110,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,238},{100,130}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,48},{100,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,116},{110,120}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,58},{110,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,458},{106,118}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,68},{106,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,258},{120,114}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,64},{120,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,730},{128,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,638},{86,118}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,60},{86,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{112,138}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{112,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,200},{118,102}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,66},{118,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,446},{122,100}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,68},{122,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,676},{122,98}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,70},{122,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{196,104}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,68},{196,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{168,114}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,63},{168,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,478},{158,118}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,782},{130,98}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{130,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{140,88}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,109},{140,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,380},{140,76}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,113},{140,76}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{132,96}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,114},{132,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,188},{98,120}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,67},{98,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,320},{98,120}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,66},{98,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,894},{98,118}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{98,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,426},{98,120}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{98,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,774},{98,118}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{98,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,88},{98,118}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,60},{98,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,548},{98,116}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,62},{98,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,654},{98,116}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{98,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,296},{106,102}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{106,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,416},{106,102}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,66},{106,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,188},{106,102}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,66},{106,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,306},{108,102}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,66},{108,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,542},{94,120}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,64},{94,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,92},{94,122}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,60},{94,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,420},{94,120}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{94,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,556},{96,124}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,60},{96,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,676},{96,124}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,58},{96,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,800},{96,124}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{96,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,200},{98,126}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,62},{98,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,774},{96,120}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,65},{96,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,926},{94,126}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,64},{94,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,426},{94,128}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{94,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,648},{94,120}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{94,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,872},{96,110}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,55},{96,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,758},{96,100}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,55},{96,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,870},{98,100}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{98,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,770},{98,104}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,63},{98,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,328},{96,126}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,64},{96,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,584},{128,98}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,67},{128,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,578},{126,98}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,67},{126,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,346},{126,98}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,67},{126,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{128,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,63},{128,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,100},{128,98}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,61},{128,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,578},{128,96}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,61},{128,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,92},{128,94}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{128,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,706},{128,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,66},{128,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{84,122}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,63},{84,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,334},{142,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{142,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{144,144}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{144,144}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,598},{130,128}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,56},{130,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,316},{142,130}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,52},{142,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{162,130}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,55},{162,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,362},{178,134}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,53},{178,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,542},{184,134}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,54},{184,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{84,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{84,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,638},{142,124}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,54},{142,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{142,178}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{142,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,182},{128,178}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{128,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{142,178}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{142,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,178}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{166,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{164,178}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{164,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{162,178}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,712},{140,168}}</string>
                <key>offset</key>
                <string>{29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{140,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,542},{142,168}}</string>
                <key>offset</key>
                <string>{31,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{142,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,728},{142,168}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{142,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,882},{138,168}}</string>
                <key>offset</key>
                <string>{29,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{138,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,166},{126,166}}</string>
                <key>offset</key>
                <string>{22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,2},{126,166}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,898},{122,168}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,148},{116,166}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,2},{116,166}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,460},{136,124}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{136,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_DW.pvr.ccz</string>
            <key>size</key>
            <string>{1438,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26239825eb3f3d23a55be05ec6215ff4:b5494437fee6e6d7ee4a6e12fef07761:6a416ca31ecbd1c3f9274905f1ef6662$</string>
            <key>textureFileName</key>
            <string>avt_B_DW.pvr.ccz</string>
        </dict>
    </dict>
</plist>
