<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HZ_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,84},{94,88}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,97},{94,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{92,110}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,87},{92,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,96},{94,106}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,84},{94,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,210},{98,102}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,85},{98,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{88,112}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,89},{88,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,102},{96,106}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{96,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,218},{100,102}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,97},{100,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,314},{100,98}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,97},{100,98}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,416},{88,114}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,68},{88,114}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,108},{98,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,73},{98,108}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,376},{98,112}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,65},{98,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{102,112}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,65},{102,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,224},{104,102}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,75},{104,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{104,102}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,77},{104,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,92},{94,102}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,81},{94,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,90},{88,102}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,81},{88,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{84,70}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,138},{84,70}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,440},{108,52}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,133},{108,52}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,372},{90,88}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,97},{90,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,180},{96,88}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,98},{96,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,292},{96,88}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,99},{96,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,84},{94,90}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,97},{94,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,416},{88,108}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,74},{88,108}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,414},{84,108}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,75},{84,108}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,196},{82,110}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,75},{82,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{86,110}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,73},{86,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,308},{102,88}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,76},{102,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,330},{112,94}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{112,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,264},{110,102}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{110,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,322},{98,102}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{98,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,194},{92,96}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,75},{92,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,412},{92,96}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,75},{92,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,174},{86,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,78},{86,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,390},{88,92}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,77},{88,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,308},{90,104}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,71},{90,104}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{80,106}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,72},{80,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,426},{74,110}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{74,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,204},{94,102}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,71},{94,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,116},{106,102}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{106,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{108,98}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,73},{108,98}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,278},{92,88}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{92,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,270},{84,94}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,77},{84,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,184}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{166,184}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,162},{110,158}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,42},{110,158}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{162,184}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{162,184}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,322},{108,160}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{108,160}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,366},{114,164}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,39},{114,164}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,130},{92,132}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,64},{92,132}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,284},{96,130}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,61},{96,130}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,142},{96,140}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{96,140}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,188},{176,162}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,41},{176,162}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,162},{152,112}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,69},{152,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{176,152}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{176,152}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{158,118}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,69},{158,118}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{162,122}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,65},{162,122}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{138,114}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,73},{138,114}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,316},{122,112}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,76},{122,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{126,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,81},{126,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_HZ.pvr.ccz</string>
            <key>size</key>
            <string>{1520,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9b8c3b04728f4bf18618b9b5b7d8e7:694a0670cc905d63761595416e53abd5:34c8208d6cb3fc250ec5be84c9a64c76$</string>
            <key>textureFileName</key>
            <string>avt_A_HZ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
