<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU6_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,246},{76,104}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,47},{76,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,238},{114,110}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,47},{114,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,268},{126,100}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{126,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{106,150}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,1},{106,150}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,124},{104,120}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{104,120}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{110,118}}</string>
                <key>offset</key>
                <string>{-27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{110,118}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,276},{90,118}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{90,118}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{80,114}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{80,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,120},{114,116}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{114,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,246},{106,118}}</string>
                <key>offset</key>
                <string>{35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,18},{106,118}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,250},{118,114}}</string>
                <key>offset</key>
                <string>{42,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,22},{118,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{112,142}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{112,142}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{134,84}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{134,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,126},{122,110}}</string>
                <key>offset</key>
                <string>{-30,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{122,112}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,50},{122,112}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{120,114}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,39},{120,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,146},{138,76}}</string>
                <key>offset</key>
                <string>{33,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,90},{138,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,270},{112,98}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,61},{112,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,168},{76,104}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,47},{76,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,222},{78,106}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,45},{78,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{78,106}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,45},{78,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,290},{78,106}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,45},{78,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,238},{114,116}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{114,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{114,116}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{114,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,120},{114,116}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{114,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,240},{114,116}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{114,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,286},{82,110}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,42},{82,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,234},{86,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{86,112}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,234},{86,110}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{86,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{84,108}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{84,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,272},{88,102}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{88,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,274},{90,100}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{90,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,246},{88,98}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{88,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{86,104}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,43},{86,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{134,106}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{134,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{132,108}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{132,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,136},{132,112}}</string>
                <key>offset</key>
                <string>{-24,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{132,112}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{132,120}}</string>
                <key>offset</key>
                <string>{-23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{132,120}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,138},{132,122}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{132,122}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,140},{134,116}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{134,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,138},{134,102}}</string>
                <key>offset</key>
                <string>{-23,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{134,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{134,108}}</string>
                <key>offset</key>
                <string>{-24,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{134,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,90},{76,104}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,47},{76,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,118},{76,110}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,41},{76,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,296},{72,110}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,41},{72,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,112},{74,108}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,43},{74,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{76,136}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{76,136}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,130},{76,126}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,25},{76,126}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{76,126}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,25},{76,126}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,152}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{76,152}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{114,116}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{114,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,122},{116,116}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{116,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{112,114}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{112,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,136},{130,114}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,37},{130,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,146}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,5},{74,146}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{76,144}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{76,144}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,146},{78,142}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{78,142}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU6_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,118},{100,114}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{100,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WU6.pvr.ccz</string>
            <key>size</key>
            <string>{2004,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e81fb438065300691f46d2f0c6536adb:02fa613a44d4dda49a82fc0ef3af9e5e:1f383f31697bd5391f4b6ff892cd1c89$</string>
            <key>textureFileName</key>
            <string>avt_A_WU6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
