<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1918},{87,85}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,63},{87,85}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1965},{71,81}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,66},{71,81}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1700},{81,105}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,61},{81,105}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,799},{137,125}}</string>
                <key>offset</key>
                <string>{-29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{137,125}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,926},{121,127}}</string>
                <key>offset</key>
                <string>{-38,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{121,127}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,670},{127,127}}</string>
                <key>offset</key>
                <string>{-38,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{127,127}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,355},{129,103}}</string>
                <key>offset</key>
                <string>{-36,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{129,103}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1876},{89,87}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,61},{89,87}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1789},{93,85}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{93,85}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1551},{109,81}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,71},{109,81}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{117,89}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{117,89}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,184},{169,113}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,41},{169,113}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1216},{151,149}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{151,149}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,460},{131,119}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{131,119}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1103},{141,107}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,77},{141,107}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,581},{131,87}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,73},{131,87}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1959},{85,79}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,99},{85,79}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{121,53}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,118},{121,53}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1294},{117,95}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{117,95}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1455},{115,95}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{115,95}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1367},{115,93}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,68},{115,93}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1267},{117,95}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{117,95}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1551},{59,89}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{59,89}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1897},{57,89}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,66},{57,89}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1965},{57,87}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{57,87}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1642},{59,87}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,68},{59,87}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1220},{115,91}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{115,91}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1488},{115,85}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{115,85}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1462},{113,87}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,64},{113,87}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,93},{109,89}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{109,89}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{109,89}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{109,89}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1647},{111,85}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,65},{111,85}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{113,93}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{113,93}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1391},{115,95}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{115,95}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1724},{63,101}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,52},{63,101}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1783},{65,97}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,55},{65,97}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1888},{69,93}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,53},{69,93}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1850},{71,93}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,51},{71,93}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1731},{71,97}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,49},{71,97}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{75,101}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,50},{75,101}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1625},{73,103}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,46},{73,103}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1733},{69,103}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,46},{69,103}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1095},{123,161}}</string>
                <key>offset</key>
                <string>{-26,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,942},{151,167}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{151,167}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1049},{161,165}}</string>
                <key>offset</key>
                <string>{-18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{161,165}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{171,159}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{171,159}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,431},{183,161}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{183,161}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,270},{185,159}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{185,159}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{183,153}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{183,153}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{173,149}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{173,149}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_NW_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1337},{96,98}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{96,98}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_NW_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1547},{98,76}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,53},{98,76}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_NW_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1811},{94,84}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{94,84}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_NW_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1634},{108,88}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,42},{108,88}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_NW_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1804},{96,82}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{96,82}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_NW_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1830},{92,86}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,45},{92,86}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,139},{191,129}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{191,129}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{195,135}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{195,135}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,139}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{195,139}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{185,159}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{185,159}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{181,171}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{181,171}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,594},{179,181}}</string>
                <key>offset</key>
                <string>{-26,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{179,181}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{157,185}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{157,185}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,775},{165,181}}</string>
                <key>offset</key>
                <string>{-33,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{165,181}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>B_WY_Skill_SW_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1437},{108,98}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,55},{108,98}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_SW_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1220},{118,72}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{118,72}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_SW_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1575},{112,72}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,72},{112,72}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_SW_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1959},{76,76}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,68},{76,76}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_SW_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1959},{80,80}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{80,80}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>B_WY_Skill_SW_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1649},{82,108}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{82,108}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WY.pvr.ccz</string>
            <key>size</key>
            <string>{508,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5edbeb713048a5c92cd7a7160ef77c98:998dbb4a55ac01813add3157b7c3310c:8cc937f8a4d65a826b55432335e20942$</string>
            <key>textureFileName</key>
            <string>avt_A_WY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
