<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HG_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{115,93}}</string>
                <key>offset</key>
                <string>{-20,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,95},{115,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,293},{67,93}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,93},{67,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,194},{87,91}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,94},{87,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,2},{65,91}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{65,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,326},{95,145}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{95,145}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,151},{91,147}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,27},{91,147}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{93,147}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{93,147}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{93,143}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{93,143}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,248},{113,85}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,95},{113,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,433},{65,129}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,53},{65,129}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,388},{87,91}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,92},{87,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,125},{65,121}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,63},{65,121}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{89,187}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,45},{89,187}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,191},{83,185}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,47},{83,185}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{87,183}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,49},{87,183}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,157},{93,151}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,81},{93,151}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,421},{73,97}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,90},{73,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,137},{71,123}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,54},{71,123}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,378},{89,83}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,94},{89,83}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,101},{95,83}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,94},{95,83}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,191},{183,109}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{183,109}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,173},{165,109}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,76},{165,109}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,312},{149,109}}</string>
                <key>offset</key>
                <string>{-44,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,76},{149,109}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,167},{157,101}}</string>
                <key>offset</key>
                <string>{-40,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,87},{157,101}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,376},{129,45}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,147},{129,45}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,378},{129,53}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,123},{129,53}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,89},{71,81}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,119},{71,81}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,226},{103,95}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,95},{103,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,363},{103,95}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,94},{103,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,212},{101,93}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,95},{101,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{103,95}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,94},{103,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,331},{103,85}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,95},{103,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{103,85}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,95},{103,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,107},{101,85}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,95},{101,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,107},{103,85}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,95},{103,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,103},{85,97}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{85,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{83,97}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,92},{83,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,419},{79,97}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,92},{79,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,416},{83,97}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,92},{83,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,198},{93,87}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,88},{93,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,287},{89,81}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,92},{89,81}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{81,85}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,89},{81,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,97},{69,91}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,88},{69,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,409},{67,87}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,90},{67,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,162},{69,81}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,92},{69,81}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,233},{69,87}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,88},{69,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{71,93}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,86},{71,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,99},{93,83}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,106},{93,83}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,410},{89,89}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,111},{89,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,2},{81,95}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,108},{81,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,299},{69,95}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,105},{69,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,396},{67,93}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,106},{67,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,182},{69,89}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,112},{69,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,322},{69,85}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,109},{69,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,95},{71,85}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,105},{71,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,2},{99,93}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,93},{99,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,310},{109,91}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,101},{109,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,300},{117,87}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,97},{117,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,419},{125,79}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,93},{125,79}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,423},{127,75}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,95},{127,75}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{121,71}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,100},{121,71}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,423},{111,75}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,96},{111,75}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,119},{105,83}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,92},{105,83}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,210},{99,85}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,94},{99,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,287},{85,89}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,88},{85,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,423},{75,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,57},{75,127}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{99,133}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,43},{99,133}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{111,163}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,2},{111,163}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,362},{59,169}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,6},{59,169}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{65,161}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,14},{65,161}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,159},{87,155}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,20},{87,155}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,315},{99,85}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,95},{99,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,202},{85,95}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,114},{85,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,423},{75,151}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,33},{75,151}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,147},{99,139}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,37},{99,139}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{111,169}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,215}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,7},{61,215}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{63,213}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,12},{63,213}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{87,181}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,43},{87,181}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,311},{93,97}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{93,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,340},{127,81}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,103},{127,81}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,423},{75,137}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,47},{75,137}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,288},{129,137}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,39},{129,137}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,157},{145,153}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{145,153}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,185},{175,153}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{175,153}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{153,151}}</string>
                <key>offset</key>
                <string>{-35,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{153,151}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{155,155}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{155,155}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_HG.pvr.ccz</string>
            <key>size</key>
            <string>{2043,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e5ac3431a301b075c54062119ecfea2:f8e0a2499734e967247271587f724bee:3bccf44c4bfb50ca52425f48d7b30d0e$</string>
            <key>textureFileName</key>
            <string>avt_B_HG.pvr.ccz</string>
        </dict>
    </dict>
</plist>
