<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZJ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,403},{65,75}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{65,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,438},{65,71}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{65,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,389},{67,71}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{67,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{71,79}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,78},{71,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,216},{61,99}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{61,99}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{69,99}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{69,99}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{73,99}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,58},{73,99}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,97},{75,89}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,67},{75,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{65,81}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{65,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,429},{65,79}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{65,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,247},{69,77}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,72},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,156},{71,73}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,74},{71,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,255},{59,79}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{59,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,348},{69,79}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{69,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,77},{73,67}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{73,67}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,326},{75,69}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,79},{75,69}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{71,89}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{71,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,372},{85,73}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,80},{85,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{85,73}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,81},{85,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,180},{75,83}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{75,83}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,81}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,70},{105,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,87}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,68},{105,87}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{89,95}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{89,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,317},{67,99}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{67,99}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,93},{85,81}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,107},{85,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,277},{85,55}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,102},{85,55}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,97},{93,49}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,110},{93,49}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,334},{69,77}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,415},{69,77}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,83},{69,77}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,168},{69,77}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,231},{69,73}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,74},{69,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,413},{69,75}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,74},{69,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,314},{69,73}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,75},{69,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{69,73}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,74},{69,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,99},{45,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,59},{45,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,402},{45,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,59},{45,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,305},{45,95}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,60},{45,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,402},{45,95}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,60},{45,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,283},{87,77}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{87,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,192},{89,77}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,77},{89,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,291},{93,77}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{93,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,418},{91,75}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,80},{91,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{93,77}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{93,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,97},{93,77}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,77},{93,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,99},{95,75}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{95,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,192},{93,75}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{93,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,188},{87,71}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,86},{87,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,380},{89,69}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,88},{89,69}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,287},{93,65}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,87},{93,65}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,287},{91,65}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,87},{91,65}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,386},{93,67}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,85},{93,67}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{93,67}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,86},{93,67}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{95,67}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,88},{95,67}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,97},{93,67}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,87},{93,67}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,318},{59,75}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{59,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,306},{59,73}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,83},{59,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,447},{61,75}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,84},{61,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,403},{63,75}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{63,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{69,75}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{69,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,79},{73,71}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,82},{73,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,239},{71,73}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,84},{71,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{65,77}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{65,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,265},{69,81}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{69,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,364},{69,81}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{69,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,83},{67,77}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{67,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,79},{67,75}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{67,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,162},{67,75}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{67,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,241},{67,75}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{67,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,255},{69,77}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,78},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,336},{69,77}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{69,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,367},{69,71}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{69,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,152},{67,71}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,76},{67,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{67,73}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{67,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,162},{67,77}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{67,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,85},{67,81}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{67,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,172},{67,81}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{67,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{69,81}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,71},{69,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,89},{69,81}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{69,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,109},{55,97}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,58},{55,97}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,305},{51,95}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,60},{51,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{55,93}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{55,93}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{77,91}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{77,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,196},{77,93}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,62},{77,93}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,208},{77,95}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{77,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{77,93}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{77,93}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,382},{73,91}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{73,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZJ.pvr.ccz</string>
            <key>size</key>
            <string>{1116,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b069604a752e4a98f5f0915d8c69be:4d81ad64c7280bb23c74366a82ca7b29:89f3edc0f267b29085f6229882a3bc07$</string>
            <key>textureFileName</key>
            <string>avt_B_ZJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
