<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_CC_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,444},{90,124}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,63},{90,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,660},{86,122}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{86,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,392},{80,120}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,67},{80,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,392},{78,126}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,62},{78,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,818},{76,132}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,61},{76,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,94},{72,148}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,41},{72,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,148},{72,150}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{72,150}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,102},{74,154}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,36},{74,154}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,640},{90,122}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{90,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,728},{86,128}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,50},{86,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,386},{78,132}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,46},{78,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,228},{78,130}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,40},{78,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,818},{76,128}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,41},{76,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,300},{72,128}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,48},{72,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,942},{72,124}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,54},{72,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,816},{76,124}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,54},{76,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,252},{106,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,60},{106,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,764},{108,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{108,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,518},{110,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,61},{110,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,430},{106,104}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,62},{106,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,274},{96,102}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{96,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{156,102}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,64},{156,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{154,98}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,69},{154,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{146,102}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,66},{146,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,312},{148,72}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,110},{148,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,106},{148,82}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,107},{148,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,630},{122,98}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,115},{122,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,362},{54,124}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,62},{54,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,630},{54,124}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,61},{54,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,884},{54,122}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{54,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,870},{54,122}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,63},{54,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,928},{54,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,56},{54,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,872},{54,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,56},{54,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,760},{54,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,56},{54,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,872},{54,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,56},{54,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,514},{114,110}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{114,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,518},{112,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{112,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,280},{114,110}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{114,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,168},{116,110}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{116,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,786},{64,128}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,56},{64,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,654},{64,130}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{64,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,630},{62,128}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,54},{62,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,178},{64,132}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,52},{64,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,660},{66,132}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,49},{66,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,942},{68,126}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,54},{68,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,514},{68,124}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,55},{68,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,418},{66,126}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,53},{66,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,626},{64,128}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{64,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,928},{64,124}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,64},{64,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,756},{62,114}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,62},{62,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,760},{64,108}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,57},{64,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,764},{66,102}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,57},{66,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,144},{68,106}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,53},{68,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,942},{68,110}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{68,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,748},{66,128}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,62},{66,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,896},{126,108}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{126,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,300},{124,106}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{124,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,816},{124,106}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,59},{124,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,816},{124,110}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,55},{124,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,412},{122,104}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{122,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,320},{122,104}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{122,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,308},{124,102}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{124,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,408},{124,104}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{124,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,520},{104,138}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{104,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,122},{104,140}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,48},{104,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{118,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,43},{118,144}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,678},{120,138}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,45},{120,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,896},{112,138}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{112,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,190},{108,132}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{108,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,146},{96,126}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{96,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{56,140}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,38},{56,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{102,166}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,14},{102,166}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,148},{104,170}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{104,170}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,174}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{110,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{110,172}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{110,172}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{106,172}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{106,172}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{98,176}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,4},{98,176}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{90,178}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{90,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,520},{56,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,48},{56,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,386},{130,134}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{130,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,678},{132,138}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,30},{132,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{136,144}}</string>
                <key>offset</key>
                <string>{20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,24},{136,144}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{138,142}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,26},{138,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,178},{132,142}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,26},{132,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,536},{132,140}}</string>
                <key>offset</key>
                <string>{26,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,28},{132,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,536},{122,140}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,28},{122,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,522},{136,124}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,44},{136,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_CC.pvr.ccz</string>
            <key>size</key>
            <string>{1105,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e70bf063ac786a6e8fbeabcc45576eea:5a4fa333fcaf2b8de4526fae4c744bc9:8f729e0d14aa637593b07b7261a93617$</string>
            <key>textureFileName</key>
            <string>avt_B_CC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
