<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HYY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,232},{50,84}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,89},{50,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{64,78}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,93},{64,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,198},{50,76}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,91},{50,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{64,68}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{68,82}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{68,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,134},{72,88}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{72,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{64,90}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{64,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,86},{58,90}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,86},{58,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,144},{62,82}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,87},{62,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,146},{58,82}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,87},{58,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,124},{52,86}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{52,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,86},{58,84}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,85},{58,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{70,82}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,89},{70,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,146},{68,78}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,91},{68,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,130},{68,74}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,95},{68,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{68,78}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,91},{68,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,68},{84,60}}</string>
                <key>offset</key>
                <string>{18,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,126},{84,60}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{78,68}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,99},{78,68}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,226},{56,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,88},{56,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,68},{54,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,88},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,142},{54,84}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,206},{54,84}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{68,82}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{68,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{66,82}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,87},{66,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,144},{64,82}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,87},{64,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{64,82}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,87},{64,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,146},{64,84}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{64,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,150},{62,88}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{62,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,86},{62,90}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,81},{62,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,86},{66,86}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,81},{66,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,82},{60,86}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,83},{60,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,150},{60,92}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{60,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,224},{58,92}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,82},{58,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,174},{62,90}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{62,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,210},{68,76}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,92},{68,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,208},{70,72}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,94},{70,72}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,206},{68,72}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,94},{68,72}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{64,74}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,94},{64,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{64,78}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,93},{64,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,68},{64,76}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{64,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,68},{66,72}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{66,72}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,68},{70,74}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{70,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{130,130}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,63},{130,130}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{138,154}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{138,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{138,154}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{138,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,154}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{140,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{138,154}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{138,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,154}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{140,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{138,154}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{138,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,154}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{140,154}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,158},{130,108}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,85},{130,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,158},{138,122}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,71},{138,122}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,158},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,158},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,158},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,158},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,158},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_HYY.pvr.ccz</string>
            <key>size</key>
            <string>{1996,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7422a5aaf7902e54280ddf5cb120bbaa:9e27c4876933d51645f60d68d636d53c:8dde29738b00ae86d765a808772f2692$</string>
            <key>textureFileName</key>
            <string>avt_A_HYY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
