<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XS_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,234},{80,110}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,78},{80,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{78,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,79},{78,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,316},{82,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,78},{82,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,414},{88,106}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,78},{88,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,412},{88,106}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,78},{88,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,80},{78,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{78,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{74,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,77},{74,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,232},{80,110}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,78},{80,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{72,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,73},{72,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,78},{76,114}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,76},{76,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,76},{76,116}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,74},{76,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,74},{76,114}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,76},{76,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,152},{78,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,75},{78,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,76},{76,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,75},{76,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{70,116}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,75},{70,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{72,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,73},{72,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,76},{122,76}}</string>
                <key>offset</key>
                <string>{-7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,147},{122,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,68}}</string>
                <key>offset</key>
                <string>{33,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,133},{136,68}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,316},{82,110}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,78},{82,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,314},{82,110}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,78},{82,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,242},{82,110}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,79},{82,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,234},{80,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{80,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,74},{74,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{72,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,73},{72,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{76,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,74},{76,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,78},{76,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,73},{76,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,160},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,75},{80,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,322},{84,110}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{84,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{82,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,77},{82,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,154},{78,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{78,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,154},{78,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{78,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,156},{80,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,74},{80,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,238},{82,110}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,73},{82,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,156},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,75},{80,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,328},{84,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{84,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{76,114}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{76,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,78},{76,112}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,78},{76,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,156},{80,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,75},{80,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,160},{82,102}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,74},{82,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,322},{84,98}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,73},{84,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,326},{84,104}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,73},{84,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,322},{84,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{84,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,244},{82,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,78},{82,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,400},{88,106}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,80},{88,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,414},{90,106}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,82},{90,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{80,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,79},{80,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{84,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,80},{84,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,398},{86,106}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,78},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,238},{82,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,77},{82,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,154},{78,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,76},{78,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{74,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,75},{74,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,234},{80,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,75},{80,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,408},{86,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,73},{86,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,400},{84,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{84,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,408},{86,108}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,83},{86,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,238},{82,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,81},{82,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,316},{82,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{82,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XS_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,400},{84,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,73},{84,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_XS.pvr.ccz</string>
            <key>size</key>
            <string>{1124,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:442bbe70f3dbdcda3f8a2b7744b89734:d7874018d3232a503d8e57d01c406f67:3b849731acd15c92b2e41e910f826cdb$</string>
            <key>textureFileName</key>
            <string>avt_A_XS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
