<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZHE_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,282},{84,80}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,83},{84,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,282},{84,74}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,89},{84,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,140},{94,110}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,52},{94,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{144,110}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{144,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,92},{98,92}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{98,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,90},{106,94}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{106,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,104},{100,98}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{100,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,274},{76,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{76,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,236},{86,100}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,72},{86,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,184},{84,98}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{84,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,186},{96,86}}</string>
                <key>offset</key>
                <string>{30,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,87},{96,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,112}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,96},{144,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,252},{96,112}}</string>
                <key>offset</key>
                <string>{-29,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,96},{96,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,104},{108,90}}</string>
                <key>offset</key>
                <string>{-24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,101},{108,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{102,78}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,103},{102,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,284},{76,82}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,90},{76,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,264},{58,90}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{58,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,176},{62,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{62,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,96},{104,82}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,84},{104,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{116,92}}</string>
                <key>offset</key>
                <string>{-46,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,74},{116,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,250},{112,78}}</string>
                <key>offset</key>
                <string>{-41,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,81},{112,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,204},{84,76}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{84,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,182},{70,80}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,79},{70,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,274},{62,84}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,75},{62,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,270},{70,60}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,140},{70,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,184},{70,56}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,93},{70,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,204},{92,44}}</string>
                <key>offset</key>
                <string>{40,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,127},{92,44}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,270},{54,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,85},{54,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,96},{52,86}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{52,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,264},{54,88}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{54,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,264},{54,86}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,85},{54,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,182},{54,98}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{54,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,182},{52,98}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,71},{52,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,182},{54,98}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{54,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,180},{54,98}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{54,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,282},{90,84}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,81},{90,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,94},{86,88}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,79},{86,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,90},{86,88}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,79},{86,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,282},{90,84}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,81},{90,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,196},{56,84}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{56,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,282},{64,84}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{64,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,176},{62,86}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,75},{62,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,272},{58,90}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{58,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,184},{54,84}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{54,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,186},{64,84}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{64,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,182},{70,88}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{70,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,276},{60,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{60,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,182},{56,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{56,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,94},{64,86}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,81},{64,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,90},{62,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{62,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,180},{58,94}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{58,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,274},{54,92}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{54,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,274},{64,92}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,78},{64,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,274},{72,92}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{72,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,272},{58,94}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,74},{58,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,202},{78,84}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{78,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,94},{74,86}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,76},{74,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,90},{72,90}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{72,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,96},{78,88}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{78,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,284},{82,86}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,75},{82,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,96},{78,88}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,79},{78,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,284},{80,82}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{80,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,282},{72,84}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{72,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{88,136}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{88,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{86,134}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,29},{86,134}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{96,130}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,33},{96,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{92,138}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{92,138}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{92,114}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,51},{92,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,102},{90,112}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,55},{90,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{90,120}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,53},{90,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,196},{76,86}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,83},{76,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,188},{84,96}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,84},{84,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,92},{86,120}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,69},{86,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,90},{104,112}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{104,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{94,136}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,67},{94,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,252},{88,114}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,97},{88,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,92},{90,116}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,92},{90,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{86,130}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,79},{86,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,194},{78,98}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,74},{78,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{136,88}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{136,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{144,86}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,80},{144,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,100},{116,86}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,75},{116,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{128,100}}</string>
                <key>offset</key>
                <string>{-36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,75},{128,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{130,92}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{130,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{126,86}}</string>
                <key>offset</key>
                <string>{-43,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,86},{126,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{130,98}}</string>
                <key>offset</key>
                <string>{-41,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,81},{130,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>B_ZHE_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2},{74,90}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{74,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZHE.pvr.ccz</string>
            <key>size</key>
            <string>{2020,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b5c9668b256fea24806082b557c493:c526434c42e5202a685c6b2df7ed525d:f18deca50ae71c81c2f69546d2532db4$</string>
            <key>textureFileName</key>
            <string>avt_B_ZHE.pvr.ccz</string>
        </dict>
    </dict>
</plist>
