<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_JX_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,339},{85,137}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,99},{85,137}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,421},{99,137}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,99},{99,137}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,109},{85,137}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,99},{85,137}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,313},{73,131}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,104},{73,131}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,632},{75,161}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,73},{75,161}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,107},{67,123}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,111},{67,123}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,507},{73,125}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,110},{73,125}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,307},{79,129}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,106},{79,129}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,200},{85,137}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,89},{85,137}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,522},{101,139}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,87},{101,139}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,103},{85,149}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,77},{85,149}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,190},{73,135}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,91},{73,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,631},{75,129}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,97},{75,129}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,366},{67,129}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,97},{67,129}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{71,129}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,97},{71,129}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,311},{79,133}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,93},{79,133}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,531},{111,111}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,105},{111,111}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,598},{107,111}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,105},{107,111}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,598},{103,109}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,107},{103,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,200},{133,109}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{133,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,196},{129,109}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,107},{129,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,392},{131,109}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,107},{131,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,459},{127,111}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,105},{127,111}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,572},{121,113}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,103},{121,113}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,171},{153,81}}</string>
                <key>offset</key>
                <string>{25,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,159},{153,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,552},{151,81}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,149},{151,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,598},{103,97}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,137},{103,97}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,552},{77,137}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,99},{77,137}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,232},{75,135}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,99},{75,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,248},{75,135}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,99},{75,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,625},{75,137}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,99},{75,137}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,218},{75,135}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,91},{75,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,198},{75,135}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,91},{75,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,426},{75,135}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,91},{75,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,275},{77,135}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,91},{77,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,598},{115,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,107},{115,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,107},{115,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,107},{115,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,598},{117,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,107},{117,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,598},{119,109}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,107},{119,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,388},{97,121}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,114},{97,121}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,503},{93,121}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,111},{93,121}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,507},{89,119}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,109},{89,119}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,582},{87,125}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,107},{87,125}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,111},{87,125}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,104},{87,125}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,507},{89,125}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,108},{89,125}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,582},{91,125}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,111},{91,125}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,507},{89,123}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,113},{89,123}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,147},{99,139}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,99},{99,139}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,503},{93,131}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,105},{93,131}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,507},{89,121}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,103},{89,121}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,531},{87,113}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,100},{87,113}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,598},{87,105}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,98},{87,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,388},{89,113}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,95},{89,113}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,388},{91,123}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,92},{91,123}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,107},{89,141}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,97},{89,141}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,325},{133,103}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,111},{133,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,354},{131,103}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,111},{131,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,400},{131,105}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,109},{131,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,312},{135,107}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,107},{135,107}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,295},{133,103}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,104},{133,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,200},{137,103}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,102},{137,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,107},{137,101}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,104},{137,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,210},{135,101}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,109},{135,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{103,207}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,28},{103,207}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,2},{99,207}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,27},{99,207}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{103,201}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,33},{103,201}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,171},{141,195}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,39},{141,195}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{149,193}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{149,193}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{161,211}}</string>
                <key>offset</key>
                <string>{-28,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,23},{161,211}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,223}}</string>
                <key>offset</key>
                <string>{-28,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{165,223}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{107,235}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,0},{107,235}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,430},{99,129}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,97},{99,129}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,265},{99,135}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,97},{99,135}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,509},{103,139}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,97},{103,139}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,167},{145,143}}</string>
                <key>offset</key>
                <string>{32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,98},{145,143}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,479},{153,151}}</string>
                <key>offset</key>
                <string>{34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,95},{153,151}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,314},{163,175}}</string>
                <key>offset</key>
                <string>{35,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,98},{163,175}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{167,201}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,89},{167,201}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,111},{87,195}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,91},{87,195}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,326},{181,109}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,107},{181,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,439},{183,111}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,105},{183,111}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,326},{183,111}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,105},{183,111}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{177,143}}</string>
                <key>offset</key>
                <string>{-31,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,85},{177,143}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,171},{183,153}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,81},{183,153}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{199,163}}</string>
                <key>offset</key>
                <string>{-39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{199,163}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{207,167}}</string>
                <key>offset</key>
                <string>{-43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{207,167}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JX_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{223,105}}</string>
                <key>offset</key>
                <string>{-51,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{223,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_JX.pvr.ccz</string>
            <key>size</key>
            <string>{2044,709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4de0cadbf24dbf324206fd3112a9a04a:07c6d88d34f03d103651e5e407049c93:051bdf7cb4ddbce9ec0d9be40bf28507$</string>
            <key>textureFileName</key>
            <string>avt_B_JX.pvr.ccz</string>
        </dict>
    </dict>
</plist>
