<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZY_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,262},{74,146}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,29},{74,146}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,826},{102,122}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{102,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,426},{76,134}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,45},{76,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,532},{72,124}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{72,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{120,144}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,32},{120,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,140}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{178,140}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{138,132}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{138,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,522},{138,112}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{138,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,658},{74,126}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,40},{74,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,298},{104,130}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,36},{104,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,534},{76,132}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{76,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,504},{72,132}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,34},{72,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,520},{120,124}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{120,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,126}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{178,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{140,128}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,38},{140,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{138,128}}</string>
                <key>offset</key>
                <string>{36,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,38},{138,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,916},{96,104}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{96,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,646},{108,124}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,31},{108,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,786},{108,94}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,61},{108,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,760},{124,92}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,63},{124,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,338},{150,104}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{150,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{150,126}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{150,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{162,128}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,52},{162,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{140,122}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{140,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,504},{106,88}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,79},{106,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,898},{106,90}}</string>
                <key>offset</key>
                <string>{9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,97},{106,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,636},{132,68}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,112},{132,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,854},{62,112}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,61},{62,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,898},{60,112}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{60,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,606},{60,110}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{60,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,740},{62,112}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{62,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,764},{62,132}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,33},{62,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,764},{60,132}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{60,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,190},{60,130}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,34},{60,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,178},{62,132}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,33},{62,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,646},{118,112}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{118,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,894},{120,114}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{120,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,772},{120,114}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{120,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,532},{120,112}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,47},{120,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,426},{76,120}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{76,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,932},{78,122}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,45},{78,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,638},{78,124}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{78,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,770},{72,126}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{72,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,612},{66,126}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{66,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,638},{62,124}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{62,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{64,124}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,49},{64,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,252},{68,124}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{68,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,504},{76,130}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,45},{76,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,170},{78,134}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{78,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,886},{78,126}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,36},{78,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,898},{72,114}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,39},{72,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,380},{66,110}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,40},{66,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,504},{62,100}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,47},{62,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,950},{64,106}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,47},{64,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,252},{68,126}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,49},{68,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,512},{134,116}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,48},{134,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,178},{130,118}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,48},{130,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,192},{128,118}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{128,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,648},{132,118}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,46},{132,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,798},{132,114}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{132,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,662},{134,110}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,45},{134,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,250},{132,108}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{132,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,782},{132,110}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{132,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,124},{66,144}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,67},{66,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,468},{62,138}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,61},{62,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,456},{62,142}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{62,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,404},{62,138}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,50},{62,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,126},{62,142}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,52},{62,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,118},{58,152}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,55},{58,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,312},{62,112}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{62,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,896},{92,114}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{92,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,444},{66,152}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,16},{66,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,764},{60,132}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{60,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,668},{48,156}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,3},{48,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,120},{48,154}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,2},{48,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,668},{48,154}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,4},{48,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,262},{66,162}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,5},{66,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,330},{78,152}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,31},{78,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,360},{94,132}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,65},{94,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{154,114}}</string>
                <key>offset</key>
                <string>{37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{154,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,410},{146,110}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,55},{146,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,130},{140,130}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,35},{140,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,130},{166,130}}</string>
                <key>offset</key>
                <string>{26,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,35},{166,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{176,128}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{176,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{178,128}}</string>
                <key>offset</key>
                <string>{28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,39},{178,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,312},{132,112}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{132,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{154,116}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,64},{154,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZY.pvr.ccz</string>
            <key>size</key>
            <string>{1127,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da7b70150549090fd0f419d2d2b5ea6f:2b53533f26cb7243c6c1f408c4848ec5:2e7cdb5c87b96bd2951da9861100c300$</string>
            <key>textureFileName</key>
            <string>avt_B_ZY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
