<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_YL_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,232},{108,112}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,88},{108,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{104,108}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,88},{104,108}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,122},{118,104}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,90},{118,104}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,248},{114,106}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,87},{114,106}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{138,106}}</string>
                <key>offset</key>
                <string>{-34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,87},{138,106}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,152},{140,108}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,86},{140,108}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,230},{112,106}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,88},{112,106}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{108,112}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,88},{108,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,118},{86,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,86},{86,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{82,114}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,86},{82,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,120},{92,116}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,84},{92,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,118},{96,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,86},{96,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,116},{82,112}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,88},{82,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,230},{80,112}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,88},{80,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{80,112}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,88},{80,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,234},{86,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,86},{86,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,142},{138,82}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,154},{138,82}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{146,62}}</string>
                <key>offset</key>
                <string>{38,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,147},{146,62}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{106,112}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,88},{106,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{106,110}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,89},{106,110}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,118},{108,112}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,88},{108,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,246},{108,112}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,88},{108,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{86,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,86},{86,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,118},{86,114}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{86,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,234},{86,114}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,86},{86,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{86,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,86},{86,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{120,108}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,86},{120,108}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,120},{114,110}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,86},{114,110}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,116},{110,110}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,84},{110,110}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,238},{114,114}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,82},{114,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,234},{110,112}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,82},{110,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,116},{106,112}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{106,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,242},{116,112}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{116,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,126},{120,108}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,86},{120,108}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{88,122}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{88,122}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,130},{86,126}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,86},{86,126}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,134},{86,128}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,85},{86,128}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{82,124}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{82,124}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,124},{88,120}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,81},{88,120}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{88,126}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,80},{88,126}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,264},{88,126}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,79},{88,126}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,128},{88,122}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{88,122}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,220},{80,106}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,91},{80,106}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,114},{80,110}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,86},{80,110}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,112},{82,106}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,89},{82,106}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,272},{82,128}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{82,128}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,228},{84,110}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,88},{84,110}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,226},{86,106}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,88},{86,106}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,138},{132,104}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,89},{132,104}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{134,110}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,84},{134,110}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{116,118}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,82},{116,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{92,130}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{92,130}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,116}}</string>
                <key>offset</key>
                <string>{34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,84},{148,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{116,114}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,86},{116,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,258},{96,116}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,84},{96,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{102,114}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,86},{102,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{88,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,86},{88,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,236},{96,114}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{96,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_YL.pvr.ccz</string>
            <key>size</key>
            <string>{2044,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d4256b372f7f01758289dfffb5f4c3:852b687709716c727685ba10c452187b:f6214778ce7510034c5575eb4cbdad63$</string>
            <key>textureFileName</key>
            <string>avt_A_YL.pvr.ccz</string>
        </dict>
    </dict>
</plist>
