<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_YJ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,256},{70,120}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{70,120}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,174},{64,128}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,147},{64,128}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,420},{56,126}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,147},{56,126}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,434},{54,130}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,141},{54,130}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,350},{66,128}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,142},{66,128}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,228},{74,120}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,150},{74,120}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,142},{80,116}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,155},{80,116}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,480},{80,118}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,155},{80,118}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,464},{70,134}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,129},{70,134}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,440},{64,132}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,131},{64,132}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,434},{56,132}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,131},{56,132}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,464},{56,134}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,129},{56,134}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,106},{66,132}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,131},{66,132}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,194},{74,134}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,129},{74,134}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2},{82,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,125},{82,138}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,228},{80,136}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,127},{80,136}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,330},{106,108}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,146},{106,108}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,330},{104,110}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,144},{104,110}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,226},{102,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,142},{102,112}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,192},{102,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,140},{102,114}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,458},{104,114}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,140},{104,114}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,308},{106,110}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,144},{106,110}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,368},{106,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,148},{106,106}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,156},{106,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,148},{106,106}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,378},{126,78}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,203},{126,78}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,368},{126,70}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,203},{126,70}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,478},{120,78}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,207},{120,78}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,476},{64,120}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,153},{64,120}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,478},{66,120}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,152},{66,120}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,478},{68,120}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,152},{68,120}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,478},{66,120}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,153},{66,120}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,94},{64,136}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,127},{64,136}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,440},{66,136}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,127},{66,136}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,240},{68,136}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,127},{68,136}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,106},{66,136}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,127},{66,136}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,264},{102,108}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,145},{102,108}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,264},{102,108}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,146},{102,108}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,368},{102,108}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,146},{102,108}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,160},{102,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,144},{102,110}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,174},{68,126}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,147},{68,126}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,414},{64,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,143},{64,128}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,306},{60,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,140},{60,126}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,304},{62,130}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,139},{62,130}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,260},{62,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,138},{62,124}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,368},{64,124}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,142},{64,124}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,368},{64,124}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,146},{64,124}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,434},{64,126}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,146},{64,126}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,156},{68,138}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,137},{68,138}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,434},{64,130}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,143},{64,130}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,480},{60,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,144},{60,118}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,386},{62,108}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{62,108}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,496},{62,102}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,139},{62,102}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,240},{64,110}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,135},{64,110}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,480},{64,118}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,134},{64,118}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,126},{64,138}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,137},{64,138}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,440},{122,106}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,145},{122,106}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,156},{114,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,147},{114,104}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,262},{110,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,147},{110,104}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,442},{116,108}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,143},{116,108}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,360},{120,102}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,142},{120,102}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,256},{122,102}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,141},{122,102}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,310},{124,102}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,141},{124,102}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,330},{128,102}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{128,102}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,196},{58,154}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,119},{58,154}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,426},{80,172}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,101},{80,172}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,426},{58,170}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,102},{58,170}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{92,196}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,75},{92,196}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{122,198}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,72},{122,198}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{152,212}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,57},{152,212}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,194},{70,170}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,101},{70,170}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,432},{70,156}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,116},{70,156}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,130},{64,160}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,103},{64,160}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,266},{78,164}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{78,164}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,96},{58,170}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,93},{58,170}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{90,182}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,81},{90,182}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{126,196}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,67},{126,196}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{162,214}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,49},{162,214}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,154},{70,176}}</string>
                <key>offset</key>
                <string>{17,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,87},{70,176}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,156},{70,150}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,113},{70,150}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,226},{102,140}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,114},{102,140}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,266},{102,158}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,96},{102,158}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{102,158}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,96},{102,158}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{256,190}}</string>
                <key>offset</key>
                <string>{-27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,64},{256,190}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{252,204}}</string>
                <key>offset</key>
                <string>{-44,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{252,204}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,216}}</string>
                <key>offset</key>
                <string>{-63,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{254,216}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{272,150}}</string>
                <key>offset</key>
                <string>{-65,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{272,150}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>B_YJ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,434},{106,126}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,128},{106,126}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_YJ.pvr.ccz</string>
            <key>size</key>
            <string>{2028,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a5abadaa7fe6bf844fa1cfc7082d97:08640de954a499419c34a00e878c0a9b:a3fa534146d248a8f5a83eab1faa1d17$</string>
            <key>textureFileName</key>
            <string>avt_B_YJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
