<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GY_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1528},{64,116}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,108},{64,116}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,500},{66,130}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,92},{66,130}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1586},{72,116}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,109},{72,116}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1404},{76,160}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,101},{76,160}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,860},{74,144}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,98},{74,144}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,208},{118,222}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{118,222}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{120,228}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,6},{120,228}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,368},{112,212}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,18},{112,212}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1404},{64,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,94},{64,122}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,172},{68,166}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,48},{68,166}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1492},{72,154}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,60},{72,154}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{76,124}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{76,124}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1704},{74,126}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,73},{74,126}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1098},{124,198}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,14},{124,198}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{122,196}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,22},{122,196}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1292},{106,170}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,49},{106,170}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1584},{154,100}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,104},{154,100}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,630},{112,142}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,62},{112,142}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1290},{186,92}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,112},{186,92}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1366},{180,96}}</string>
                <key>offset</key>
                <string>{51,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,106},{180,96}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1384},{168,106}}</string>
                <key>offset</key>
                <string>{49,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,97},{168,106}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{262,204}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{262,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,170},{252,196}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{252,196}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1102},{186,196}}</string>
                <key>offset</key>
                <string>{-29,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{186,196}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1482},{154,102}}</string>
                <key>offset</key>
                <string>{-30,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,150},{154,102}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1734},{154,96}}</string>
                <key>offset</key>
                <string>{30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,130},{154,96}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1398},{162,100}}</string>
                <key>offset</key>
                <string>{24,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,155},{162,100}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1586},{74,116}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,108},{74,116}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1586},{72,116}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,106},{72,116}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1704},{72,114}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,108},{72,114}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1586},{72,116}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,108},{72,116}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1704},{74,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,92},{74,122}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1500},{74,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,92},{74,122}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1660},{72,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,92},{72,122}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1586},{72,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,92},{72,122}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1548},{154,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,104},{154,100}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1464},{154,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,104},{154,100}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1740},{154,98}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,106},{154,98}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1740},{154,98}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,106},{154,98}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,872},{86,114}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,105},{86,114}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1620},{82,114}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,103},{82,114}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1174},{82,116}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,101},{82,116}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,752},{86,118}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,101},{86,118}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,936},{88,120}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,98},{88,120}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1492},{90,118}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,103},{90,118}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1110},{88,120}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,104},{88,120}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,632},{86,118}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,103},{86,118}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,356},{86,142}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,84},{86,142}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,208},{82,146}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{82,146}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,680},{82,138}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,75},{82,138}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,500},{86,128}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,76},{86,128}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,988},{88,120}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,78},{88,120}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1648},{90,112}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,84},{90,112}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1058},{88,114}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,89},{88,114}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,394},{86,140}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,86},{86,140}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,744},{136,94}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,108},{136,94}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1704},{130,92}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,110},{130,92}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1704},{126,92}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,110},{126,92}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{132,98}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,106},{132,98}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,840},{134,94}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,101},{134,94}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,298},{140,94}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,100},{140,94}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,202},{140,94}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,100},{140,94}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,584},{138,94}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,104},{138,94}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1232},{94,132}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{94,132}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1224},{192,178}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,72},{192,178}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,536},{208,180}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,70},{208,180}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,688},{208,178}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,71},{208,178}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,718},{208,176}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,70},{208,176}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,868},{208,174}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,70},{208,174}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{206,226}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{206,226}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,340},{68,158}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,57},{68,158}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,764},{94,144}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,73},{94,144}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1044},{190,204}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{190,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,896},{204,204}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{204,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{208,204}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{208,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{206,204}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{206,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{208,204}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{208,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,482},{208,204}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{208,204}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,328},{206,218}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,34},{206,218}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,482},{138,100}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,104},{138,100}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{198,140}}</string>
                <key>offset</key>
                <string>{44,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,64},{198,140}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,936},{198,160}}</string>
                <key>offset</key>
                <string>{45,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,44},{198,160}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1236},{196,160}}</string>
                <key>offset</key>
                <string>{45,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,44},{196,160}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{198,162}}</string>
                <key>offset</key>
                <string>{45,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,42},{198,162}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{200,168}}</string>
                <key>offset</key>
                <string>{44,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,41},{200,168}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,168}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{298,168}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>B_GY_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{296,166}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{296,166}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_GY.pvr.ccz</string>
            <key>size</key>
            <string>{1007,1848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ac5e32a94225c00ad545b74d18c883:d0d90276f46359b7bfbfccecedb47f1b:41b4de1f7dcef6ad813d38be2b10d584$</string>
            <key>textureFileName</key>
            <string>avt_B_GY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
