<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZYU_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,612},{130,110}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,77},{130,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1130},{102,118}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{102,118}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1492},{88,112}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{88,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,936},{144,134}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{144,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,720},{192,138}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,55},{192,138}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,218},{164,152}}</string>
                <key>offset</key>
                <string>{-35,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{164,152}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1234},{156,134}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,73},{156,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,936},{132,134}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,78},{132,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,724},{130,104}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,82},{130,104}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,948},{102,100}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,82},{102,100}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1402},{88,102}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,78},{88,102}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,830},{144,116}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,90},{144,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,248},{192,128}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,79},{192,128}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,372},{168,124}}</string>
                <key>offset</key>
                <string>{32,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,81},{168,124}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1212},{154,108}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{154,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1584},{128,108}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,80},{128,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1448},{112,132}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{112,132}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1342},{88,116}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,73},{88,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1804},{80,118}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,72},{80,118}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,966},{162,116}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,74},{162,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,494},{204,120}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,73},{204,120}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,494},{208,124}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,72},{208,124}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,812},{160,122}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,71},{160,122}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1694},{108,132}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,70},{108,132}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1934},{90,86}}</string>
                <key>offset</key>
                <string>{7,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,132},{90,86}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1934},{90,100}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,91},{90,100}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1392},{142,54}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,132},{142,54}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1886},{128,112}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,78},{128,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1176},{128,112}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,78},{128,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1804},{128,110}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,79},{128,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1674},{128,110}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,79},{128,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1544},{128,110}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,82},{128,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1432},{128,110}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{128,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1212},{128,110}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,83},{128,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1060},{128,114}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,82},{128,114}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1060},{104,132}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,70},{104,132}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1660},{108,134}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,69},{108,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1448},{108,134}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,70},{108,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1890},{106,134}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,69},{106,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1736},{96,114}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{96,114}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1834},{98,98}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{98,98}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1934},{90,98}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,79},{90,98}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1782},{106,110}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{106,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1290},{124,112}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,76},{124,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1928},{120,96}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,80},{120,96}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1834},{94,98}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,79},{94,98}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1500},{88,112}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{88,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1194},{96,102}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{96,102}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1832},{98,96}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,94},{98,96}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1934},{90,98}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,90},{90,98}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1728},{106,102}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{106,102}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1292},{124,108}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,88},{124,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{120,96}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,92},{120,96}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1614},{94,112}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{94,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1582},{88,112}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,88},{88,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1672},{108,116}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,72},{108,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,700},{120,110}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,75},{120,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1618},{114,116}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{114,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1404},{94,120}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,70},{94,120}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1890},{98,132}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{98,132}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,948},{110,134}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,75},{110,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1500},{114,116}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{114,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1770},{124,118}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,71},{124,118}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1072},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{132,138}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,720},{244,152}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{244,152}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{244,214}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,214}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,248},{244,166}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{244,166}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,498},{148,146}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,45},{148,146}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,498},{130,112}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,79},{130,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1212},{228,134}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{228,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{244,186}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,186}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{244,220}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,220}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,248},{244,224}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,224}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{244,226}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,226}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{244,168}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{244,168}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,646},{148,126}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{148,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,812},{122,126}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{122,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1442},{138,216}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{138,216}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{222,244}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{208,244}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{208,244}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,474},{216,244}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,966},{146,244}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{146,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1072},{126,144}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,59},{126,144}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZYU.pvr.ccz</string>
            <key>size</key>
            <string>{996,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db77750e0932a356e9593ed48244a02:a8e4a6921188203c3bb0226fe45303b1:f9698647e0953373bf00efc9077d8bdd$</string>
            <key>textureFileName</key>
            <string>avt_B_ZYU.pvr.ccz</string>
        </dict>
    </dict>
</plist>
