<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GS_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{114,98}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{114,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{70,104}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{70,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{82,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,59},{82,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{64,74}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,77},{64,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1346},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,66},{82,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,248},{120,84}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,63},{120,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{112,108}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{112,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{120,104}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{120,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,618},{114,86}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{114,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1772},{70,92}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{70,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1162},{80,108}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,42},{80,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,806},{64,102}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{64,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1894},{82,84}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,72},{82,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,254},{118,80}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,76},{118,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,772},{112,78}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{112,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,334},{118,78}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{118,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,84},{80,106}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,66},{80,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{108,92}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,68},{108,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{70,134}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,30},{70,134}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1920},{82,84}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{82,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{82,96}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,71},{82,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,910},{72,100}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{72,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,938},{108,84}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,76},{108,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1400},{92,98}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,68},{92,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1854},{88,64}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,109},{88,64}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,632},{88,58}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,93},{88,58}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1430},{102,64}}</string>
                <key>offset</key>
                <string>{20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,108},{102,64}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,706},{112,98}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,62},{112,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{116,96}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{116,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,424},{114,96}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,63},{114,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,806},{110,98}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,63},{110,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,596},{114,86}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{114,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,336},{116,86}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{116,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,414},{116,84}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,64},{116,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,852},{110,84}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{110,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{80,106}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,66},{80,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1268},{76,104}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{76,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{80,102}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{80,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1410},{80,102}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,68},{80,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1588},{96,92}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{96,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{100,96}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,60},{100,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1492},{94,100}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,58},{94,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1500},{88,98}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,57},{88,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1682},{88,92}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,59},{88,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1672},{92,96}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,60},{92,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1584},{86,98}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,59},{86,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1496},{86,100}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,56},{86,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1668},{94,74}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{94,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{98,72}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{98,72}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1590},{96,76}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,67},{96,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1844},{88,74}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{88,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1818},{90,74}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{90,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1744},{92,72}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{92,72}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1122},{88,78}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,66},{88,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1920},{86,74}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{86,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1190},{106,76}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{106,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{100,84}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,67},{100,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1296},{102,86}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,67},{102,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1024},{108,82}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,65},{108,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{106,76}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,69},{106,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1326},{102,82}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{102,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{104,86}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{104,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,994},{108,82}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,65},{108,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{82,108}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,62},{82,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1766},{86,92}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,61},{86,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,152}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{58,152}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,86},{80,132}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{80,132}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,166},{86,128}}</string>
                <key>offset</key>
                <string>{-23,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,15},{86,128}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,168},{78,128}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,15},{78,128}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{84,130}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{84,130}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{82,146}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{82,146}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1212},{82,78}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,70},{82,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{86,80}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{86,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,522},{58,108}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{58,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1108},{80,108}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,40},{80,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,906},{86,108}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,40},{86,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1012},{78,108}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,40},{78,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{84,108}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,40},{84,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1078},{82,108}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{82,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1244},{80,104}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{80,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1920},{72,86}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{72,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{70,120}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,34},{70,120}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{80,114}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{80,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,684},{86,114}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,34},{86,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,522},{94,114}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{94,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,500},{94,114}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,34},{94,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{88,114}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{88,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_GS.pvr.ccz</string>
            <key>size</key>
            <string>{412,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0144f662c6a6c8cd306109ff16477ee:19a5edc4f2ddd0ec37e0bb3b13649334:629ea02320f1f081ff2238e689540fd3$</string>
            <key>textureFileName</key>
            <string>avt_B_GS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
