<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU4_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,134},{71,85}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{71,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,134},{51,85}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,39},{51,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,176},{43,71}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,53},{43,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,130},{41,89}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,48},{41,89}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,87}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{129,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{127,89}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{127,89}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{119,89}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,51},{119,89}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,2},{87,87}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{87,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,79},{71,77}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,64},{71,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,81},{51,87}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,41},{51,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,164},{43,93}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,33},{43,93}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,148},{43,83}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,80},{43,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{129,57}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,86},{129,57}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{127,65}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,78},{127,65}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,93},{119,69}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,76},{119,69}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{87,79}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,68},{87,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,178},{77,81}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{77,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,156},{51,85}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,41},{51,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,132},{59,87}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,42},{59,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,101},{113,75}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,66},{113,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{109,97}}</string>
                <key>offset</key>
                <string>{-31,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,72},{109,97}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{115,95}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,66},{115,95}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{55,97}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{55,97}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,209},{75,79}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,62},{75,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,223},{65,65}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,102},{65,65}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,209},{65,79}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,83},{65,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{117,55}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,94},{117,55}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,134},{71,85}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{71,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,134},{69,85}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{69,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,221},{67,83}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{67,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,83},{69,83}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,57},{69,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,154},{71,77}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,64},{71,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,219},{69,77}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{69,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,221},{67,77}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,64},{67,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,219},{69,77}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{69,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,61},{77,81}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{77,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,79},{73,81}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,60},{73,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,154},{73,81}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{73,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,79},{73,81}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{73,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,144},{63,87}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{63,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,144},{63,79}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,58},{63,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,154},{63,83}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,55},{63,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,134},{65,87}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{65,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,221},{67,87}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,54},{67,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,221},{67,81}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{67,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,209},{67,79}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{67,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{71,89}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{71,89}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,154},{63,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,65},{63,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,154},{63,73}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,66},{63,73}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,223},{63,77}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,64},{63,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,156},{65,77}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{65,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,209},{67,79}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{67,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,209},{67,79}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{67,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,209},{67,79}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{67,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,61},{73,81}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{73,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,136},{85,71}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{85,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2},{85,75}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{85,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,209},{83,75}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,60},{83,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,59},{83,75}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{83,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,69},{83,77}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{83,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,79},{83,73}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,64},{83,73}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{85,75}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,61},{85,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,2},{87,75}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{87,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,69},{71,85}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,55},{71,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,227},{61,83}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,57},{61,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,223},{65,83}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,55},{65,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,158},{63,77}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{63,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,229},{59,83}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,31},{59,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,2},{73,87}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{73,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,79},{53,87}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,37},{53,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{73,93}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,46},{73,93}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,59},{71,77}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,64},{71,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,154},{61,71}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{61,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,223},{65,81}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,65},{65,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,193},{63,91}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,33},{63,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,227},{61,73}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,41},{61,73}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,219},{73,69}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,44},{73,69}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,75},{53,91}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,68},{53,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,91},{73,83}}</string>
                <key>offset</key>
                <string>{22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,86},{73,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,77},{75,81}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,60},{75,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,79},{75,75}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{75,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{75,85}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,56},{75,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{77,93}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{77,93}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,77},{49,91}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,28},{49,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,79},{57,77}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{57,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{97,71}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{97,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{75,91}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,72},{75,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_WU4.pvr.ccz</string>
            <key>size</key>
            <string>{1952,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8dff8e7230ff45707e167675633e978:5f4f468c3f88033dbaa953ff52586b76:ff25f67786bf5782418fc2b15d52c189$</string>
            <key>textureFileName</key>
            <string>avt_B_WU4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
