<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XY_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{62,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,86},{60,82}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,105},{60,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,182},{60,80}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,107},{60,80}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,182},{80,80}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,107},{80,80}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,176},{66,84}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,103},{66,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,92},{66,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{66,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{52,84}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,105},{52,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{62,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,92},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,93},{60,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{60,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,93},{60,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,94},{60,90}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,92},{60,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{80,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{80,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{66,88}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,93},{66,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,92},{66,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,93},{66,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,88},{52,84}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{52,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,92},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,93},{60,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{56,88}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,97},{56,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{72,90}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,98},{72,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,92},{84,86}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,101},{84,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,92},{70,88}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,99},{70,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,182},{74,86}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,99},{74,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,180},{82,86}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,99},{82,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,98},{92,86}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{92,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{56,88}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,97},{56,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{108,62}}</string>
                <key>offset</key>
                <string>{12,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,143},{108,62}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,66}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,122},{108,66}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{94,60}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,138},{94,60}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,102},{62,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,86},{64,82}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{64,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,172},{64,82}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{64,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,102},{62,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{62,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,93},{62,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,92},{62,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,93},{62,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{64,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,93},{64,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{62,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,93},{62,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{54,88}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,97},{54,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,92},{52,88}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{52,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,92},{54,88}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,97},{54,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{54,88}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,97},{54,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{60,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,91},{60,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,98},{60,94}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,90},{60,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{62,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,92},{62,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{62,86}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,93},{62,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,92},{62,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,90},{62,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,96},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,91},{56,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,196},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,92},{66,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,192},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,93},{70,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,182},{58,76}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,102},{58,76}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,182},{60,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,101},{60,80}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{62,82}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,103},{62,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,182},{62,78}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,103},{62,78}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,186},{62,76}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,102},{62,76}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{56,82}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,101},{56,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{66,82}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{66,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,182},{70,78}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{70,78}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,92},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,96},{60,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{60,86}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,96},{60,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,174},{62,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,98},{62,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,92},{64,88}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{64,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{64,88}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,95},{64,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{66,88}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{66,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{66,90}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{66,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,94},{66,90}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,98},{66,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{62,84}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{62,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,182},{70,86}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,101},{70,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,88},{70,82}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{70,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,174},{70,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,98},{70,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,186},{66,76}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,102},{66,76}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,194},{68,70}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,107},{68,70}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,86},{68,68}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,109},{68,68}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,90},{70,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{70,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,88},{62,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,97},{62,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,170},{70,70}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,111},{70,70}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,182},{70,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,95},{70,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,182},{70,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,95},{70,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,92},{66,88}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,93},{66,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,194},{68,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,90},{68,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,100},{68,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,89},{68,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,182},{70,78}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,103},{70,78}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{64,94}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,97},{64,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{66,84}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,105},{66,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,98},{56,94}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,93},{56,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{54,94}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,92},{54,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{60,92}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,93},{60,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,96}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,89},{64,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,112},{60,100}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,85},{60,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,92},{54,88}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,97},{54,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_XY.pvr.ccz</string>
            <key>size</key>
            <string>{2026,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc358b414f685adaea2efb6c3824712:5040bccc071923f21335cc1e2d06848c:4f90a9bd2504e28275fc7424b7155ce8$</string>
            <key>textureFileName</key>
            <string>avt_B_XY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
