<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZM_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1844},{58,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,88},{58,76}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,820},{48,68}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,97},{48,68}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,748},{48,70}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,96},{48,70}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1706},{52,74}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,91},{52,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1922},{64,74}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,90},{64,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{166,178}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{166,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,178}}</string>
                <key>offset</key>
                <string>{-31,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{166,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1332},{102,108}}</string>
                <key>offset</key>
                <string>{-34,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,55},{102,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1268},{52,90}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{52,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1706},{58,84}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,83},{58,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1630},{64,86}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,81},{64,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1566},{62,88}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,79},{62,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{64,84}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,83},{64,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{160,178}}</string>
                <key>offset</key>
                <string>{-34,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{160,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{158,178}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{158,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{134,98}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,85},{134,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1844},{72,74}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,113},{72,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,890},{106,46}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,135},{106,46}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1768},{72,74}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,91},{72,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1918},{72,72}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1844},{72,72}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,93},{72,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1768},{74,74}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{74,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{62,102}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,79},{62,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{60,104}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,78},{60,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1436},{64,102}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,77},{64,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1448},{64,100}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,79},{64,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{62,80}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,83},{62,80}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1920},{62,72}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,87},{62,72}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1184},{54,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{54,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,660},{48,86}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,82},{48,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1654},{50,86}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{50,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{64,82}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{64,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1766},{76,82}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,82},{76,82}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1584},{68,86}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,82},{68,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1360},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,80},{74,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1514},{68,88}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{68,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1092},{54,90}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,80},{54,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{58,86}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,79},{58,86}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{60,88}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,80},{60,88}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{64,90}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,80},{64,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1502},{62,94}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,79},{62,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1696},{70,84}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,80},{70,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{128,122}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{128,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,602},{128,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1212},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,478},{128,122}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,970},{128,120}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{128,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,354},{128,122}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1092},{128,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{128,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{128,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,848},{128,120}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,102},{128,126}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{128,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{128,120}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,726},{128,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_ZM_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{128,118}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_ZM.pvr.ccz</string>
            <key>size</key>
            <string>{318,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:839c909ca7ad63a37cfe8d7aec357b38:c2014cd123a05ba2127f9cf3911b17d9:15fbaad610699640a5e7d9abd1f6187c$</string>
            <key>textureFileName</key>
            <string>avt_A_ZM.pvr.ccz</string>
        </dict>
    </dict>
</plist>
