<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SMY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,418},{64,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{64,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,422},{76,92}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,75},{76,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,120},{76,88}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,80},{76,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{154,92}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{154,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,276},{128,134}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,69},{128,134}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,140},{128,134}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{128,134}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,140},{118,134}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,69},{118,134}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,418},{88,98}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{88,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{70,102}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{70,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,410},{72,104}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{72,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,414},{60,100}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,71},{60,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,410},{112,104}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{112,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{152,116}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,69},{152,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{142,116}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,69},{142,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,276},{130,116}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,69},{130,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,276},{56,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,71},{56,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,410},{98,66}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,117},{98,66}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,414},{98,74}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,105},{98,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,418},{54,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{54,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,418},{54,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{54,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,418},{54,96}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,72},{54,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,418},{54,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{54,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,74},{64,102}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,69},{64,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,406},{62,102}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{62,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,408},{62,102}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{62,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,408},{62,102}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{62,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,414},{78,100}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,67},{78,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,418},{74,96}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{74,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,410},{66,98}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{66,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,406},{56,102}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,67},{56,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,414},{60,100}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{60,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,210},{64,98}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,73},{64,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,418},{58,96}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{58,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,140},{68,98}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{68,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,414},{58,100}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,79},{58,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,414},{60,100}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{60,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,418},{68,96}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{68,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,414},{74,98}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,77},{74,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,414},{74,98}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,79},{74,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,210},{72,98}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,80},{72,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,310},{66,98}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,78},{66,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,418},{60,96}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{60,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{208,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{208,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,208},{204,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,206},{202,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,210},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,208},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,210},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{208,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{204,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{202,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,208},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,210},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_SMY.pvr.ccz</string>
            <key>size</key>
            <string>{2038,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d886f23a33ebf5a8c45bdac3883ec99e:705f5111d4ed5c098e2115ee13c6bb55:827bd0aa1814316b3fa75d185c13c452$</string>
            <key>textureFileName</key>
            <string>avt_A_SMY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
