<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_YS_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{80,112}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{80,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,338},{82,106}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{82,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,226},{82,110}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,68},{82,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,176},{106,172}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,8},{106,172}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{132,176}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{132,176}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,330},{124,148}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{124,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,122},{98,118}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{98,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,360},{88,116}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{88,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{110,124}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{110,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,378},{118,118}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,56},{118,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{104,148}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,26},{104,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{108,174}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{108,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{156,168}}</string>
                <key>offset</key>
                <string>{-33,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{156,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,362},{158,132}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,54},{158,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,352},{148,132}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,52},{148,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,128},{112,124}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,370},{126,92}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,106},{126,92}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,128},{122,84}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,105},{122,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,236},{82,112}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{82,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,118},{80,112}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{80,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,114},{82,110}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{82,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{82,110}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{82,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,384},{112,124}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,50},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,258},{112,124}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{112,124}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,132},{112,124}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{96,114}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{96,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,358},{92,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{92,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,122},{90,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{90,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,128},{92,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,58},{92,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,242},{90,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,54},{90,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{96,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{96,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{100,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{100,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,370},{98,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,60},{98,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,350},{114,132}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{114,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,152},{116,130}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{116,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,284},{116,124}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{116,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,250},{116,118}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{116,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{116,106}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{116,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,254},{122,108}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{122,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{126,110}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,50},{126,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{120,128}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{120,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,240},{84,116}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{84,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{88,118}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{88,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,410},{86,120}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,61},{86,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,374},{82,120}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,63},{82,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,374},{78,120}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{78,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,142}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,50},{184,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{172,148}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,57},{172,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,172},{156,156}}</string>
                <key>offset</key>
                <string>{36,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{156,156}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,252},{110,120}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,49},{110,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,362},{116,114}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,49},{116,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,120},{110,114}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{110,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,122},{108,116}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,43},{108,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,242},{112,116}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{112,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,178},{172,148}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,38},{172,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{180,156}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{180,156}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{180,174}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_YS.pvr.ccz</string>
            <key>size</key>
            <string>{1847,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ab0519cac78d7002a0ffc74367245c1:9628b95224817a49221f9a4b7b12a3be:3015aa86d71b6ec5b0afff0ff2e6e72d$</string>
            <key>textureFileName</key>
            <string>avt_A_YS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
