<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{90,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{90,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{96,124}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,43},{96,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,362},{114,104}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,63},{114,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,124},{88,118}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{88,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,336},{150,128}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{150,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{162,114}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{162,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{156,108}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{156,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{148,102}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{148,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,422},{80,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,44},{80,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{88,128}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{88,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{94,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,42},{94,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,374},{110,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{110,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{140,116}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{140,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,132}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{168,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,172},{150,126}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{150,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{138,120}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,43},{138,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,324},{144,82}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,95},{144,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,244},{116,92}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,102},{116,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,232},{100,106}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{100,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{100,110}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,57},{100,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,118},{100,112}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{100,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{100,110}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{100,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,416},{88,132}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,36},{88,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,134},{88,130}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,37},{88,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,270},{88,130}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,37},{88,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{88,130}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,37},{88,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,248},{98,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,48},{98,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,260},{92,124}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{92,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,132},{88,126}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{88,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,262},{92,126}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{92,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,128},{98,122}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{98,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,368},{104,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{104,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{106,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{106,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,236},{102,114}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{102,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,126},{106,120}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{106,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{104,114}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{104,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,396},{104,108}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{104,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,352},{106,102}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{106,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,104},{106,102}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{106,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,208},{106,100}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,46},{106,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,310},{104,98}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{104,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,120},{104,114}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{104,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_ZY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,266},{128,122}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{128,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,386},{118,114}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,63},{118,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{122,128}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{122,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,150},{140,128}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,45},{140,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,142},{136,126}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,47},{136,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,284},{136,132}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{136,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,132},{128,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,61},{128,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,252},{120,120}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,67},{120,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,390},{114,122}}</string>
                <key>offset</key>
                <string>{24,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,43},{114,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,402},{102,122}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,38},{102,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{98,146}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,14},{98,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,144},{124,138}}</string>
                <key>offset</key>
                <string>{15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,22},{124,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{130,134}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,26},{130,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,292},{132,138}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,26},{132,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,280},{110,134}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,46},{110,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,138},{130,120}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,63},{130,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_ZY.pvr.ccz</string>
            <key>size</key>
            <string>{1762,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4944260f8e3f891c32be956aebac49d:8933cc2a63baecbdde480ddcd8580f6d:ea6b36fff73cddf4d7a17324b4d61082$</string>
            <key>textureFileName</key>
            <string>avt_A_ZY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
