<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_CP_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,402},{96,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,60},{70,96}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{70,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,266},{40,110}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{40,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,216},{90,80}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,106},{90,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,130},{68,84}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,100},{68,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,108},{50,100}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,81},{50,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,414},{66,78}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,111},{66,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,160},{96,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,390},{94,92}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{94,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,148},{68,92}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,85},{68,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,130},{40,92}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,86},{40,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,308},{90,92}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,88},{90,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,208},{70,90}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,90},{70,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,282},{52,90}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,93},{52,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,200},{66,94}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,86},{66,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{94,92}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{94,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,392},{54,90}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,93},{54,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{102,88}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,97},{102,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{134,84}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{134,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,224},{68,82}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,105},{68,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,210},{98,86}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,102},{98,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,86}}</string>
                <key>offset</key>
                <string>{-30,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,99},{136,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,402},{72,84}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,101},{72,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,392},{54,90}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,93},{54,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,62},{110,66}}</string>
                <key>offset</key>
                <string>{23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,162},{110,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,58},{104,58}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,114},{104,58}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,386},{102,58}}</string>
                <key>offset</key>
                <string>{50,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,132},{102,58}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,402},{96,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,216},{96,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,130},{96,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{96,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,116},{94,92}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{94,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,298},{96,90}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,87},{96,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,390},{96,90}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,87},{96,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,174},{94,92}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{94,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,394},{54,90}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,93},{54,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,242},{56,92}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,91},{56,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,336},{56,90}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,93},{56,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,336},{54,90}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,93},{54,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,400},{62,82}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,101},{62,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,336},{64,82}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,101},{64,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,336},{64,86}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,95},{64,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{64,88}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,94},{64,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,400},{62,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,98},{62,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,282},{62,80}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,100},{62,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,176},{58,88}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{58,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,330},{62,82}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,101},{62,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,336},{62,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,268},{66,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,92},{66,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,132},{66,94}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{66,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,64},{64,96}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,88},{64,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,182},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,91},{62,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,118},{62,96}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,91},{62,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,148},{58,94}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,88},{58,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,218},{62,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,392},{96,88}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{96,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,60},{90,86}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,96},{90,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,246},{82,90}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,91},{82,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,64},{76,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,89},{76,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,154},{76,86}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,92},{76,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,402},{80,84}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,95},{80,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,246},{86,88}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,91},{86,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,302},{96,88}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{96,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,60},{94,86}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{94,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,112},{70,96}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{70,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,372},{60,108}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,78},{60,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,118},{54,116}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,72},{54,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,60},{56,118}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,70},{56,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,266},{56,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,70},{56,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{56,118}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,70},{56,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{58,124}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,64},{58,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,308},{92,92}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{92,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,116},{68,92}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,85},{68,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{60,124}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,57},{60,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{54,122}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,59},{54,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{56,132}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,49},{56,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{56,134}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,46},{56,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{56,130}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,49},{56,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{58,126}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,51},{58,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,280},{54,90}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,94},{54,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,268},{102,86}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,98},{102,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,378},{56,110}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,76},{56,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,50},{56,108}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,79},{56,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{56,118}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,69},{56,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,60},{54,118}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,68},{54,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,62},{48,118}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,67},{48,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{46,132}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,52},{46,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_CP.pvr.ccz</string>
            <key>size</key>
            <string>{1305,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d528ef838fca49012a2c769aa6afda:8fc931c1342896fc4079e6371516da4d:48c2fa1bad97f2f166b59f3ef5f2713b$</string>
            <key>textureFileName</key>
            <string>avt_B_CP.pvr.ccz</string>
        </dict>
    </dict>
</plist>
