<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_LM_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,268},{72,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,80},{72,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{80,108}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,80},{80,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,120},{80,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,70},{80,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{98,120}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,65},{98,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{78,134}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,51},{78,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,122},{112,118}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,66},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{104,124}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{104,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{70,108}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,79},{70,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{106,118}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{106,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,242},{98,116}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,74},{98,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,242},{98,118}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,72},{98,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,124},{102,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,70},{102,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{120,116}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,74},{120,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{102,116}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,74},{102,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,242},{98,116}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{98,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,122},{106,118}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{106,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{140,82}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,141},{140,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,80}}</string>
                <key>offset</key>
                <string>{23,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,123},{158,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2},{74,108}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,80},{74,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,220},{72,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{72,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,268},{72,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,80},{72,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,112},{74,108}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,80},{74,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{108,118}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{108,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,122},{106,118}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,73},{106,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,122},{110,118}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{110,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{108,118}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{108,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,222},{74,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,78},{74,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{78,110}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,76},{78,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{76,112}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,73},{76,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,116},{74,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{74,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,114},{76,110}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,72},{76,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,114},{76,110}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{76,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,226},{76,108}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{76,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,222},{74,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,78},{74,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,122},{116,118}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{116,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{114,118}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{114,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,122},{108,116}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,74},{108,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,118},{104,114}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,73},{104,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,234},{104,106}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,70},{104,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,230},{110,104}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,67},{110,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{114,106}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{116,118}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{116,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,238},{100,106}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,80},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{138,106}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,82},{138,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{80,126}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{80,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,112},{84,106}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,79},{84,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,246},{86,106}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,78},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,142},{82,134}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{82,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,124},{96,120}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{96,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,242},{84,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,74},{84,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,250},{86,114}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,76},{86,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{80,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,74},{80,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,144},{138,114}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,76},{138,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,242},{98,114}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{98,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,240},{100,114}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,76},{100,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{140,116}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,74},{140,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,138},{128,118}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,72},{128,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_LM_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,128},{120,118}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,73},{120,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_LM.pvr.ccz</string>
            <key>size</key>
            <string>{2017,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9a3c74f8636eb8399f29930813c7e2:1f53f4bca7ec4ea05f1f08b48abf3fb9:67aa2ebb4cb56effc354aa68ee2cadd9$</string>
            <key>textureFileName</key>
            <string>avt_A_LM.pvr.ccz</string>
        </dict>
    </dict>
</plist>
