<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU5_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,778},{58,78}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{58,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,674},{66,78}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,65},{66,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,190},{82,80}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,65},{82,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{142,68}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,75},{142,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{122,92}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,49},{122,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,576},{132,76}}</string>
                <key>offset</key>
                <string>{39,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,69},{132,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,306},{118,78}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{118,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,850},{60,76}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{60,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{146,78}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{146,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{136,76}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,76},{136,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,710},{128,82}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,71},{128,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,146},{62,88}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,65},{62,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,386},{116,76}}</string>
                <key>offset</key>
                <string>{-33,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,81},{116,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,166},{110,106}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,46},{110,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,190},{114,80}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,71},{114,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,84},{144,80}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,71},{144,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,482},{136,68}}</string>
                <key>offset</key>
                <string>{24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,103},{136,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,552},{120,82}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,86},{120,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,936},{58,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{58,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,772},{60,76}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,70},{60,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,396},{60,76}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,70},{60,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,858},{58,76}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,70},{58,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,80}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{146,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{146,80}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{146,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,78}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,74},{146,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,80}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{146,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,742},{70,78}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{70,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,694},{64,76}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{64,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,918},{62,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,65},{62,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,614},{64,78}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,65},{64,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,482},{68,78}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,65},{68,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,936},{62,74}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{62,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,316},{58,78}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{58,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,464},{68,84}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{68,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{138,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,73},{138,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,412},{136,68}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{136,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,552},{132,68}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,72},{132,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,840},{134,74}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,71},{134,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{138,76}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,71},{138,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,274},{136,72}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,74},{136,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,274},{136,68}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,72},{136,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,552},{136,66}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,74},{136,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,236},{58,78}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{58,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{52,142}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{52,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,840},{56,134}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,7},{56,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,550},{52,138}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,3},{52,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,136},{52,138}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,4},{52,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,82},{52,138}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,4},{52,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,778},{54,138}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,4},{54,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,778},{56,138}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{56,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{146,78}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,74},{146,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,474},{64,138}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,16},{64,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,420},{44,154}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{44,154}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,326},{48,152}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,2},{48,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,822},{46,152}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,2},{46,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,734},{42,152}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,2},{42,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,690},{42,152}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,2},{42,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU5_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,976},{38,152}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,2},{38,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WU5.pvr.ccz</string>
            <key>size</key>
            <string>{500,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:178e9a3404056662b364afbc6e965a87:c09db72b71a2173cef9fee089094a4b1:779b9d6530d0a54b2db94b02b49de2c1$</string>
            <key>textureFileName</key>
            <string>avt_A_WU5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
