<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SQ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,299},{99,81}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,103},{99,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,400},{87,81}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,103},{87,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,210},{101,81}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,103},{101,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,214},{101,83}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,101},{101,83}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,313},{85,129}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{85,129}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,204},{79,125}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,58},{79,125}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,420},{59,101}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,83},{59,101}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,411},{77,89}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,95},{77,89}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,313},{99,105}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,87},{99,105}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,188},{87,121}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{87,121}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,123},{101,103}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,91},{101,103}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,313},{101,129}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{101,129}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{85,169}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,75},{85,169}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,188},{79,115}}</string>
                <key>offset</key>
                <string>{10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,129},{79,115}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,123},{59,115}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,112},{59,115}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,212},{77,109}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,98},{77,109}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,105},{83,97}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,93},{83,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,402},{59,135}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,53},{59,135}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,214},{85,99}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,89},{85,99}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,198},{113,97}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{113,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{177,89}}</string>
                <key>offset</key>
                <string>{-35,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,99},{177,89}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,313},{139,87}}</string>
                <key>offset</key>
                <string>{-55,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,101},{139,87}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,311},{109,91}}</string>
                <key>offset</key>
                <string>{-38,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,97},{109,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,299},{99,97}}</string>
                <key>offset</key>
                <string>{-30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,93},{99,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,305},{123,81}}</string>
                <key>offset</key>
                <string>{-27,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,118},{123,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,184},{123,59}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{123,59}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,131},{99,81}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,144},{99,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,422},{57,79}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,104},{57,79}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,432},{61,79}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,105},{61,79}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,391},{63,79}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,105},{63,79}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,302},{61,79}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,104},{61,79}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,301},{57,129}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,87},{57,129}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,123},{59,129}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,86},{59,129}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,301},{63,127}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,87},{63,127}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,117},{61,127}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,88},{61,127}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,103},{93,99}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,93},{93,99}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,308},{95,97}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,95},{95,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,312},{95,97}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,95},{95,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,312},{95,97}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,95},{95,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,409},{79,91}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,96},{79,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,302},{67,87}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,99},{67,87}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,391},{57,91}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,93},{57,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,289},{59,95}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{59,95}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,398},{61,91}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,99},{61,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,430},{63,85}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,101},{63,85}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,243},{57,91}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,94},{57,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,89},{59,95}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,94},{59,95}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,301},{79,101}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{79,101}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,243},{67,115}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,105},{67,115}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,184},{57,127}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,101},{57,127}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,228},{59,131}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,96},{59,131}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,180},{61,125}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,99},{61,125}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,245},{61,115}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,104},{61,115}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,432},{57,105}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,101},{57,105}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,422},{57,105}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,98},{57,105}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,89},{101,97}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,95},{101,97}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,309},{111,95}}</string>
                <key>offset</key>
                <string>{-28,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,101},{111,95}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,93},{121,93}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,96},{121,93}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,214},{131,85}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,97},{131,85}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,131},{135,81}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,99},{135,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,301},{129,81}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,101},{129,81}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,188},{119,87}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,95},{119,87}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,123},{109,87}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,94},{109,87}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,398},{81,91}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,108},{81,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,407},{87,95}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,111},{87,95}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,409},{91,85}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,116},{91,85}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,121},{113,91}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,110},{113,91}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,198},{111,113}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,96},{111,113}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{117,159}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,48},{117,159}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,2},{119,153}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,57},{119,153}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{127,163}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,55},{127,163}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,331},{91,149}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,87},{91,149}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,103},{93,147}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,89},{93,147}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,105},{97,153}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,81},{97,153}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,331},{111,149}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{111,149}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,2},{113,147}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,80},{113,147}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{119,161}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{119,161}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{135,169}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{135,169}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,181}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,61},{145,181}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,210},{135,101}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,96},{135,101}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,97},{143,111}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,101},{143,111}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{149,119}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,95},{149,119}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{149,135}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,79},{149,135}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,204},{137,125}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,89},{137,125}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{199,101}}</string>
                <key>offset</key>
                <string>{-28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{199,101}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{197,93}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{197,93}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>B_SQ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{185,99}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{185,99}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_SQ.pvr.ccz</string>
            <key>size</key>
            <string>{2031,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaa589e3af175eb8d0b2786e6e1c4d94:726911356b7ea3b55fc067be6ef357d2:f19b1a242859b60223b7ad3ac7ebab73$</string>
            <key>textureFileName</key>
            <string>avt_B_SQ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
