<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SSX_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,437},{69,73}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,91},{69,73}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,350},{39,81}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,85},{39,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,265},{35,83}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,84},{35,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,355},{39,81}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,86},{39,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,385},{51,83}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,84},{51,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,439},{69,73}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,94},{69,73}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,172},{77,73}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,94},{77,73}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,97},{77,73}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,93},{77,73}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,284},{71,93}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,69},{71,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,464},{39,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,69},{39,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,290},{37,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,69},{37,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,225},{39,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,69},{39,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,385},{51,93}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,69},{51,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,284},{69,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{69,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,2},{77,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{77,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,290},{75,93}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{75,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,355},{61,81}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,82},{61,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,214},{65,81}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,81},{65,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,267},{75,83}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{75,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,271},{83,79}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{83,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,355},{75,81}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,81},{75,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,435},{71,79}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,83},{71,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,208},{61,79}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,83},{61,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,271},{59,79}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,83},{59,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,439},{57,69}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,135},{57,69}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,247},{57,63}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,105},{57,63}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{105,39}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{105,39}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,284},{69,73}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,91},{69,73}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,438},{69,71}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,93},{69,71}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,438},{69,71}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,93},{69,71}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,438},{71,73}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,91},{71,73}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,155},{71,95}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,67},{71,95}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,435},{71,95}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,67},{71,95}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,433},{71,93}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,69},{71,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,435},{71,93}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,69},{71,93}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,350},{63,81}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,82},{63,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,373},{63,81}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,83},{63,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,147},{65,81}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,83},{65,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,350},{63,79}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{63,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,352},{63,83}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,80},{63,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,433},{67,81}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,84},{67,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,208},{61,87}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{61,87}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,352},{59,85}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{59,85}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,433},{69,79}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,83},{69,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,350},{67,79}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{67,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,297},{51,81}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,82},{51,81}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,208},{57,85}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,80},{57,85}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,147},{63,89}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{63,89}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,352},{69,85}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{69,85}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,271},{61,79}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,81},{61,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,320},{59,83}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,81},{59,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,438},{69,87}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,80},{69,87}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,265},{67,83}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,81},{67,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,212},{51,85}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,80},{51,85}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,431},{57,83}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,80},{57,83}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,352},{77,85}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{77,85}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,438},{71,85}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,83},{71,85}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,439},{69,79}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,83},{69,79}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,137},{69,91}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,83},{69,91}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,137},{67,91}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,85},{67,91}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,137},{69,89}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,85},{69,89}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,438},{71,89}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{71,89}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,284},{77,87}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{77,87}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,163},{145,125}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,51},{145,125}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,382},{141,127}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,55},{141,127}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,155},{137,127}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,60},{137,127}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,147},{137,141}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{137,141}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,290},{143,143}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,54},{143,143}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{151,155}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{151,155}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{151,159}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,53},{151,159}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,163},{145,125}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{145,125}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,290},{141,129}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,61},{141,129}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,155},{135,127}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,67},{135,127}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,155},{137,133}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{137,133}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{143,143}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{143,143}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{151,155}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,56},{151,155}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{151,159}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,62},{151,159}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{219,221}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{219,221}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{145,133}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,50},{145,133}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,382},{141,127}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,55},{141,127}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,290},{143,125}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,61},{143,125}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{157,133}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,59},{157,133}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{167,143}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{167,143}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,225},{173,155}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{173,155}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{151,159}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,53},{151,159}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>B_SSX_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_SSX.pvr.ccz</string>
            <key>size</key>
            <string>{1935,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cfe67b4ef8a0e83ce7bb7d5cf80b8e6:9d18be6d858a8b0f08e5571a4bc66ab8:020e996bbca93948caaa75e5ee6a68f1$</string>
            <key>textureFileName</key>
            <string>avt_B_SSX.pvr.ccz</string>
        </dict>
    </dict>
</plist>
