<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZJ_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,85},{79,77}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,79},{79,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,146},{73,71}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,85},{73,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,2},{65,71}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,86},{65,71}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{77,75}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,80},{77,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,109},{79,103}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{79,103}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{71,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{71,103}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{53,105}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,52},{53,105}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{53,101}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{53,101}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{61,89}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{61,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{75,83}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,68},{75,83}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{71,75}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{71,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,87},{83,81}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,69},{83,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,73}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,76},{109,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{105,81}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,68},{105,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,105},{99,73}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,80},{99,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{81,83}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,70},{81,83}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,107},{103,59}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,107},{103,59}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,85},{81,59}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,97},{81,59}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{59,87}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{59,87}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,91},{59,87}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{59,87}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{59,87}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{59,87}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,91},{59,87}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{59,87}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,190},{61,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,61},{61,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{61,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{61,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,97},{61,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{61,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,95},{59,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,61},{59,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{89,79}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,78},{89,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{87,77}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,79},{87,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{89,75}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,81},{89,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{95,75}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{95,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{97,75}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{97,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,101},{95,75}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,78},{95,75}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,93},{89,77}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,79},{89,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,93},{87,77}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,81},{87,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,182},{71,79}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,83},{71,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,166},{71,77}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,82},{71,77}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,146},{73,73}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,84},{73,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,75},{75,69}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{75,69}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,184},{77,69}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,84},{77,69}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,184},{77,69}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,84},{77,69}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,180},{79,73}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,84},{79,73}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,180},{73,79}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,83},{73,79}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,198},{55,89}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,68},{55,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,196},{57,91}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,67},{57,91}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,91},{61,85}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,70},{61,85}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,178},{75,83}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,73},{75,83}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,170},{75,81}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{75,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{75,81}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{75,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,87},{77,81}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{77,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,172},{77,81}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{77,81}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{65,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,62},{65,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,93},{65,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,62},{65,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,93},{61,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{61,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,188},{65,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,62},{65,89}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{65,93}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{65,93}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,99},{65,95}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,62},{65,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{63,95}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{63,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>B_ZJ_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,99},{61,95}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,62},{61,95}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_ZJ.pvr.ccz</string>
            <key>size</key>
            <string>{1556,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6beafba36d89e0b137d7c70732282b3f:acb0777b1afbda1eaa47cac5df981ff3:56ce7f81eafc492d705a3f9dddd9d6e4$</string>
            <key>textureFileName</key>
            <string>avt_A_ZJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
