<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_DC_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1277},{85,89}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,79},{85,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{83,95}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,80},{83,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1544},{75,91}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,79},{75,91}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1443},{73,97}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,78},{73,97}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{93,91}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{93,91}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,991},{55,91}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{55,91}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1473},{79,89}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,71},{79,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1703},{71,89}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{71,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1846},{67,89}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,68},{67,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1369},{79,93}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,66},{79,93}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1364},{77,95}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{77,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{77,95}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,64},{77,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1084},{57,95}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{57,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1181},{99,85}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{99,85}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1696},{73,87}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{73,87}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1547},{77,85}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,74},{77,85}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,894},{95,53}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,126},{95,53}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1857},{89,65}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,107},{89,65}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1902},{63,85}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,82},{63,85}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1967},{61,85}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,82},{61,85}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1982},{59,87}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,81},{59,87}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1948},{61,87}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{61,87}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{65,97}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{65,97}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1564},{67,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{67,97}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{69,97}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{69,97}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1374},{69,97}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,62},{69,97}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1932},{59,93}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{59,93}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{63,95}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{63,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{69,93}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{69,93}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1663},{67,95}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{67,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1760},{65,95}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,67},{65,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1277},{63,95}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{63,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1839},{61,95}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,65},{61,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1776},{61,95}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,63},{61,95}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1915},{65,87}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,71},{65,87}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1621},{73,89}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,70},{73,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1464},{81,89}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,71},{81,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1282},{85,87}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,71},{85,87}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{85,89}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,70},{85,89}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1461},{81,87}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{81,87}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1626},{75,85}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{75,85}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1771},{73,85}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,72},{73,85}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{151,121}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,69},{151,121}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1021},{157,125}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{157,125}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{161,123}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,70},{161,123}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{163,131}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{163,131}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{151,141}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{151,141}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{157,157}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{157,157}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{161,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{161,171}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,179}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{163,179}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1148},{151,127}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,63},{151,127}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,894},{157,125}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{157,125}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,767},{161,125}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{161,125}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,636},{163,129}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,64},{163,129}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,491},{151,143}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{151,143}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,161},{157,155}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{157,155}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,318},{161,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{161,171}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>B_DC_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{163,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{163,175}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_DC.pvr.ccz</string>
            <key>size</key>
            <string>{343,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fc367f41ba9b6177ee2ee088b201aef:459616cc86294c7e7eace78b36eee81c:c2e086f46a024fdef588f4cef77f4670$</string>
            <key>textureFileName</key>
            <string>avt_A_DC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
