<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,96},{72,84}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{72,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{88,84}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,102},{88,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,96},{80,84}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{80,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,94},{82,86}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,103},{82,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,92},{66,84}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,102},{66,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,2},{52,86}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,101},{52,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,100},{76,82}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,107},{76,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,96},{72,84}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{72,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{54,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,94},{54,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{48,94}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,94},{48,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{46,94}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,94},{46,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{56,92}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,94},{56,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{70,90}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,96},{70,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{86,90}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{86,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{68,90}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,96},{68,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{54,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,94},{54,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{94,54}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,143},{94,54}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,92},{84,66}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,128},{84,66}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,96},{72,84}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{72,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,96},{70,86}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,99},{70,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,98},{74,86}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,99},{74,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,98},{72,84}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{72,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{56,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,94},{56,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{56,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,94},{56,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{56,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,94},{56,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{56,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,94},{56,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,91},{66,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{68,94}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,91},{68,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{68,92}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{68,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{62,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,93},{62,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{58,88}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,90},{58,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{58,90}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,92},{58,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{58,88}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,94},{58,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{60,88}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,94},{60,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,94},{60,82}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,101},{60,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,94},{60,82}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,100},{60,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,94},{64,82}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,101},{64,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,94},{68,82}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,101},{68,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,94},{66,82}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,100},{66,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,2},{58,84}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,100},{58,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,92},{68,84}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{68,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,96},{72,82}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,103},{72,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,98},{78,88}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,99},{78,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,100},{76,86}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,101},{76,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{66,90}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,93},{66,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,92},{64,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,97},{64,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{62,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{62,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,90},{62,84}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,95},{62,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,92},{64,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,96},{64,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{66,90}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,92},{66,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{60,92}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,97},{60,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,96},{68,80}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,108},{68,80}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{62,90}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,95},{62,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{66,94}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,92},{66,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{62,96}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,89},{62,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,90},{66,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,102}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,85},{68,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_XY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,88},{60,84}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,101},{60,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_XY.pvr.ccz</string>
            <key>size</key>
            <string>{2026,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4a024ecbfaefa820db0516457db477:bacd3236e4b5fb6b2b803cda78d72938:6f6c99809b492c49c5eab5827b5f2213$</string>
            <key>textureFileName</key>
            <string>avt_A_XY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
