<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU2_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{51,97}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{51,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,200},{65,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{65,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,311},{67,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{67,101}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,105},{67,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{67,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,99},{65,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,50},{65,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,101},{59,97}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,47},{59,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{75,97}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,45},{75,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,394},{47,95}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{47,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{51,99}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{51,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{67,107}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{67,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,438},{67,105}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,27},{67,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,440},{67,105}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,33},{67,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,331},{65,107}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{65,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,105},{59,101}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{59,101}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,111},{75,103}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{75,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,103},{47,99}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{47,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,398},{95,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{95,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,412},{95,89}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{95,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,91},{87,93}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,40},{87,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,99},{89,93}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{89,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,291},{85,91}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{85,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,208},{99,83}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{99,83}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,105},{101,87}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,47},{101,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,317},{101,87}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,46},{101,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,208},{101,65}}</string>
                <key>offset</key>
                <string>{-20,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,113},{101,65}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{101,53}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,83},{101,53}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,409},{87,67}}</string>
                <key>offset</key>
                <string>{24,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,105},{87,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,101},{51,97}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{51,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,200},{51,97}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,47},{51,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,101},{49,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{49,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,200},{49,97}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{49,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,103},{51,99}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{51,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,206},{51,99}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{51,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,204},{49,99}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,42},{49,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,307},{49,99}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,42},{49,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,101},{97,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,46},{97,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{95,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{95,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,204},{97,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,46},{97,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,305},{97,87}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{97,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,212},{53,103}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,41},{53,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,105},{55,101}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,43},{55,101}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{55,97}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{55,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{51,95}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{51,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,394},{49,95}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{49,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,299},{49,97}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,39},{49,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,107},{51,103}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,37},{51,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,107},{53,103}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,41},{53,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,402},{53,97}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{53,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{55,101}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,39},{55,101}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{53,99}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,44},{53,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,299},{51,97}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,44},{51,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,398},{49,97}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,40},{49,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,180},{49,91}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,36},{49,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,194},{51,91}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,36},{51,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,402},{53,97}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{53,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,320},{89,87}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,45},{89,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,388},{93,85}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{93,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,208},{101,83}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{101,83}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{107,87}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,43},{107,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,331},{105,89}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{105,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,311},{99,87}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,38},{99,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{93,87}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{93,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,231},{89,87}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,45},{89,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,99},{73,95}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,52},{73,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,297},{73,95}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,52},{73,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,303},{73,97}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{73,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,404},{73,97}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{73,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,200},{73,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{73,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,299},{73,95}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,51},{73,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,196},{67,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,50},{67,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{51,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{51,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,222},{73,107}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{73,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{73,107}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{73,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,109}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{75,109}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{73,107}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{73,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{73,107}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{73,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{73,103}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{73,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,216},{67,103}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{67,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,309},{51,99}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{51,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,196},{93,93}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{93,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,293},{93,93}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,46},{93,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,414},{95,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{95,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,410},{97,91}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,48},{97,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{93,89}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{93,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{101,89}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,49},{101,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{101,85}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,51},{101,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{97,87}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{97,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_WU2.pvr.ccz</string>
            <key>size</key>
            <string>{1285,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3a6c3773dc193db1c46d4403954504:2297a48c1c38fb216bec9b0d09316f66:47b2dcd303b6492194b5e19e5870862b$</string>
            <key>textureFileName</key>
            <string>avt_B_WU2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
