<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_LVB_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1343},{75,135}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,59},{75,135}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1936},{105,119}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,77},{105,119}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1480},{81,123}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,78},{81,123}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1815},{87,129}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,72},{87,129}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1264},{101,151}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,52},{101,151}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,903},{163,137}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,59},{163,137}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1171},{155,109}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,82},{155,109}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1123},{155,109}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,82},{155,109}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1480},{77,141}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,50},{77,141}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1262},{103,149}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,42},{103,149}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{81,161}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,30},{81,161}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1264},{77,165}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,26},{77,165}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1153},{109,167}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,24},{109,167}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,476},{165,157}}</string>
                <key>offset</key>
                <string>{23,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{165,157}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1115},{155,145}}</string>
                <key>offset</key>
                <string>{27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,46},{155,145}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,754},{155,147}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{155,147}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1433},{121,111}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,69},{121,111}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1474},{117,125}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,55},{117,125}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1464},{127,115}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{127,115}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1781},{129,111}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,69},{129,111}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,635},{173,117}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,63},{173,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1123},{179,139}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,71},{179,139}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1343},{139,135}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{139,135}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1559},{133,121}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,67},{133,121}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1787},{147,81}}</string>
                <key>offset</key>
                <string>{-29,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,126},{147,81}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1369},{147,83}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,116},{147,83}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1682},{133,97}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,131},{133,97}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1827},{97,117}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{97,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1946},{97,117}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,80},{97,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1946},{97,119}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{97,119}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1946},{95,119}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,79},{95,119}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1367},{95,149}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,40},{95,149}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1375},{97,147}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,42},{97,147}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1276},{97,149}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,40},{97,149}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1280},{95,151}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,38},{95,151}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1936},{105,147}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,54},{105,147}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1787},{105,147}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,53},{105,147}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1682},{103,149}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,52},{103,149}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1068},{101,151}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,51},{101,151}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1712},{83,113}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,79},{83,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1593},{77,117}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,75},{77,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1605},{75,119}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{75,119}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1664},{73,121}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{73,121}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1827},{73,113}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,72},{73,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1947},{77,109}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,77},{77,109}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1556},{83,111}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,80},{83,111}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1739},{85,113}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,79},{85,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1454},{83,147}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{83,147}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1433},{79,143}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,55},{79,143}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1887},{75,131}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{75,131}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1539},{75,123}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,54},{75,123}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1826},{73,119}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,51},{73,119}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1539},{77,123}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,49},{77,123}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1912},{83,131}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,48},{83,131}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1282},{85,149}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,51},{85,149}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1593},{123,117}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,60},{123,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1827},{119,117}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{119,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1696},{119,117}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{119,117}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1641},{123,119}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,58},{123,119}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1153},{121,113}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,58},{121,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1581},{125,113}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,57},{125,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1712},{123,113}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{123,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1762},{123,113}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,61},{123,113}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,755},{197,225}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{197,225}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,731},{187,229}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,14},{187,229}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,709},{197,245}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{197,245}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,251},{199,255}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{199,255}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{215,249}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{215,249}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,954},{197,227}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{197,227}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,508},{205,245}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{205,245}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{261,249}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{261,249}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,239},{183,235}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{183,235}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,920},{193,239}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{193,239}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,251},{219,249}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{219,249}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1287},{221,247}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{221,247}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{217,241}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{217,241}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,908},{213,241}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{213,241}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,502},{205,247}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{205,247}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,261}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,502},{227,227}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{227,227}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{251,247}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{251,247}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{259,249}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{259,249}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,253},{261,247}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,247}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{259,235}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,235}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{259,231}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,231}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{257,247}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,247}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>B_LVB_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{261,259}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{261,259}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_LVB.pvr.ccz</string>
            <key>size</key>
            <string>{1136,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c70c6d8f89f8e7dd10441767354cb1c7:1102c2a7d34dd6c35d41d87c3369e78d:e215058acdf4ed9762ecb655d2c6cc5a$</string>
            <key>textureFileName</key>
            <string>avt_B_LVB.pvr.ccz</string>
        </dict>
    </dict>
</plist>
