<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZCH_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,606},{46,92}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,91},{46,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,580},{52,88}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,89},{52,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,430},{40,82}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,91},{40,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,638},{60,82}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,85},{60,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,434},{64,96}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{64,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,622},{74,76}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,94},{74,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,620},{64,78}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,93},{64,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,368},{56,84}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,93},{56,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,572},{46,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,73},{46,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,606},{52,92}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,74},{52,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,656},{42,96}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,74},{42,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,638},{60,90}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,80},{60,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,224},{66,118}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,79},{66,118}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,532},{74,94}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{74,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,572},{64,94}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,76},{64,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,572},{56,96}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,74},{56,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,572},{84,82}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{84,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,620},{78,78}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{78,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,628},{70,78}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,90},{70,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,572},{84,82}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,86},{84,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,192},{174,82}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,426},{74,82}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{74,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,344},{64,82}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{64,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,510},{62,82}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,86},{62,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_DeadSW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,366},{88,62}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,123},{88,62}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,622},{76,62}}</string>
                <key>offset</key>
                <string>{-15,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,139},{76,62}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,622},{76,56}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,118},{76,56}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,572},{96,52}}</string>
                <key>offset</key>
                <string>{21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,140},{96,52}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,430},{36,90}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,92},{36,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,514},{36,90}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{36,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{34,90}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,91},{34,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,514},{36,92}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,91},{36,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,656},{36,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,73},{36,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,656},{36,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,73},{36,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,656},{36,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,73},{36,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,656},{36,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,73},{36,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,572},{82,84}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,85},{82,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,572},{82,82}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{82,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,572},{78,82}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{78,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,622},{76,82}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,87},{76,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,606},{48,86}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{48,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,406},{54,84}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,89},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,620},{54,84}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,86},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,428},{44,88}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{44,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,572},{48,88}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,86},{48,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,468},{44,88}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,88},{44,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,572},{52,90}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,86},{52,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,552},{52,88}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,84},{52,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,572},{48,90}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,81},{48,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,606},{56,92}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,81},{56,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,620},{54,84}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,80},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,574},{44,88}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,79},{44,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,572},{48,94}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{48,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,574},{44,90}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,79},{44,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,492},{52,86}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,79},{52,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,312},{52,88}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,80},{52,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,224},{92,80}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{92,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,430},{86,86}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{86,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,626},{72,78}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,85},{72,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,626},{72,80}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,572},{78,82}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,84},{78,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,518},{86,80}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{86,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,318},{80,86}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,84},{80,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,224},{88,86}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{88,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,382},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{228,188}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{228,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,382},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{228,188}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{228,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,382},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{226,194}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{226,194}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,192},{222,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{222,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,382},{220,188}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,382},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{228,188}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{228,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,382},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{228,188}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{228,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,192},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{226,188}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{226,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,202}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{222,202}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,192},{220,188}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,192},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{228,188}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{228,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,192},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{228,188}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{228,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,192},{220,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{226,188}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{226,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,206},{222,188}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{222,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZCH_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{220,188}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{220,188}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZCH.pvr.ccz</string>
            <key>size</key>
            <string>{2046,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bf8c3848f3a923e1e23363dbb6933e:fb7609858da7f62d5d48a4b13538aaba:db09e0de11aedc8d6ab53915aedb1aaa$</string>
            <key>textureFileName</key>
            <string>avt_B_ZCH.pvr.ccz</string>
        </dict>
    </dict>
</plist>
