<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XC_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,511},{139,89}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,141},{139,89}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,994},{113,91}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,139},{113,91}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,646},{139,97}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,142},{139,97}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1248},{103,87}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,142},{103,87}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,302},{149,137}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,91},{149,137}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,298},{141,121}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,108},{141,121}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,441},{149,125}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,104},{149,125}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,534},{147,117}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,113},{147,117}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,782},{139,115}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{139,115}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,880},{113,137}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,101},{113,137}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,981},{139,103}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,136},{139,103}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1019},{103,133}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,110},{103,133}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{151,169}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{151,169}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,735},{137,129}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,166},{137,129}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,602},{145,131}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,167},{145,131}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,433},{147,139}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,153},{147,139}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1316},{133,109}}</string>
                <key>offset</key>
                <string>{-25,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,143},{133,109}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,770},{119,135}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,99},{119,135}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,596},{119,97}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,137},{119,97}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1014},{137,93}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,141},{137,93}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{173,153}}</string>
                <key>offset</key>
                <string>{-63,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,142},{173,153}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,159},{167,131}}</string>
                <key>offset</key>
                <string>{-55,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,132},{167,131}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,135},{165,135}}</string>
                <key>offset</key>
                <string>{-62,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,130},{165,135}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{179,119}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,140},{179,119}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,503},{141,95}}</string>
                <key>offset</key>
                <string>{-14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,160},{141,95}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,695},{141,85}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,166},{141,85}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1206},{131,83}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,174},{131,83}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1109},{137,87}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,143},{137,87}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,582},{139,87}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,143},{139,87}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1109},{137,89}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,141},{137,89}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,671},{135,89}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,141},{135,89}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1086},{137,115}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,144},{137,115}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,653},{139,115}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{139,115}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,899},{137,113}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,143},{137,113}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,866},{137,113}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,143},{137,113}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1124},{133,111}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,143},{133,111}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1237},{131,111}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,143},{131,111}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1002},{131,109}}</string>
                <key>offset</key>
                <string>{-25,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,145},{131,109}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1203},{133,111}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,143},{133,111}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1014},{113,93}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,137},{113,93}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,695},{113,85}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,142},{113,85}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,787},{113,91}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,137},{113,91}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1430},{111,99}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,136},{111,99}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1426},{113,95}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,138},{113,95}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1339},{115,85}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,142},{115,85}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1208},{119,91}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,138},{119,91}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1291},{117,97}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,136},{117,97}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1430},{113,97}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,156},{113,97}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1333},{113,95}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,158},{113,95}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,994},{113,99}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,159},{113,99}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,899},{113,101}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,155},{113,101}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1427},{113,103}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,153},{113,103}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1353},{115,97}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,157},{115,97}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1236},{119,95}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,158},{119,95}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1109},{117,97}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,159},{117,97}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1135},{125,99}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,150},{125,99}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1427},{113,103}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,151},{113,103}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,782},{115,101}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,148},{115,101}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1109},{131,95}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,145},{131,95}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1248},{131,89}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,146},{131,89}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,871},{121,85}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,150},{121,85}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,782},{105,87}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,148},{105,87}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,762},{119,93}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,148},{119,93}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,883},{109,93}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,142},{109,93}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1329},{97,91}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,139},{97,91}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,278},{153,147}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,82},{153,147}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{153,105}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,124},{153,105}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,123},{155,153}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,75},{155,153}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,441},{153,153}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,76},{153,153}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{181,139}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,93},{181,139}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,328},{173,99}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,131},{173,99}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,891},{109,135}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,120},{109,135}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,596},{97,143}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,111},{97,143}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,135},{155,167}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,137},{155,167}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{155,181}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,123},{155,181}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,304},{155,135}}</string>
                <key>offset</key>
                <string>{-3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,169},{155,135}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{155,203}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,101},{155,203}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1253},{173,143}}</string>
                <key>offset</key>
                <string>{-12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,161},{173,143}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,342},{167,135}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,158},{167,135}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,133},{163,103}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,131},{163,103}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,441},{157,91}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,143},{157,91}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{179,165}}</string>
                <key>offset</key>
                <string>{-69,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,104},{179,165}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{201,131}}</string>
                <key>offset</key>
                <string>{-59,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,138},{201,131}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{175,157}}</string>
                <key>offset</key>
                <string>{-72,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,112},{175,157}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,157}}</string>
                <key>offset</key>
                <string>{-54,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,112},{211,157}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{189,129}}</string>
                <key>offset</key>
                <string>{-65,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,140},{189,129}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
            <key>B_XC_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,161},{179,117}}</string>
                <key>offset</key>
                <string>{-63,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,141},{179,117}}</string>
                <key>sourceSize</key>
                <string>{345,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_XC.pvr.ccz</string>
            <key>size</key>
            <string>{994,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae87c828d8e5c9eeee6261c9c840516:fe2d9c5457f5af03e45341068332798b:4a91f9f0a1636a60d27a99bc9fab01aa$</string>
            <key>textureFileName</key>
            <string>avt_B_XC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
