<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SJ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,897},{97,83}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,103},{97,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,776},{45,101}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,107},{45,101}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1167},{55,81}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{55,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,447},{63,115}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,67},{63,115}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,964},{51,91}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,91},{51,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{55,91}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,91},{55,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1010},{59,89}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,93},{59,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1167},{67,81}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,104},{67,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,869},{95,93}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,93},{95,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,982},{45,97}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,90},{45,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{53,99}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,89},{53,99}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1142},{63,85}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,104},{63,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,512},{51,107}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,116},{51,107}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{53,107}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,116},{53,107}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,299},{59,101}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,114},{59,101}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,402},{67,103}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,93},{67,103}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1224},{65,85}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,101},{65,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,511},{91,79}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,107},{91,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{97,71}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,112},{97,71}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,823},{89,99}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{89,99}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,506},{111,73}}</string>
                <key>offset</key>
                <string>{-39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,107},{111,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{117,73}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,107},{117,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,429},{113,75}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,105},{113,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1017},{85,83}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,100},{85,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1155},{85,67}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,145},{85,67}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1253},{83,75}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,126},{83,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,374},{117,53}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,138},{117,53}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,652},{103,85}}</string>
                <key>offset</key>
                <string>{24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,106},{103,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,739},{103,83}}</string>
                <key>offset</key>
                <string>{24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,108},{103,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,691},{103,83}}</string>
                <key>offset</key>
                <string>{24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,108},{103,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{103,83}}</string>
                <key>offset</key>
                <string>{24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,108},{103,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,565},{105,95}}</string>
                <key>offset</key>
                <string>{-25,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,90},{105,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,592},{103,97}}</string>
                <key>offset</key>
                <string>{-25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,88},{103,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{103,95}}</string>
                <key>offset</key>
                <string>{-25,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,90},{103,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,662},{103,95}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,90},{103,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,802},{65,87}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,102},{65,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1105},{69,85}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,104},{69,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1071},{69,85}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,104},{69,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{67,85}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,104},{67,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1207},{61,85}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,97},{61,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1250},{69,79}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,101},{69,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1207},{61,83}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,99},{61,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1092},{61,87}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,99},{61,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1253},{69,83}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,101},{69,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1250},{69,79}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,103},{69,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1102},{63,85}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,97},{63,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{53,87}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{53,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{61,113}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,96},{61,113}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,581},{69,105}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,98},{69,105}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1029},{61,95}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,99},{61,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,985},{61,95}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,95},{61,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,507},{67,93}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,97},{67,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,914},{69,97}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,100},{69,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{63,103}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,100},{63,103}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{53,109}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,98},{53,109}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,206},{125,79}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,99},{125,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,295},{117,77}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,103},{117,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,602},{103,77}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,103},{103,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,931},{95,77}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,100},{95,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{95,77}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,103},{95,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,406},{103,81}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,104},{103,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,295},{109,77}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,102},{109,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,364},{115,81}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,97},{115,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{167,99}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,103},{167,99}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{167,103}}</string>
                <key>offset</key>
                <string>{-11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,102},{167,103}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,202},{159,91}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,87},{159,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,107},{161,93}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,86},{161,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,103},{165,101}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,103},{165,101}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,103}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,104},{167,103}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{159,91}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,88},{159,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{161,93}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,87},{161,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,844},{97,85}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,105},{97,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1048},{55,89}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,96},{55,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,824},{99,71}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,108},{99,71}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,287},{121,75}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{121,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,759},{101,83}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{101,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,206},{55,91}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,99},{55,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,707},{93,79}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,105},{93,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{121,73}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,109},{121,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,844},{97,85}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,105},{97,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1048},{55,89}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,96},{55,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,824},{99,71}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,108},{99,71}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,287},{121,75}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{121,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,759},{101,83}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{101,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,206},{55,91}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,99},{55,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,707},{93,79}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,105},{93,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{121,73}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,109},{121,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_SJ.pvr.ccz</string>
            <key>size</key>
            <string>{509,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ef711b746537c928c80af676fd8231:3a148d3f74b2351ed55d943d9f07c79a:4961f78914aa62cf703c0d27c06e90aa$</string>
            <key>textureFileName</key>
            <string>avt_B_SJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
