<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HYY_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,356},{58,84}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{58,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,428},{52,80}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,89},{52,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,362},{50,70}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,96},{50,70}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,442},{66,70}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,96},{66,70}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,230},{72,92}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,81},{72,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,398},{70,96}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,80},{70,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,398},{62,92}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,81},{62,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,420},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,84},{60,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{58,84}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,85},{58,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,344},{52,82}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,87},{52,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,182},{50,86}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{50,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,366},{66,84}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,85},{66,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,324},{72,84}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,85},{72,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,260},{70,82}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{70,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,270},{62,84}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{62,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,88},{60,84}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,89},{60,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,452},{56,84}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,88},{56,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,172},{68,78}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{68,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{52,82}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,86},{52,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,86},{64,78}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{64,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,434},{72,74}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{72,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,252},{68,76}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{68,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,444},{64,78}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,91},{64,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,176},{60,84}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{60,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,298},{64,62}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,130},{64,62}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,220},{64,76}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{64,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{100,50}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{100,50}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,190},{54,86}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,87},{54,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,348},{52,84}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{52,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,278},{52,86}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{52,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{52,86}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,87},{52,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,262},{54,84}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,85},{54,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{52,84}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,85},{52,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,94},{52,86}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,83},{52,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,88},{52,84}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,85},{52,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,90},{68,84}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,89},{68,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{66,84}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{66,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,420},{66,86}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,88},{66,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,420},{68,86}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,88},{68,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,458},{50,94}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,80},{50,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{52,94}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,83},{52,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,398},{54,100}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,79},{54,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,134},{52,94}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,77},{52,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,98},{52,90}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,81},{52,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,134},{52,96}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,82},{52,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,134},{52,96}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{52,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,458},{50,94}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,78},{50,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{50,90}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,83},{50,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,420},{54,86}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,86},{54,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,174},{54,82}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{54,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,338},{52,78}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,92},{52,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,88},{52,82}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,91},{52,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,418},{52,78}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,90},{52,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,338},{52,78}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,89},{52,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,174},{52,84}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,87},{52,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,434},{70,74}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,88},{70,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,418},{70,72}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,90},{70,72}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,150},{68,76}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,76},{72,76}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,258},{70,78}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,88},{70,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{62,76}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,90},{62,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,444},{64,78}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,88},{64,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{72,76}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,87},{72,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,288},{130,124}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,69},{130,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,306},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,154},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{130,150}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,398},{130,108}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,85},{130,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,266},{130,116}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{130,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,134},{130,116}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{130,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,134},{130,118}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,75},{130,118}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{130,116}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{130,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{130,118}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,75},{130,118}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,266},{130,116}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{130,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,288},{130,118}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,75},{130,118}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{130,114}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,79},{130,114}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,146},{130,140}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{130,140}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{130,142}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{130,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,154},{130,144}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{130,144}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,290},{130,142}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{130,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,146},{130,142}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{130,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,142}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{130,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_HYY_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,300},{130,142}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{130,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_HYY.pvr.ccz</string>
            <key>size</key>
            <string>{1554,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af47acfa95462b0e05a2b054f180a3ea:2c3d78c7854b9e526402ccc765f7cd2c:ada7644275cb6d6a6f2c5da55572d19e$</string>
            <key>textureFileName</key>
            <string>avt_B_HYY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
