<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU10_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1018},{48,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{48,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,956},{46,90}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,71},{46,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,824},{48,90}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{48,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{50,102}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,57},{50,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,762},{60,92}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,67},{60,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{62,88}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,70},{62,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,264},{56,88}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{56,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1016},{48,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,72},{48,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,526},{48,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,61},{48,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1004},{46,94}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,56},{46,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,526},{48,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,53},{48,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,314},{50,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,60},{50,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1056},{58,88}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{58,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,410},{62,94}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,63},{62,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,166},{56,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,61},{56,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,476},{48,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,61},{48,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,662},{86,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{86,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,394},{86,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{86,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,484},{80,92}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,58},{80,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,302},{86,90}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{86,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,670},{90,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,73},{90,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,124},{92,84}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,69},{92,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,390},{88,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,67},{88,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,576},{86,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{86,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,908},{86,46}}</string>
                <key>offset</key>
                <string>{-20,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,132},{86,46}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,968},{86,58}}</string>
                <key>offset</key>
                <string>{27,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,94},{86,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,78},{86,54}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,127},{86,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,918},{48,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,72},{48,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1108},{46,88}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,72},{46,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1018},{46,88}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{46,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1066},{46,88}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,71},{46,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,354},{48,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{48,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,908},{46,96}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,61},{46,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,452},{44,94}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,63},{44,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,576},{46,96}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{46,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,662},{86,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{86,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,748},{80,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,66},{80,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,304},{88,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{88,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,218},{88,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{88,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,956},{72,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{72,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1056},{70,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{70,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,840},{70,90}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,58},{70,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,834},{72,90}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,55},{72,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,834},{70,90}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,55},{70,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,558},{68,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{68,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{70,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,674},{72,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,61},{72,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,834},{72,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,72},{72,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,746},{70,92}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,74},{70,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,926},{70,88}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,76},{70,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,824},{72,92}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{72,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,932},{70,84}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{70,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1048},{68,86}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{68,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,652},{70,92}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{70,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,402},{72,92}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{72,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,474},{86,82}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,65},{86,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,578},{90,80}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,67},{90,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,218},{96,82}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,65},{96,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,126},{98,84}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,61},{98,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,576},{86,84}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,59},{86,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,748},{82,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{82,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,748},{82,84}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,64},{82,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{86,82}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,65},{86,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,476},{48,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,72},{48,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,212},{50,98}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{50,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{46,110}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,51},{46,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,578},{40,122}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{40,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,442},{36,134}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,27},{36,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{36,136}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,24},{36,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{36,150}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,9},{36,150}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{36,154}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,7},{36,154}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,304},{48,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{48,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,264},{48,98}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,59},{48,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,78},{46,100}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,57},{46,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,702},{40,114}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{40,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{36,126}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,31},{36,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,40},{36,132}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,25},{36,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,290},{36,150}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,7},{36,150}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{36,150}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,7},{36,150}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,108},{86,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{86,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,968},{86,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,72},{86,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,314},{86,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{86,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{86,104}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,46},{86,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{84,120}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{84,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{82,126}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,24},{82,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{82,142}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{82,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WU10_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,142}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{84,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_WU10.pvr.ccz</string>
            <key>size</key>
            <string>{504,1171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6655ac5359338f14dba2ec8d9c2fca10:88e5549f0cbb9f2af416e23b7c23091e:695333d7569a3deddaba99598ecbcd89$</string>
            <key>textureFileName</key>
            <string>avt_B_WU10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
