<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_CC_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,122},{88,116}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{88,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{84,112}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{84,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,112},{86,114}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{86,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{84,118}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,63},{84,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,112},{86,116}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{86,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,240},{138,116}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,60},{138,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,110},{128,128}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{128,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,94},{120,130}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{120,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{80,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,59},{80,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{84,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,53},{84,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{86,122}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,51},{86,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,344},{84,124}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,47},{84,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{86,120}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,48},{86,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,88},{112,112}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{112,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,88},{114,114}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{114,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,88},{112,114}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{112,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{162,90}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,115},{162,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{138,106}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,106},{138,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,322},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{106,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,322},{106,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{106,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,324},{102,114}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{102,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,202},{100,114}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{100,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{88,118}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,55},{88,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,296},{92,116}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{92,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,178},{94,116}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{94,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{90,118}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,55},{90,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,204},{112,118}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{112,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,210},{114,118}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,56},{114,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,220},{112,122}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{112,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,94},{112,124}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,54},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,90},{112,120}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,51},{112,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,90},{114,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,54},{114,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,204},{112,116}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{112,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,204},{110,116}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{110,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,330},{94,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,61},{94,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,84},{92,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,62},{92,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,240},{90,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{90,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,324},{92,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,58},{92,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,230},{92,108}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,57},{92,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{92,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,53},{92,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{94,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{94,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,318},{94,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,60},{94,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,266},{118,140}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,42},{118,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,268},{122,136}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,40},{122,136}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{124,146}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{124,146}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{128,146}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{128,146}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,278},{122,148}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,28},{122,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,268},{116,144}}</string>
                <key>offset</key>
                <string>{24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{116,144}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,226},{118,130}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,42},{118,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,226},{110,132}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,40},{110,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,116},{112,148}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,28},{112,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,160}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,16},{120,160}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,158},{118,156}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,20},{118,156}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,154}}</string>
                <key>offset</key>
                <string>{23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,22},{120,154}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,150},{116,154}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,22},{116,154}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{112,158}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,18},{112,158}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{112,166}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,10},{112,166}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_CC_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,94},{114,130}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{114,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_CC.pvr.ccz</string>
            <key>size</key>
            <string>{2040,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d8e103e803e6fd8ee63b2069363206c:ed58b6a0ee2f750b22f7ee27ecb7dee4:2bbbb53132c5c8c747b8a36adb48c342$</string>
            <key>textureFileName</key>
            <string>avt_A_CC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
