<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU2_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1726},{71,89}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,49},{71,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1301},{73,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,47},{73,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1540},{69,93}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,45},{69,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1376},{67,91}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,50},{67,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1226},{73,89}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,52},{73,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,188},{81,89}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{81,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,552},{77,89}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{77,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,313},{79,89}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,49},{79,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,867},{75,95}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{75,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,105}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{75,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,107},{73,103}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{73,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{69,105}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,33},{69,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{67,103}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{67,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{75,99}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{75,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1381},{75,97}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{75,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{77,95}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{77,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,75}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,113},{105,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{111,63}}</string>
                <key>offset</key>
                <string>{32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{111,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1635},{71,89}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{71,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1631},{69,89}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,49},{69,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1540},{71,89}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,49},{71,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1151},{73,89}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{73,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,770},{75,95}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{75,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,643},{75,95}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{75,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,455},{75,95}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{75,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1577},{77,95}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{77,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1346},{63,97}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,43},{63,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1055},{65,95}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,46},{65,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1076},{73,89}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,49},{73,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,499},{79,93}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{79,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,97},{81,89}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{81,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1001},{73,89}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{73,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1152},{65,93}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{65,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1247},{63,97}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,43},{63,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1445},{73,93}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{73,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{75,97}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,41},{75,97}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,404},{79,93}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{79,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{81,93}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{81,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,216},{79,95}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,39},{79,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,964},{75,89}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{75,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,924},{75,89}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,36},{75,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1445},{73,93}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{73,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1722},{77,85}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{77,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,683},{77,85}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{77,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,368},{79,85}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{79,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1771},{79,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{79,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,770},{79,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,54},{79,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,279},{81,87}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{81,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,594},{77,87}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{77,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,851},{71,87}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,51},{71,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{67,107}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,23},{67,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{65,105}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{65,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{67,107}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{67,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{69,105}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{69,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{63,105}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,37},{63,105}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{73,103}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,39},{73,103}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{75,99}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,41},{75,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU2_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{75,95}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{75,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WU2.pvr.ccz</string>
            <key>size</key>
            <string>{237,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00088d4fd5e79edb4ff25f448976cb2d:77c7ebf7101d5d4cd997117a6f78641b:eba1274f4996074a4c158823f78d048d$</string>
            <key>textureFileName</key>
            <string>avt_A_WU2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
