<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SC_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,478},{111,115}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,98},{111,115}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,375},{101,111}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,104},{101,111}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,501},{143,115}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,98},{143,115}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,504},{117,167}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,41},{117,167}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,169},{123,165}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,41},{123,165}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,181},{153,141}}</string>
                <key>offset</key>
                <string>{-25,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,65},{153,141}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,336},{147,129}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,79},{147,129}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,240},{115,117}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,95},{115,117}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,484},{115,119}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,86},{115,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,129},{121,121}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,86},{121,121}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{127,165}}</string>
                <key>offset</key>
                <string>{28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,40},{127,165}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{127,177}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,28},{127,177}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,416},{157,159}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{157,159}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{135,157}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,70},{135,157}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,485},{127,131}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,90},{127,131}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{117,121}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,87},{117,121}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,428},{139,71}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,136},{139,71}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,375},{107,83}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,138},{107,83}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,226},{113,111}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,99},{113,111}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,456},{109,111}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,100},{109,111}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,226},{109,111}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,99},{109,111}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2},{111,109}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,100},{111,109}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,123},{111,119}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{111,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,357},{109,119}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{109,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,236},{109,119}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{109,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{111,119}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{111,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,341},{113,109}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,100},{113,109}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,113},{113,111}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{113,111}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,121},{115,117}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,93},{115,117}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,129},{119,119}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,90},{119,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,480},{119,113}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,89},{119,113}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,371},{123,111}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,93},{123,111}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,508},{127,109}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,98},{127,109}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,2},{121,109}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,99},{121,109}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{113,125}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,90},{113,125}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,484},{113,121}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,92},{113,121}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,359},{113,119}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,92},{113,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{115,117}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,91},{115,117}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,250},{117,119}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,88},{117,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,252},{121,119}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,85},{121,119}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,485},{127,125}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,82},{127,125}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,2},{123,125}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,86},{123,125}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,215},{135,211}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{135,211}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{141,211}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{141,211}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,215},{141,211}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{141,211}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{147,211}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{147,211}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{157,215}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{157,215}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,255},{179,247}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{179,247}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{189,251}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{189,251}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,251}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{197,251}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,209},{127,205}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{127,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,416},{129,205}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{129,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,416},{131,205}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{131,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{133,205}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{133,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,209},{129,205}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{129,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,209},{135,205}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{135,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{135,205}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{135,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>B_SC_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,428},{135,205}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{135,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_SC.pvr.ccz</string>
            <key>size</key>
            <string>{2029,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30c7c2115d788539113eff6dc2496bcf:87f37125fb6d8ca371d7325ed9ad28d1:7b79c66761ec96ad27ae3f0410dce554$</string>
            <key>textureFileName</key>
            <string>avt_A_SC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
