<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_YS_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1546},{60,120}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,67},{60,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1362},{86,116}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{86,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1720},{58,118}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,68},{58,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,468},{68,170}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,17},{68,170}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,396},{96,184}}</string>
                <key>offset</key>
                <string>{23,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,3},{96,184}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{102,164}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,23},{102,164}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{98,122}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,65},{98,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1380},{68,122}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,66},{68,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,878},{60,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{60,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,738},{86,130}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,48},{86,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,408},{58,172}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,6},{58,172}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,168},{70,178}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{70,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{94,194}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{94,194}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,688},{102,156}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,58},{102,156}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{98,156}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,52},{98,156}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1216},{66,126}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,52},{66,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{118,112}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{118,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1590},{102,102}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{102,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1084},{126,110}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,58},{126,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{130,168}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{130,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,240},{174,154}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{174,154}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,494},{168,114}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{168,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,760},{142,116}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,55},{142,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1694},{106,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{106,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1920},{102,76}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,111},{102,76}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1920},{102,70}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,112},{102,70}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1136},{98,78}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,108},{98,78}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1480},{64,120}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,67},{64,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{66,120}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,67},{66,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1728},{66,118}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,68},{66,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1414},{64,120}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,67},{64,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1044},{64,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,50},{64,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1040},{66,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{66,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,976},{66,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,50},{66,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{64,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{64,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1614},{118,112}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{118,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1622},{118,110}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{118,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1796},{116,110}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{116,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1608},{118,110}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,58},{118,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1562},{58,120}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,66},{58,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{62,118}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,65},{62,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1848},{70,116}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,65},{70,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1304},{74,122}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,62},{74,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1272},{76,124}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{76,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1236},{76,124}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{76,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1196},{74,126}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,62},{74,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1350},{62,124}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,64},{62,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,792},{58,138}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,52},{58,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{62,136}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,52},{62,136}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1008},{70,126}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{70,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1808},{74,116}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,49},{74,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1876},{76,116}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,51},{76,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{76,116}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,50},{76,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1780},{74,116}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{74,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,494},{62,136}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,54},{62,136}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,870},{124,110}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{124,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1450},{120,110}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{120,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1734},{116,112}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{116,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1390},{120,114}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{120,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{120,110}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{120,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1506},{120,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{120,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1284},{122,104}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{122,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1108},{126,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,55},{126,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1110},{98,126}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,61},{98,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,982},{100,124}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,62},{100,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,878},{96,130}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,61},{96,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,852},{92,134}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,59},{92,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{92,130}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,60},{92,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,538},{148,166}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,60},{148,166}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{158,164}}</string>
                <key>offset</key>
                <string>{-35,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{158,164}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,610},{148,162}}</string>
                <key>offset</key>
                <string>{-40,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{148,162}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{98,130}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{98,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{100,126}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,36},{100,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{96,124}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{96,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1210},{92,126}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{92,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,946},{92,130}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{92,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,216}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{110,216}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,132},{122,200}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{122,200}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{126,186}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{126,186}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1856},{98,100}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{98,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1908},{106,110}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{106,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1480},{102,108}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,58},{102,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1884},{94,104}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{94,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,632},{88,104}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{88,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{212,128}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{212,128}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{208,140}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{208,140}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_YS_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,256},{188,150}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{188,150}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_YS.pvr.ccz</string>
            <key>size</key>
            <string>{597,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1647ab5627467826a1d725ab31ea3b:0978ec5fad8eaf12789faeac7e4ecbe7:eb3fac2c703c1e2ea3a2ab5e185a768b$</string>
            <key>textureFileName</key>
            <string>avt_B_YS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
