<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_PT_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,912},{84,88}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,123},{84,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{100,84}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,126},{100,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,280},{102,84}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,126},{102,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{106,86}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,124},{106,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{102,88}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,122},{102,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{104,90}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{104,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{88,90}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,120},{88,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,822},{84,88}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,123},{84,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1186},{82,90}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{82,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,854},{70,88}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,119},{70,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{76,86}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,121},{76,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1498},{80,88}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,119},{80,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1406},{80,90}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,117},{80,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1472},{76,90}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,117},{76,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{82,88}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,119},{82,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1094},{82,90}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{82,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1374},{96,76}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,162},{96,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,76}}</string>
                <key>offset</key>
                <string>{26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,147},{126,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{88,88}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,123},{88,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{90,88}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,123},{90,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{90,88}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{90,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{90,88}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{90,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1588},{78,88}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,119},{78,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1564},{74,90}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,117},{74,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1128},{72,90}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,117},{72,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,762},{70,90}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,117},{70,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{100,90}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,117},{100,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,366},{94,90}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,123},{94,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{96,90}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,123},{96,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,458},{94,88}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,117},{94,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{88,90}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,117},{88,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{86,88}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,122},{86,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,640},{84,90}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,121},{84,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,186},{94,92}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{94,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1034},{72,92}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,130},{72,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1846},{72,76}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,135},{72,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1766},{80,78}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,136},{80,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{82,84}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,130},{82,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1744},{76,86}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{76,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{78,86}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,135},{78,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1656},{78,86}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,134},{78,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1678},{76,86}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{76,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1832},{66,84}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,126},{66,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,548},{90,90}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,123},{90,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{94,90}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,122},{94,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{94,84}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,123},{94,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{90,88}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,123},{90,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{90,88}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,124},{90,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1278},{94,78}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,128},{94,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,732},{84,88}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,123},{84,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{86,88}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,119},{86,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1220},{68,86}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,121},{68,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,944},{68,88}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,119},{68,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,560},{70,96}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,117},{70,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,458},{66,100}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,116},{66,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,658},{64,102}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,113},{64,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1308},{76,96}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,116},{76,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>B_PT_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1002},{82,90}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{82,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_PT.pvr.ccz</string>
            <key>size</key>
            <string>{252,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:238adb94004b5e00621eb159ddf19b7a:72f9825925f01886a2c9dc43932638dc:4e7acfabd2ac769c1088a1d73ab0cb29$</string>
            <key>textureFileName</key>
            <string>avt_A_PT.pvr.ccz</string>
        </dict>
    </dict>
</plist>
