<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_YUJ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,196},{54,84}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,104},{54,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,246},{56,86}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,102},{56,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,186},{58,86}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,102},{58,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{72,150}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,68},{72,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,306},{104,150}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{104,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,154},{82,148}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,56},{82,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,424},{64,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,104},{64,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,250},{52,84}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{52,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2},{54,100}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,96},{54,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,298},{58,94}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,95},{58,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,402},{58,94}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,97},{58,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,434},{68,164}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,57},{68,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,168},{98,162}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{98,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,332},{80,160}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,58},{80,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{64,94}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,101},{64,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,250},{52,100}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,97},{52,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,426},{120,82}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,103},{120,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,126},{122,84}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,102},{122,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,304},{122,84}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,103},{122,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,218},{214,82}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,105},{214,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,106}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{214,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{214,96}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{214,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{122,82}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,105},{122,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,126},{122,82}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,104},{122,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,434},{72,82}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,147},{72,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,434},{72,72}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,109},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,458},{120,46}}</string>
                <key>offset</key>
                <string>{42,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,142},{120,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,298},{60,86}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,102},{60,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,374},{60,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,310},{62,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,104},{62,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,246},{62,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,104},{62,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,242},{60,100}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,96},{60,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{60,98}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,97},{60,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{62,98}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,96},{62,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,204},{62,98}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,97},{62,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,304},{120,84}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,101},{120,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,424},{118,84}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,101},{118,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,122},{118,82}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,103},{118,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,304},{118,84}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,101},{118,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{76,88}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,98},{76,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,342},{68,90}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,101},{68,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,394},{60,90}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{64,96}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,93},{64,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,104},{66,98}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{66,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,102},{64,96}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{64,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,200},{62,96}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,95},{62,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,304},{68,96}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,95},{68,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,342},{76,90}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{76,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,100},{68,94}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,111},{68,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,102},{60,98}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,104},{60,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,202},{64,96}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{64,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,92},{66,92}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,102},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,422},{64,86}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,109},{64,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,436},{62,82}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,106},{62,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,422},{68,86}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,102},{68,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{118,84}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,102},{118,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,428},{122,80}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,106},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{122,84}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,100},{122,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,304},{120,88}}</string>
                <key>offset</key>
                <string>{-30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,97},{120,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,304},{116,88}}</string>
                <key>offset</key>
                <string>{-31,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,100},{116,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,126},{118,86}}</string>
                <key>offset</key>
                <string>{-29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,102},{118,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,304},{118,82}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,100},{118,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{122,82}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,100},{122,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{82,160}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,58},{82,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,338},{82,164}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,49},{82,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,172},{84,168}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,42},{84,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,176},{86,170}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,46},{86,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{84,160}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,58},{84,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,340},{82,166}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,48},{82,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{82,168}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,42},{82,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,174},{80,170}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,46},{80,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{84,168}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{84,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{82,172}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,31},{82,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{84,166}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{84,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,172},{86,166}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,35},{86,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,348},{84,168}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,38},{84,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{82,170}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{82,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{82,164}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,29},{82,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,170},{80,166}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,35},{80,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,322},{152,144}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,42},{152,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{148,150}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,36},{148,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{142,156}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,30},{142,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,154},{144,150}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,36},{144,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{150,144}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{150,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,312},{146,150}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,36},{146,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,164},{142,156}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,30},{142,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_YUJ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,160},{148,150}}</string>
                <key>offset</key>
                <string>{24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,36},{148,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_YUJ.pvr.ccz</string>
            <key>size</key>
            <string>{1960,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a27eab0770ed73a3edfb96f4bf44ec3:1d4532f59436c6fe49a3feafc1daa98f:f778590d63cd89c0672a97c3d6377e2e$</string>
            <key>textureFileName</key>
            <string>avt_B_YUJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
