<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU3_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,321},{101,77}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,67},{101,77}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,822},{95,75}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,69},{95,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{81,123}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,26},{81,123}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,984},{69,81}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,78},{69,81}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,478},{59,85}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,79},{59,85}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{103,73}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,73},{103,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{107,73}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,73},{107,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{115,75}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,70},{115,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1315},{77,63}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,75},{77,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,353},{103,61}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,81},{103,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{111,93}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{111,93}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,136},{85,101}}</string>
                <key>offset</key>
                <string>{27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,35},{85,101}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1164},{79,83}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,60},{79,83}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{107,75}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,86},{107,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{105,99}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,62},{105,99}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1079},{79,83}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,69},{79,83}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,935},{95,47}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,110},{95,47}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,919},{75,65}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,90},{75,65}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{101,77}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,67},{101,77}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,631},{97,75}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{97,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,986},{91,75}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,69},{91,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,708},{95,75}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,69},{95,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1250},{77,63}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,75},{77,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1443},{75,63}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,75},{75,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,692},{73,63}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,76},{73,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,757},{75,63}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,76},{75,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1352},{89,73}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,65},{89,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,860},{95,73}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,66},{95,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,785},{95,73}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{95,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1443},{85,69}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,63},{85,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{87,71}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,65},{87,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1261},{89,73}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,65},{89,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,242},{93,77}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,65},{93,77}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1595},{85,73}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{85,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1187},{79,61}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,79},{79,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1122},{77,63}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,76},{77,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1674},{73,61}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,77},{73,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1597},{75,61}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,77},{75,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1682},{79,61}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,78},{79,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1530},{77,63}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,77},{77,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1520},{75,61}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,77},{75,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1380},{75,61}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,77},{75,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,424},{69,81}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,72},{69,81}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,495},{99,75}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,69},{99,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{89,109}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{89,109}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,131},{79,109}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,35},{79,109}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{75,107}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,37},{75,107}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{73,115}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{73,115}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,129}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,15},{79,129}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{81,127}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,17},{81,127}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,572},{99,57}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{99,57}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1055},{77,65}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,73},{77,65}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,75},{59,87}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,51},{59,87}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,242},{61,109}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,29},{61,109}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{67,113}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,25},{67,113}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1261},{67,113}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,25},{67,113}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{77,109}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,29},{77,109}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>B_WU3_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,589},{73,101}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,37},{73,101}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WU3.pvr.ccz</string>
            <key>size</key>
            <string>{255,1745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec8fec3cae5eba39a54698252bc9cf3:7c0a256e3280cbd1ba5475938c126a74:a9c7582810406cae5fc0fe7aff6993ba$</string>
            <key>textureFileName</key>
            <string>avt_A_WU3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
