<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZC_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,2},{62,90}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,69},{62,90}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,66},{58,84}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{58,84}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,172},{62,86}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{62,86}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,114},{146,104}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,60},{146,104}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,124},{146,120}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,60},{146,120}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{146,120}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,60},{146,120}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,124},{146,120}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,60},{146,120}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{146,120}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,60},{146,120}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,98},{82,94}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,65},{82,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,78},{62,92}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{62,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,78},{68,92}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{68,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{120,108}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,73},{120,108}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{144,110}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,72},{144,110}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{144,112}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,70},{144,112}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{144,114}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,68},{144,114}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{144,116}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,66},{144,116}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,272},{116,68}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,111},{116,68}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,194},{90,82}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,92},{90,82}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{74,92}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,67},{74,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,78},{74,92}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{74,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,172},{76,94}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,66},{76,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,268},{74,94}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,66},{74,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,284},{58,92}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{58,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,286},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{56,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,284},{58,92}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,67},{58,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{58,92}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{58,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{74,98}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,65},{74,98}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{84,98}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,70},{84,98}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,258},{84,106}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{84,106}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,248},{92,102}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,63},{92,102}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,246},{94,98}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,64},{94,98}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,246},{90,96}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{90,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{84,94}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{84,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{74,100}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,64},{74,100}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,272},{70,96}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,75},{70,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,266},{70,82}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,82},{70,82}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,78},{80,92}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,75},{80,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,172},{70,94}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,71},{70,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,278},{64,94}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,74},{64,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,268},{68,94}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,79},{68,94}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,172},{64,92}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{64,92}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,278},{64,98}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{64,98}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,220},{118,124}}</string>
                <key>offset</key>
                <string>{-30,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,38},{118,124}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,102},{114,120}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{114,120}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,140},{130,142}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{130,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,134}}</string>
                <key>offset</key>
                <string>{-40,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{134,134}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,116},{128,128}}</string>
                <key>offset</key>
                <string>{-36,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,50},{128,128}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,112},{106,134}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{106,134}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,120},{126,136}}</string>
                <key>offset</key>
                <string>{-38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{126,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,218},{120,118}}</string>
                <key>offset</key>
                <string>{-34,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,45},{120,118}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,112},{116,104}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{116,104}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,218},{116,120}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,64},{116,120}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{130,142}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,50},{130,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,136}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,61},{136,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,138},{128,138}}</string>
                <key>offset</key>
                <string>{-31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,65},{128,138}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{108,136}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,57},{108,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,118},{128,128}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,50},{128,128}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>B_ZC_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,220},{122,124}}</string>
                <key>offset</key>
                <string>{-31,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,65},{122,124}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_ZC.pvr.ccz</string>
            <key>size</key>
            <string>{1988,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bdb7dcf19890b0d225fafd407b594ee:09dd58ec624417997b95ebd659a094e5:9ebd9139473d8a825dc309ae99775306$</string>
            <key>textureFileName</key>
            <string>avt_A_ZC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
