<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZYU_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1008},{94,126}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{94,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1750},{78,114}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{78,114}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1924},{84,112}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,73},{84,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1196},{168,126}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,63},{168,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1236},{158,134}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,67},{158,134}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,348},{188,142}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,66},{188,142}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1298},{114,140}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{114,140}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1372},{110,138}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,70},{110,138}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{116,108}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,76},{116,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1686},{118,112}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,73},{118,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1840},{82,118}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,70},{82,118}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1136},{160,118}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,79},{160,118}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,492},{216,112}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,85},{216,112}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1034},{200,116}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,83},{200,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,870},{162,102}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,81},{162,102}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,710},{158,106}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{158,106}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1800},{154,74}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,131},{154,74}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,492},{136,88}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,110},{136,88}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1722},{90,126}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{90,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1318},{92,126}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,71},{92,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,758},{94,126}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,72},{94,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,630},{92,126}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,71},{92,126}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1568},{134,108}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{134,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1440},{136,108}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,75},{136,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1458},{136,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,76},{136,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1550},{134,108}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{134,108}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1722},{88,116}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,71},{88,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1660},{88,104}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,74},{88,104}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1904},{110,110}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{110,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1604},{120,116}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,68},{120,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1790},{112,118}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{112,118}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1678},{126,110}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,74},{126,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{130,110}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,73},{130,110}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1446},{104,120}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,70},{104,120}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,886},{120,102}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{120,102}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1200},{116,100}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,84},{116,100}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1876},{110,104}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,80},{110,104}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1568},{106,116}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,80},{106,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1904},{110,114}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,81},{110,114}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1484},{118,124}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,85},{118,124}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1750},{108,128}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,81},{108,128}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1850},{106,106}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,80},{106,106}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{126,128}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,66},{126,128}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,178},{168,206}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{168,206}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,740},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,494},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,986},{210,208}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,208}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{128,148}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{128,148}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1324},{136,132}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,71},{136,132}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{204,174}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{204,174}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,248},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{244,212}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{244,212}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>B_ZYU_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{140,138}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,63},{140,138}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_ZYU.pvr.ccz</string>
            <key>size</key>
            <string>{702,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1266c080f5351844de1442b7feb0ca2c:6df0f810d65256ad258ab5ea6ae2477d:1ec91b884ffbb2478fa8136af438352a$</string>
            <key>textureFileName</key>
            <string>avt_A_ZYU.pvr.ccz</string>
        </dict>
    </dict>
</plist>
