<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GJ_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,98},{70,94}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,67},{70,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{80,90}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,73},{80,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,88},{84,76}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,83},{84,76}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,170},{82,70}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,85},{82,70}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{48,84}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,67},{48,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,94},{78,84}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,66},{78,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{76,82}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,67},{76,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{76,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{76,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,106},{72,102}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{72,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,106},{66,102}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{66,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{70,92}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{70,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,98},{74,92}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,69},{74,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,86},{48,82}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,68},{48,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{76,72}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,78},{76,72}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,80},{78,70}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,79},{78,70}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,174},{78,70}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,77},{78,70}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{80,50}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,120},{80,50}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,190},{84,60}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,92},{84,60}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{72,94}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,66},{72,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{56,90}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{56,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{60,94}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,67},{60,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,100},{74,94}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{74,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,194},{56,90}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,70},{56,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,202},{50,88}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,70},{50,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,196},{56,90}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,70},{56,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,192},{60,92}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,69},{60,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{62,94}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,67},{62,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{54,98}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{54,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{62,96}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,67},{62,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,96},{66,92}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{66,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,102},{68,98}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{68,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,98},{60,94}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{60,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,102},{62,96}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{62,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,94},{64,90}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{64,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,86},{76,82}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,68},{76,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,180},{72,78}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,72},{72,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,168},{64,80}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{64,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,86},{64,80}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{64,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,160},{60,80}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,70},{60,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,200},{52,82}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,70},{52,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,186},{66,82}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,70},{66,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{76,82}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{76,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,110},{98,102}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{98,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{112,98}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,68},{112,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,100}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,71},{116,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,116},{112,94}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,76},{112,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{114,94}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,73},{114,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{112,88}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,71},{112,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,110},{104,86}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,69},{104,86}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{102,88}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{102,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,104},{100,86}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{100,86}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,116},{104,108}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,65},{104,108}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,110}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,64},{116,110}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,120},{114,108}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,62},{114,108}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{106,104}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,62},{106,104}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{100,94}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,62},{100,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{98,88}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,62},{98,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{102,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{102,86}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_GJ.pvr.ccz</string>
            <key>size</key>
            <string>{1814,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b71967a37bf41f56607a82c0166a226b:ee7f9566232691402ec9d9ad2cde3e5f:1a4086080a1bd600810037fa63069083$</string>
            <key>textureFileName</key>
            <string>avt_A_GJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
