<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_DUB_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,192},{41,59}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{41,59}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{41,63}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{41,63}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{59,49}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{59,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,106},{57,41}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,43},{57,41}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,212},{39,51}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{39,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,55},{35,49}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{35,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,159},{37,49}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{37,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,149},{41,59}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{41,59}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,45},{51,55}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{51,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{47,61}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{47,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,208},{47,43}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{47,43}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,155},{35,39}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{35,39}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,51},{51,53}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{51,53}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,157},{51,47}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{51,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,108},{51,47}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{51,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,190},{51,55}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{51,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,57},{51,49}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{51,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,166},{41,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{41,53}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{37,71}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,13},{37,71}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{59,53}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{59,53}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,57}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{71,57}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{73,51}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,38},{73,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{71,49}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,36},{71,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{57,49}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{57,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,108},{51,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{51,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,159},{47,49}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{47,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{47,69}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{47,69}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,41},{35,55}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,26},{35,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{51,69}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{51,69}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{51,67}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{51,67}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,108},{51,47}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{51,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,59},{51,47}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{51,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,94},{33,55}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{33,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,192},{31,59}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{31,59}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{55,61}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,23},{55,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{75,49}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{75,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{59,51}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{59,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{59,49}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{59,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,41},{55,51}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{55,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,210},{41,53}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,33},{41,53}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,136},{57,37}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,66},{57,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,61},{65,35}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,68},{65,35}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,212},{55,39}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{55,39}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{65,37}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{65,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,149},{61,39}}</string>
                <key>offset</key>
                <string>{25,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,61},{61,39}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{41,59}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,25},{41,59}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,190},{51,55}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{51,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,147},{51,49}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{51,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,98},{51,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{51,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,78},{33,55}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{33,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,53},{49,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{49,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,104},{47,49}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{47,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,208},{43,49}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{43,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,102},{45,57}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{45,57}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,51},{49,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{49,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,102},{45,55}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{45,55}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,129},{43,53}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{43,53}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,106},{47,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{47,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,155},{41,47}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{41,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,59},{43,47}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{43,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,159},{45,49}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{45,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,55},{45,61}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{45,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,55},{45,59}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{45,59}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,102},{45,57}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{45,57}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,55},{47,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{47,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,208},{41,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{41,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,113},{53,51}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{53,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,53},{49,51}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{49,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,157},{47,51}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,33},{47,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,53},{51,51}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{51,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,106},{53,51}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{53,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,159},{51,51}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{51,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,106},{47,51}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{47,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,159},{51,51}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{51,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,149},{39,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{39,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,57},{41,51}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{41,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,106},{47,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{47,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,108},{47,49}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{47,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,110},{45,47}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{45,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,206},{45,49}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{45,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,206},{45,49}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{45,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,208},{43,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{43,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,157},{47,47}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{47,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,206},{39,47}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{39,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,206},{39,45}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{39,45}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,157},{49,51}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{49,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,53},{57,51}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{57,51}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,157},{47,49}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{47,49}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,209},{41,47}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,37},{41,47}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>R_DUB_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,206},{45,45}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{45,45}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_R_DUB.pvr.ccz</string>
            <key>size</key>
            <string>{1027,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f74460fa2b769330e509a366c2cf797:34bed1e415d27062d5ee993605b47fb6:e6f7364a8c374aedab5138d2abbbf4c5$</string>
            <key>textureFileName</key>
            <string>avt_R_DUB.pvr.ccz</string>
        </dict>
    </dict>
</plist>
