<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_Jian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{53,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,11}}</string>
                <key>sourceSize</key>
                <string>{53,11}</string>
            </dict>
            <key>F2_Jian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>F_Jian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,23},{30,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,5}}</string>
                <key>sourceSize</key>
                <string>{30,5}</string>
            </dict>
            <key>GJB_Jian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,23},{41,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,5}}</string>
                <key>sourceSize</key>
                <string>{41,5}</string>
            </dict>
            <key>H_Jian_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,23},{30,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,5}}</string>
                <key>sourceSize</key>
                <string>{30,5}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>Shadow_Cavalry_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,15},{36,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,13}}</string>
                <key>sourceSize</key>
                <string>{36,13}</string>
            </dict>
            <key>Shadow_Cavalry_NE.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>Shadow_Cavalry_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>Shadow_Cavalry_SE.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td-special.pvr.ccz</string>
            <key>size</key>
            <string>{249,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55f1b87c92919fe2190402f90f4e6c3:2c40051dc31db6050634fd13f9d62593:b0b2171f9e0b915360742d527fa9a819$</string>
            <key>textureFileName</key>
            <string>td-special.pvr.ccz</string>
        </dict>
    </dict>
</plist>
