<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GJ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,176},{70,80}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,70},{70,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,176},{70,70}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{70,70}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,176},{70,62}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,86},{70,62}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,170},{68,62}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,87},{68,62}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,164},{60,84}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{60,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,234},{70,92}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,60},{70,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,234},{80,88}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,60},{80,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,168},{78,88}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,60},{78,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,172},{70,94}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{70,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,104},{72,98}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{72,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,96},{70,90}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{70,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,92},{68,86}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,66},{68,86}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,230},{60,80}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{60,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,176},{70,70}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{70,70}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,100},{80,70}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,78},{80,70}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,248},{78,72}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,77},{78,72}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,110},{66,98}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{66,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{82,100}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,67},{82,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{98,92}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,72},{98,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{100,88}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,76},{100,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,110},{44,82}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{44,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,248},{80,78}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{80,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,240},{86,78}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,73},{86,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,96},{88,78}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{88,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,94},{68,52}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,123},{68,52}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,250},{68,68}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,82},{68,68}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,142},{84,42}}</string>
                <key>offset</key>
                <string>{23,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,113},{84,42}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,108},{66,98}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,67},{66,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,178},{54,94}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{54,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,178},{60,96}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,67},{60,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,98},{72,102}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,65},{72,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,86},{66,82}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{66,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,178},{54,82}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,68},{54,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,234},{60,82}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{60,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,164},{72,82}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,68},{72,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,234},{68,92}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{68,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,176},{56,90}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,69},{56,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,172},{60,96}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,67},{60,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,106},{70,98}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,67},{70,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,172},{66,94}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{66,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,172},{60,98}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,63},{60,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,98},{72,100}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,65},{72,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,142},{60,90}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{60,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,94},{68,90}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,68},{68,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,178},{62,96}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,64},{62,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,100},{70,100}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{70,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,110},{66,96}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,65},{66,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,164},{64,80}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{64,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,98},{60,76}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,73},{60,76}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,248},{72,78}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,70},{72,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,248},{60,78}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,70},{60,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,248},{68,78}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,70},{68,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,250},{62,76}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{62,76}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,98},{72,76}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,72},{72,76}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,248},{64,78}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{64,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,242},{66,84}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,67},{66,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,98},{64,84}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,68},{64,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,268},{58,80}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{58,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,234},{60,82}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{60,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,88},{52,94}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,69},{52,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,234},{52,92}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{52,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,172},{60,96}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,68},{60,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,242},{66,84}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{66,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{90,98}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{90,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{106,104}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,69},{106,104}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{112,100}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,74},{112,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{114,94}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,79},{114,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{106,96}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,73},{106,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{100,84}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,72},{100,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,112},{96,82}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,70},{96,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,234},{90,80}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,73},{90,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,240},{88,86}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{88,86}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{106,106}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,62},{106,106}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{112,108}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,61},{112,108}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{114,106}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,60},{114,106}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{106,106}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{106,106}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{100,92}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,59},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,2},{94,90}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{94,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,196},{90,88}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,61},{90,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{94,98}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,67},{94,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{110,108}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,65},{110,108}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,106}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,67},{118,106}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{110,102}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,68},{110,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{110,94}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,69},{110,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{108,90}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,69},{108,90}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,234},{92,82}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,68},{92,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>B_GJ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,234},{94,80}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{94,80}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_GJ.pvr.ccz</string>
            <key>size</key>
            <string>{2030,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d396cbaae1f4f0749b7d5462430db05:3b480a3ab940eaf04db8ccdf819e1b96:354ec7e8f86e663a26e192654e5753fc$</string>
            <key>textureFileName</key>
            <string>avt_B_GJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
