<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SMS_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,730},{98,84}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,102},{98,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,940},{80,82}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,103},{80,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,276},{114,88}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{114,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,738},{120,88}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,105},{120,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{126,82}}</string>
                <key>offset</key>
                <string>{33,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,103},{126,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,624},{86,112}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,67},{86,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{130,82}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,97},{130,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,94},{98,84}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,102},{98,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,428},{112,94}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{112,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,86},{120,92}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,88},{120,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,462},{76,102}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,78},{76,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,994},{80,92}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,88},{80,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,846},{80,92}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,89},{80,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,86}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,95},{142,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,540},{76,94}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,92},{76,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,408},{112,94}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,86},{112,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,478},{144,54}}</string>
                <key>offset</key>
                <string>{36,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,150},{144,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{88,70}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,118},{88,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,618},{98,86}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,101},{98,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,622},{110,84}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,102},{110,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1024},{86,84}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{86,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,522},{98,86}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,101},{98,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,366},{114,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{114,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,618},{110,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{110,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{122,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{122,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,180},{114,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{114,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1016},{76,90}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,91},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,830},{74,92}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{74,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1122},{72,96}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,87},{72,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{70,90}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{70,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,996},{70,88}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,92},{70,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,924},{76,90}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,812},{80,90}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,89},{80,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,718},{82,92}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,89},{82,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,866},{126,78}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,100},{126,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{126,78}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,100},{126,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,994},{126,76}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,101},{126,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,86},{122,78}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,99},{122,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,166},{120,78}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,100},{120,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,180},{120,76}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,101},{120,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,328},{118,78}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,101},{118,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,344},{118,82}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,98},{118,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,904},{90,90}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,94},{90,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1110},{90,82}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,99},{90,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1108},{88,82}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,99},{88,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1110},{90,84}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,100},{90,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{84,126}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{84,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,246},{80,120}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,65},{80,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{78,128}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,57},{78,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,860},{78,122}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,65},{78,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{134,92}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,88},{134,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{132,90}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,90},{132,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,524},{112,92}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,92},{112,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,734},{110,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,90},{110,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{84,120}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,60},{84,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{82,134}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,46},{82,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{82,142}}</string>
                <key>offset</key>
                <string>{22,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,38},{82,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{108,106}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,74},{108,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_SMS.pvr.ccz</string>
            <key>size</key>
            <string>{498,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e863aa94913e1c92318ff1c0c4355443:025e50bdb620c8877ab750d899718d33:ff37783e7e9fee0dfe94d8029645d5b4$</string>
            <key>textureFileName</key>
            <string>avt_A_SMS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
