<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_GS_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,230},{58,114}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{58,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,394},{92,102}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,64},{92,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,140},{66,118}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,42},{66,118}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,118},{88,82}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,75},{88,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,222},{78,112}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,61},{78,112}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,270},{78,100}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,68},{78,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,288},{88,110}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{88,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{88,114}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{88,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,384},{116,80}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,65},{116,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,176},{88,88}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,61},{88,88}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{72,130}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,31},{72,130}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,402},{78,106}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,56},{78,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,266},{88,76}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,79},{88,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,302},{104,80}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,77},{104,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{124,74}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,77},{124,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{124,72}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{124,72}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,76},{88,64}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,110},{88,64}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,448},{98,60}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,96},{98,60}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,170},{58,114}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{58,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,228},{60,112}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,65},{60,112}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,372},{58,110}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{58,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,290},{56,112}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{56,112}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,302},{116,80}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{116,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,284},{116,80}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,65},{116,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,222},{118,78}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{118,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,208},{118,78}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{118,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,294},{76,98}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{76,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,344},{78,102}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,64},{78,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,400},{74,106}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,62},{74,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,364},{68,104}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,60},{68,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,196},{74,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{74,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,432},{74,102}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{74,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,290},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,63},{72,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,432},{70,104}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,60},{70,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{122,72}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{122,72}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{120,74}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{120,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,142},{118,78}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{118,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,76},{118,74}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,68},{118,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{120,76}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{120,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,384},{118,74}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,69},{118,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,384},{118,74}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{118,74}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,156},{118,70}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{118,70}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,80},{74,116}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,65},{74,116}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,170},{98,86}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,63},{98,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,144}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,22},{66,144}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{68,128}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,24},{68,128}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{64,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,23},{64,126}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,78},{62,126}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,23},{62,126}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,76},{62,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,23},{62,126}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{60,136}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,22},{60,136}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,142},{106,78}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{106,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,202},{80,86}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,67},{80,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,364},{68,104}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,40},{68,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,78},{90,102}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,42},{90,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,76},{92,102}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,42},{92,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{94,104}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,40},{94,104}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,72},{88,102}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,42},{88,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_GS_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,348},{82,102}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,41},{82,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_GS.pvr.ccz</string>
            <key>size</key>
            <string>{1042,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57301e98d2046eb06b459ac1cb950165:b19af87a52f4fdc262b25b00b711509b:71e973a3813935ae111d48ce4e1cb1b1$</string>
            <key>textureFileName</key>
            <string>avt_A_GS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
