<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_DW_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,118},{110,136}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,43},{110,136}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,224},{118,106}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{118,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,332},{114,104}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{122,104}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{122,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{120,110}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{120,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{104,116}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,63},{104,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{112,124}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,61},{112,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,108},{110,106}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,68},{110,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{94,138}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,35},{94,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,242},{116,116}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,57},{116,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,114},{110,120}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,53},{110,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,108},{112,114}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,59},{112,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,116},{124,118}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,55},{124,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,256},{118,126}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{118,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,264},{122,130}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{122,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,340},{116,108}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,65},{116,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,354},{114,84}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,115},{114,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,360},{124,74}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,119},{124,74}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,206},{100,110}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,69},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,320},{100,110}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{100,110}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,68},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,104},{100,110}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,69},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,326},{102,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,63},{102,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,208},{100,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,63},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,322},{100,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,63},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{100,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,63},{100,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,332},{108,110}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{108,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{104,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,222},{102,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,62},{102,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{104,118}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,60},{104,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,108},{108,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{108,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,108},{110,114}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{110,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,236},{112,116}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{112,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,224},{110,114}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{110,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,108},{98,114}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,70},{98,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,318},{96,112}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,70},{96,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,354},{94,106}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,68},{94,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,354},{94,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,66},{94,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,354},{94,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{94,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,204},{96,96}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{96,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2},{98,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,64},{98,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,220},{100,112}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,68},{100,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,104},{98,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{98,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{114,150}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{114,150}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,152},{128,150}}</string>
                <key>offset</key>
                <string>{25,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,25},{128,150}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,282},{122,134}}</string>
                <key>offset</key>
                <string>{30,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,39},{122,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{132,138}}</string>
                <key>offset</key>
                <string>{36,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,35},{132,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,298},{136,144}}</string>
                <key>offset</key>
                <string>{38,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,32},{136,144}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{144,148}}</string>
                <key>offset</key>
                <string>{42,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,30},{144,148}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,152},{144,142}}</string>
                <key>offset</key>
                <string>{42,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,38},{144,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{104,116}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,57},{104,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,118},{112,144}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{112,144}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{124,174}}</string>
                <key>offset</key>
                <string>{28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{124,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,178},{126,174}}</string>
                <key>offset</key>
                <string>{28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{126,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,178},{140,174}}</string>
                <key>offset</key>
                <string>{36,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{140,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{144,174}}</string>
                <key>offset</key>
                <string>{38,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{144,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,174}}</string>
                <key>offset</key>
                <string>{37,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{144,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_DW_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,174}}</string>
                <key>offset</key>
                <string>{36,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{142,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_DW.pvr.ccz</string>
            <key>size</key>
            <string>{2014,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03203b77a2f727e3dbddc20934a45f88:064f61467e6d075e002210c7d1df42ad:94ad8d24fcc53025b493f1a7be84bac0$</string>
            <key>textureFileName</key>
            <string>avt_A_DW.pvr.ccz</string>
        </dict>
    </dict>
</plist>
