<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MH_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,100},{76,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{76,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{90,100}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,74},{90,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{90,96}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{90,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,324},{104,116}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{104,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,254},{92,114}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{92,114}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,202},{84,96}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{84,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,310},{86,96}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,72},{86,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,300},{86,94}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{86,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,352},{76,78}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,99},{76,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,286},{90,82}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,94},{90,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{90,90}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,89},{90,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,332},{104,84}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,95},{104,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,106},{94,100}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,104},{94,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,208},{84,100}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,106},{84,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,272},{84,82}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,106},{84,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,178},{84,78}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{84,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,332},{76,104}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{76,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,370},{68,100}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,74},{68,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,98},{68,94}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{68,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,134},{118,90}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,78},{118,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,272},{128,90}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,78},{128,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{130,88}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,80},{130,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{92,94}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{92,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{86,98}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,79},{86,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,370},{86,68}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,132},{86,68}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{86,66}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{86,66}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,112},{104,58}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,132},{104,58}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{76,102}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{76,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,106},{76,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{76,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,316},{74,102}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{74,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,212},{76,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{76,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,184},{76,86}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{76,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,282},{76,86}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,91},{76,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,90},{74,86}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{74,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{76,86}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,91},{76,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,322},{82,102}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{82,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,108},{84,102}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{84,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{82,102}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,73},{82,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,218},{84,102}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,73},{84,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,106},{66,102}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,67},{66,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,192},{74,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{74,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,210},{72,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{72,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,232},{62,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{62,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{64,102}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{64,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,288},{74,92}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{74,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,104},{72,100}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{72,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,114},{60,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,64},{60,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,2},{66,68}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,104},{66,68}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,144},{74,62}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{74,62}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,370},{72,70}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,109},{72,70}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,378},{62,78}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,104},{62,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,286},{64,80}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,103},{64,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,358},{74,80}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,104},{74,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,70},{72,66}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,107},{72,66}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,220},{60,64}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,106},{60,64}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,190},{76,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{76,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,198},{78,94}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{78,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,102},{84,98}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{84,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,294},{90,92}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{90,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,194},{92,88}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,80},{92,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,98},{92,86}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,85},{92,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,94},{80,88}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,81},{80,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{80,92}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{80,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{56,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{56,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{54,108}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{54,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,118},{112,108}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,62},{112,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,302},{136,138}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{136,138}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{134,134}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{134,134}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,138},{126,132}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,38},{126,132}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,318},{120,130}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,40},{120,130}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,314},{100,96}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{100,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,96},{56,92}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{56,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,382},{54,80}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,92},{54,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{114,96}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,97},{114,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,296},{130,136}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,84},{130,136}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{134,148}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,78},{134,148}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,152},{142,148}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,83},{142,148}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{144,148}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,85},{144,148}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{116,132}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,89},{116,132}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{110,96}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,75},{110,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,208},{100,86}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,91},{100,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,224},{104,106}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,88},{104,106}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,152},{142,132}}</string>
                <key>offset</key>
                <string>{-33,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,66},{142,132}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,160},{156,132}}</string>
                <key>offset</key>
                <string>{-36,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,64},{156,132}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{156,134}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{156,134}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{156,138}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{156,138}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,100}}</string>
                <key>offset</key>
                <string>{-30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,80},{162,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_MH.pvr.ccz</string>
            <key>size</key>
            <string>{2044,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7726905c8340fbb3ebd8121d361c843:6debdc699f3d461653ad57207458e522:f23fa5e39958dfc01ee4d3f2198f1e8c$</string>
            <key>textureFileName</key>
            <string>avt_B_MH.pvr.ccz</string>
        </dict>
    </dict>
</plist>
