<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU9_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,324},{80,82}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,64},{80,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,242},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{82,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,216},{60,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{60,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,424},{54,84}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,61},{54,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,58},{56,100}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,52},{56,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,98},{46,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,52},{46,100}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{52,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,50},{52,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,348},{70,82}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,67},{70,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,146},{80,86}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,62},{80,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,182},{82,86}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,62},{82,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,146},{60,94}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,62},{60,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,112},{54,94}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,63},{54,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,54},{56,96}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{56,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,310},{44,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,56},{44,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,228},{52,96}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,57},{52,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,90},{68,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,57},{68,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,254},{76,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,65},{76,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,382},{76,84}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{76,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{110,82}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,67},{110,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{110,86}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,68},{110,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,298},{82,90}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{82,90}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,94},{82,86}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{82,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,298},{88,84}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,68},{88,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,208},{88,84}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,65},{88,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,88},{92,68}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,111},{92,68}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{92,62}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,88},{92,62}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,362},{94,60}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,103},{94,60}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,282},{80,82}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,64},{80,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,264},{82,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,64},{82,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,266},{80,82}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,64},{80,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,332},{78,82}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{78,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,160},{80,86}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,62},{80,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,158},{82,88}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{82,88}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,296},{78,86}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{78,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,296},{76,84}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{76,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,384},{76,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{76,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,394},{76,84}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,65},{76,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,326},{78,82}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,67},{78,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,182},{80,82}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,67},{80,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,208},{86,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{86,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{88,88}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,57},{88,88}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{92,88}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{92,88}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,276},{94,84}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,57},{94,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{96,84}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,58},{96,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{96,86}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,57},{96,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{94,90}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{94,90}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,210},{88,86}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,57},{88,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,242},{84,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{84,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,390},{88,78}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{88,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,94},{90,78}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{90,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,86},{94,82}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,63},{94,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,116},{96,80}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,63},{96,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,198},{96,76}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,65},{96,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,68},{92,76}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,65},{92,76}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,174},{88,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,63},{88,78}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,410},{74,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,62},{74,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,412},{68,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,61},{68,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,228},{66,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,61},{66,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,424},{64,82}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,63},{64,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,348},{62,84}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,63},{62,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,412},{68,82}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,63},{68,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,308},{76,84}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,60},{76,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,408},{76,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{76,82}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{50,128}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,11},{50,128}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{54,128}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,9},{54,128}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,298},{64,94}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,364},{58,84}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,50},{58,84}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,146},{52,80}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{52,80}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{48,106}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{48,106}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,96},{48,94}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{48,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,56},{50,88}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,57},{50,88}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,210},{50,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{50,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,56},{54,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,58},{54,90}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{64,102}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,46},{64,102}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,54},{56,98}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{56,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,112},{52,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{52,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,116},{48,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{48,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,210},{48,98}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{48,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,394},{50,96}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,53},{50,96}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,94}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{106,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{84,108}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{84,108}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,112},{76,94}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{76,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,384},{86,86}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{86,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,420},{92,86}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{92,86}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{88,98}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,43},{88,98}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,424},{84,92}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,51},{84,92}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>B_WU9_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,112},{78,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{78,94}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_WU9.pvr.ccz</string>
            <key>size</key>
            <string>{1248,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70d3b9b9e497c09db8ac9eb4612890a1:062737455255def1263569ef387fe6c7:7a38f8d60c3555480dcc1c28872cc973$</string>
            <key>textureFileName</key>
            <string>avt_B_WU9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
