<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZL_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,250},{84,138}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{84,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,118},{96,140}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{96,140}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,336},{80,136}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{80,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,606},{96,132}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{96,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,336},{114,138}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{114,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{80,164}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,42},{80,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{104,166}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{104,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,336},{84,136}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{84,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,494},{90,128}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{90,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,152},{96,124}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,74},{96,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,602},{76,116}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,82},{76,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,216},{96,118}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,80},{96,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,474},{120,122}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{120,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{78,176}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,22},{78,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,566},{96,132}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,66},{96,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,476},{90,128}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{90,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,74},{110,112}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,79},{110,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,888},{112,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,79},{112,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,888},{116,112}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,79},{116,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,888},{114,112}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{114,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,772},{116,114}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,77},{116,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,154}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{120,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{110,144}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{110,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,888},{108,112}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{108,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,586},{130,86}}</string>
                <key>offset</key>
                <string>{-29,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,140},{130,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,762},{130,74}}</string>
                <key>offset</key>
                <string>{29,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,127},{130,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,584},{128,76}}</string>
                <key>offset</key>
                <string>{15,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,154},{128,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,70},{94,128}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,78},{94,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,680},{90,126}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,79},{90,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,674},{96,126}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,79},{96,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,188},{94,128}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,78},{94,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,328},{94,126}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{94,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,680},{90,126}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,70},{90,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,360},{98,126}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,70},{98,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,200},{94,126}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{94,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,772},{114,114}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,77},{114,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,772},{116,114}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,77},{116,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,712},{116,114}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,77},{116,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,772},{114,114}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,77},{114,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,336},{98,136}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,69},{98,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,334},{92,134}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{92,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,476},{88,134}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,70},{88,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,586},{90,132}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,71},{90,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,678},{92,132}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{92,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,740},{94,132}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{94,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,786},{104,132}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,71},{104,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,116},{98,136}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,69},{98,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,474},{102,126}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{102,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,456},{96,126}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{96,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,398},{94,122}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,75},{94,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,586},{92,116}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,76},{92,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,262},{96,100}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,76},{96,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,488},{98,108}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{98,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,188},{104,120}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{104,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,874},{102,126}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{102,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,284},{122,112}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,79},{122,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,598},{120,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,79},{120,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,772},{120,110}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,79},{120,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,216},{116,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,79},{116,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,216},{118,106}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,79},{118,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,310},{120,106}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,77},{120,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,216},{118,106}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,78},{118,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,74},{122,112}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,79},{122,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,662},{98,130}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{98,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{86,152}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,51},{86,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{66,164}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,41},{66,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,82},{64,136}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,71},{64,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,420},{74,130}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{74,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,148},{70,134}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{70,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,148},{66,132}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{66,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,432},{98,130}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,74},{98,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,132},{100,128}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{100,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{86,170}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,28},{86,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,724},{66,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{66,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,598},{66,124}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{66,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,284},{74,134}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,64},{74,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{70,174}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,24},{70,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,894},{70,122}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,77},{70,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{100,128}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{100,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,888},{114,112}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{114,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{114,154}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,36},{114,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,664},{126,120}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{126,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,474},{132,110}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,79},{132,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{154,112}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,77},{154,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{124,148}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{124,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,336},{138,108}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,81},{138,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>B_ZL_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,828},{120,110}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,79},{120,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZL.pvr.ccz</string>
            <key>size</key>
            <string>{1184,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce1cca334bc989ccce51b57da4760a17:57d46c5ecbf66216c89dcfb8af18c40a:f23ba1a2acd54dc9df9d6307b6071f15$</string>
            <key>textureFileName</key>
            <string>avt_B_ZL.pvr.ccz</string>
        </dict>
    </dict>
</plist>
