<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WYJ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,878},{76,78}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,89},{76,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,716},{54,74}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,93},{54,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,794},{62,76}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,89},{62,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,934},{86,128}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{86,128}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,460},{76,126}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{76,126}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,810},{72,122}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,45},{72,122}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,362},{60,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,73},{60,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,958},{62,76}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,91},{62,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,102},{78,96}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,76},{78,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,326},{54,110}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,58},{54,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,100},{62,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{62,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,588},{82,116}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,54},{82,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,210},{70,108}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{70,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,210},{62,114}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,79},{62,114}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,494},{60,90}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,78},{60,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,424},{64,92}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,76},{64,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,148},{70,96}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{70,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,586},{82,86}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,84},{82,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,936},{88,84}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,86},{88,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{150,106}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,64},{150,106}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,802},{128,100}}</string>
                <key>offset</key>
                <string>{-30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,70},{128,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,672},{120,92}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,78},{120,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{98,80}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,90},{98,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,936},{84,82}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,88},{84,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,872},{78,72}}</string>
                <key>offset</key>
                <string>{-17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,131},{78,72}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,794},{78,74}}</string>
                <key>offset</key>
                <string>{17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,110},{78,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,154},{122,54}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,139},{122,54}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,774},{76,78}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,89},{76,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,946},{74,76}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,91},{74,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,946},{74,76}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,91},{74,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,870},{74,78}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,89},{74,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{76,96}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{76,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,946},{74,96}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{74,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,946},{74,96}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{74,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{74,96}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,76},{74,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,76},{70,96}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{70,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,220},{72,94}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{72,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,364},{72,94}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,85},{72,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,364},{72,94}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{72,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,642},{72,86}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,83},{72,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,290},{80,78}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,87},{80,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,706},{78,86}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{78,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,294},{66,94}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{66,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,946},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,84},{74,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,370},{78,80}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,87},{78,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,794},{58,82}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{58,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,402},{60,90}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,83},{60,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,568},{72,88}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,84},{72,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,936},{82,84}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{82,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,716},{76,78}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,84},{76,78}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,706},{66,86}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,84},{66,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,490},{76,90}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,83},{76,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,618},{78,86}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,84},{78,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,320},{58,98}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,84},{58,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,146},{62,90}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,84},{62,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{72,96}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,91},{72,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,308},{68,92}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{68,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,450},{76,80}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,91},{76,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,200},{80,88}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,91},{80,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,528},{78,88}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,90},{78,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,588},{82,90}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,92},{82,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,932},{86,88}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,91},{86,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,210},{78,96}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,90},{78,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{120,206}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{120,206}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{226,204}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,204}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,232},{226,208}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,208}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,708},{226,212}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,212}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,460},{166,210}}</string>
                <key>offset</key>
                <string>{34,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{166,210}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,810},{68,122}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,43},{68,122}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{90,142}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{90,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,210},{116,152}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{116,152}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,238},{120,230}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{120,230}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{196,228}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{196,228}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,474},{198,232}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{198,232}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{198,234}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{198,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,230},{142,210}}</string>
                <key>offset</key>
                <string>{46,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{142,210}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,438},{70,98}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{70,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,794},{90,116}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{90,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,672},{118,128}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{118,128}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,460},{120,224}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{120,224}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{234,224}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,224}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{234,226}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,226}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,232}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,710},{176,234}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{176,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,912},{92,108}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,62},{92,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,460},{108,126}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{108,126}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_WYJ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,672},{118,136}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{118,136}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_WYJ.pvr.ccz</string>
            <key>size</key>
            <string>{1234,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccb80c7afa38e4a9c7f4d5455fe26ae2:d689828186209adb5007966bb26c08b5:5dc28a1256063695f1d3f3c031be14d3$</string>
            <key>textureFileName</key>
            <string>avt_B_WYJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
