<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_YL_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,118},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,86},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,132},{60,128}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,75},{60,128}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,234},{76,112}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{76,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,236},{78,114}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{78,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,400},{66,124}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,76},{66,124}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,134},{74,130}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{74,130}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{60,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,71},{60,130}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,234},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,86},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,350},{60,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,2},{60,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,124},{76,120}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,82},{76,120}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,242},{78,118}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,84},{78,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{66,114}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,88},{66,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{72,114}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,88},{72,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{60,116}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,86},{60,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,118},{60,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,268},{130,102}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,89},{130,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{130,102}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,89},{130,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,124},{118,102}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,89},{118,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,362},{110,104}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,87},{110,104}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{154,102}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,89},{154,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,312},{148,102}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,89},{148,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,296},{134,102}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,89},{134,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,136},{130,102}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,89},{130,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,132},{126,94}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,125},{126,94}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,260},{124,74}}</string>
                <key>offset</key>
                <string>{30,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,127},{124,74}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,158},{136,72}}</string>
                <key>offset</key>
                <string>{11,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,154},{136,72}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,234},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,86},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,116},{62,112}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,88},{62,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{60,116}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,86},{60,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,350},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,86},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{60,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,402},{62,114}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,84},{62,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,118},{60,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,234},{60,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{60,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,266},{128,102}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,89},{128,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{124,102}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,89},{124,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{132,102}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,89},{132,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,270},{130,102}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,89},{130,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,350},{94,112}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,87},{94,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,120},{90,116}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{90,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{84,116}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,83},{84,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{84,118}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{84,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,122},{84,118}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{84,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,242},{84,118}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,79},{84,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{88,118}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{88,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,354},{94,112}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,87},{94,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{94,118}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{94,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,122},{90,118}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,85},{90,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,238},{84,116}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,84},{84,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,120},{82,114}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,82},{82,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{84,112}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,80},{84,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,120},{82,116}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,79},{82,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,238},{88,116}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,80},{88,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,244},{94,118}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{94,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,242},{116,116}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{116,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,366},{100,118}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{100,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{104,120}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,86},{104,120}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,238},{110,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{110,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,356},{108,112}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,82},{108,112}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,246},{108,118}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{108,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{114,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,82},{114,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{116,116}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{116,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,122},{68,118}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,86},{68,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,138},{70,134}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,69},{70,134}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,352},{72,114}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,88},{72,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,360},{94,116}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,86},{94,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,386},{80,116}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,86},{80,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,118},{68,114}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,87},{68,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,238},{84,114}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,87},{84,114}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{56,144}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,58},{56,144}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,128},{68,122}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,79},{68,122}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,158},{70,152}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,49},{70,152}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,322},{74,140}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,61},{74,140}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,260},{94,122}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,79},{94,122}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{80,132}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,69},{80,132}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,396},{68,128}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,73},{68,128}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,120},{84,116}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,85},{84,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{56,118}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,83},{56,118}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,364},{116,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,89},{116,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,356},{112,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,83},{112,108}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{156,104}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,87},{156,104}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{114,128}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{114,128}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,120},{114,116}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{114,116}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,362},{114,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{114,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{134,102}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,89},{134,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>B_YL_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,102}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,89},{160,102}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_YL.pvr.ccz</string>
            <key>size</key>
            <string>{2036,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246334d02499daaaf46e3159b394399a:db2cbc6460dd750385197ddce7fd907f:49b8ffe49de609ca305f3aa7ce8ffbc8$</string>
            <key>textureFileName</key>
            <string>avt_B_YL.pvr.ccz</string>
        </dict>
    </dict>
</plist>
