<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HG_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{103,97}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,90},{103,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,125},{77,111}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,72},{77,111}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,397},{105,91}}</string>
                <key>offset</key>
                <string>{30,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,90},{105,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,238},{69,89}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,90},{69,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,171},{143,123}}</string>
                <key>offset</key>
                <string>{-39,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,55},{143,123}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,206},{137,123}}</string>
                <key>offset</key>
                <string>{-42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,55},{137,123}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,131},{141,125}}</string>
                <key>offset</key>
                <string>{-40,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,54},{141,125}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,145},{149,127}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{149,127}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,410},{69,93}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,94},{69,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,258},{71,129}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,45},{71,129}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,410},{65,85}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,90},{65,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,222},{95,97}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,79},{95,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{127,159}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,63},{127,159}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{125,153}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,69},{125,153}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,274},{115,153}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,69},{115,153}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,391},{109,127}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,95},{109,127}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,390},{113,55}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,138},{113,55}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,129},{87,77}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,110},{87,77}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,260},{107,97}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{107,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,386},{105,97}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,90},{105,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,123},{99,97}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,91},{99,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,382},{105,97}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,90},{105,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,309},{67,99}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,94},{67,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,388},{69,99}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,94},{69,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,396},{67,99}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,95},{67,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,321},{67,99}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,95},{67,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,210},{119,81}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,87},{119,81}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,125},{123,79}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,92},{123,79}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,331},{127,87}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,88},{127,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,2},{127,91}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,87},{127,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,117},{119,91}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,88},{119,91}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,206},{115,87}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,90},{115,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,129},{109,85}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,88},{109,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,293},{113,87}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,86},{113,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,420},{83,93}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{83,93}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,313},{81,97}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,110},{81,97}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,309},{77,99}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,106},{77,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,216},{91,95}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,103},{91,95}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,400},{103,89}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,104},{103,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,131},{99,87}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,108},{99,87}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,220},{89,85}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,105},{89,85}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,218},{89,89}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,103},{89,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,295},{111,89}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{111,89}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,420},{125,83}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,91},{125,83}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,131},{75,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{75,127}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,296},{99,133}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,43},{99,133}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{125,167}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,2},{125,167}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{143,167}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{143,167}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{121,161}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{121,161}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,2},{119,161}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{119,161}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,390},{75,99}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,94},{75,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,309},{75,99}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,111},{75,99}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,129},{75,145}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,39},{75,145}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,331},{119,139}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,37},{119,139}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{141,169}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{141,169}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,203}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{133,203}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{117,191}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,18},{117,191}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>B_HG_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{113,171}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,38},{113,171}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_HG.pvr.ccz</string>
            <key>size</key>
            <string>{1537,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:362d593cce6cd748c59777d798b861ba:e11932d77b83ad03824db335aac1b799:4af887759e70c5511f356bdae2b86454$</string>
            <key>textureFileName</key>
            <string>avt_A_HG.pvr.ccz</string>
        </dict>
    </dict>
</plist>
