<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SMS_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{140,80}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{140,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,758},{118,80}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,102},{118,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,878},{82,80}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,104},{82,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1358},{102,104}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,103},{102,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{136,80}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,104},{136,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,742},{96,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,74},{96,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1464},{114,86}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,96},{114,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{140,80}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{140,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,98},{138,94}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{138,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,960},{118,94}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,83},{118,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1694},{80,106}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,71},{80,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1898},{100,98}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{100,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{136,94}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,83},{136,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1218},{96,88}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,89},{96,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1580},{112,90}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,87},{112,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{138,94}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{138,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1210},{84,94}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,89},{84,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1666},{76,84}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,97},{76,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{124,88}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,100},{124,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1886},{106,94}}</string>
                <key>offset</key>
                <string>{31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,98},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1828},{80,84}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,98},{80,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,180},{128,92}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,90},{128,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1650},{88,88}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{88,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1124},{84,94}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,89},{84,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,276},{122,62}}</string>
                <key>offset</key>
                <string>{20,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,148},{122,62}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1200},{122,64}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,121},{122,64}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,572},{102,60}}</string>
                <key>offset</key>
                <string>{22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,132},{102,60}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,98},{140,80}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,102},{140,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{144,78}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,104},{144,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{134,78}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,104},{134,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,194},{140,80}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,102},{140,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,94}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{140,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,94}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,83},{144,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{134,92}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,85},{134,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{140,94}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{140,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1484},{86,96}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,88},{86,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1548},{88,100}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,86},{88,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1668},{88,86}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,96},{88,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1396},{86,96}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,88},{86,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,352},{102,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,86},{102,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,460},{104,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{104,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,340},{114,100}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,81},{114,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1080},{118,96}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,83},{118,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,456},{114,92}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,86},{114,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,852},{106,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,84},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,748},{94,100}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,81},{94,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,850},{92,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,82},{92,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1572},{104,92}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,98},{104,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,918},{106,88}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,99},{106,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,456},{114,84}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,100},{114,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1080},{118,86}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,95},{118,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1266},{114,90}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,92},{114,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1026},{106,90}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,98},{106,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,556},{96,98}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,99},{96,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,654},{92,98}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,99},{92,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1464},{94,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,98},{94,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1308},{96,86}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,95},{96,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1380},{94,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,95},{94,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1134},{90,82}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,95},{90,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1740},{86,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,98},{86,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1464},{92,80}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{92,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1758},{96,84}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,97},{96,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1036},{94,86}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,95},{94,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1856},{90,84}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,99},{90,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1296},{94,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,100},{94,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1914},{76,82}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,99},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1358},{74,82}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,99},{74,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,512},{74,122}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{74,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,694},{74,110}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{74,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,806},{78,110}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{78,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,634},{106,100}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,82},{106,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,944},{90,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,83},{90,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1776},{94,108}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{94,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,274},{76,110}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,89},{76,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1558},{74,108}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,85},{74,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,636},{76,120}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,57},{76,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{74,134}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,43},{74,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{78,134}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,43},{78,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,352},{106,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,81},{106,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{126,88}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,93},{126,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,960},{118,86}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,95},{118,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{122,86}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,95},{122,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{122,86}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,95},{122,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1776},{74,120}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,61},{74,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,384},{72,126}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{72,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{72,138}}</string>
                <key>offset</key>
                <string>{22,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,43},{72,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_SMS_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,572},{72,120}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,62},{72,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_SMS.pvr.ccz</string>
            <key>size</key>
            <string>{456,2009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00aadc0ce0eb5e14e539326a6ad2f9a5:c1e82a863ed933afe7231b4a3cd7971e:11c40b425469967f2fc890202c459813$</string>
            <key>textureFileName</key>
            <string>avt_B_SMS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
