<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SJ_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,568},{89,85}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{89,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{55,101}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,106},{55,101}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,91},{67,73}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,111},{67,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{63,115}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,64},{63,115}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1535},{93,79}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,97},{93,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{97,77}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,98},{97,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1935},{69,79}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,97},{69,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{59,83}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,104},{59,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1276},{79,89}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,97},{79,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,758},{81,87}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,99},{81,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,926},{85,83}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,105},{85,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1673},{83,83}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,105},{83,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1179},{89,95}}</string>
                <key>offset</key>
                <string>{-23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,113},{89,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1082},{89,95}}</string>
                <key>offset</key>
                <string>{-23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,113},{89,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{101,81}}</string>
                <key>offset</key>
                <string>{-30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,111},{101,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1357},{95,91}}</string>
                <key>offset</key>
                <string>{-24,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,96},{95,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{101,55}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,144},{101,55}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{93,61}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,135},{93,61}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1835},{65,81}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,108},{65,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1967},{63,79}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,110},{63,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1902},{63,81}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,109},{63,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{63,81}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,109},{63,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{103,93}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,93},{103,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{101,93}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,93},{101,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{101,93}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,93},{101,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{103,93}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,93},{103,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{105,77}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,99},{105,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,166},{95,73}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,103},{95,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1758},{75,81}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,101},{75,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1663},{69,85}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,100},{69,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1011},{69,85}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,103},{69,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{67,87}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,104},{67,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1795},{73,81}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,99},{73,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,841},{85,83}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,97},{85,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1367},{95,95}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,98},{95,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,659},{97,87}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,101},{97,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{95,77}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,101},{95,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{99,81}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,97},{99,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{105,81}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,99},{105,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{109,81}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,102},{109,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,263},{101,79}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,102},{101,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1041},{99,89}}</string>
                <key>offset</key>
                <string>{-19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,98},{99,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,469},{97,85}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,105},{97,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1616},{55,89}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,96},{55,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{99,71}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,108},{99,71}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,75}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{121,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,366},{101,83}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,98},{101,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{55,91}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,99},{55,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1454},{93,79}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,105},{93,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{121,73}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,109},{121,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,469},{97,85}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,105},{97,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1616},{55,89}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,96},{55,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{99,71}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,108},{99,71}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,75}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{121,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,366},{101,83}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,98},{101,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{55,91}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,99},{55,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1454},{93,79}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,105},{93,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_SJ_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{121,73}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,109},{121,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_SJ.pvr.ccz</string>
            <key>size</key>
            <string>{194,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d30c45bdf990c4f3201dfed81add284c:f645ffea5230f513be393f94b25b0244:0d0b89a50c3a456d6255e76fa249e637$</string>
            <key>textureFileName</key>
            <string>avt_A_SJ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
