<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_LS_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,88},{56,84}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,88},{48,84}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,83},{48,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,170},{48,82}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,86},{48,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,90},{50,86}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,83},{50,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{56,84}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,83},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,88},{84,82}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,83},{84,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{42,86}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,79},{42,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,88},{56,84}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{56,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,86},{56,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,166},{46,80}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,89},{46,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{48,84}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,85},{48,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{50,82}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,84},{50,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,86},{56,82}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,84},{56,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{84,84}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,84},{84,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,84},{42,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,86},{42,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,84},{56,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,86},{56,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,86},{54,82}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,83},{54,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,88},{68,84}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,81},{68,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,174},{78,82}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,83},{78,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{74,86}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,80},{74,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{68,86}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,80},{68,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{44,84}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,82},{44,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,90},{84,84}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,82},{84,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,170},{54,82}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,83},{54,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,178},{74,66}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,116},{74,66}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,178},{74,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,111},{74,62}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,98},{92,50}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,123},{92,50}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{56,84}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,88},{60,84}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,83},{60,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{58,84}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,83},{58,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,88},{56,84}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,166},{56,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,86},{56,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,170},{60,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,86},{60,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,84},{58,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,86},{58,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{56,80}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,86},{56,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{54,82}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,83},{54,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,86},{54,82}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,83},{54,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,170},{54,82}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,83},{54,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{54,82}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,83},{54,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,94},{54,90}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,77},{54,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,92},{56,88}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,79},{56,88}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,90},{66,86}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,77},{66,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{70,88}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,74},{70,88}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,94},{64,90}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,75},{64,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{60,88}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,79},{60,88}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{64,90}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,77},{64,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,90}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,77},{54,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,174},{54,76}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,89},{54,76}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,158},{56,72}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,95},{56,72}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,84},{66,72}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,95},{66,72}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,174},{70,78}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,90},{70,78}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,178},{64,74}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,90},{64,74}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,174},{60,74}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,94},{60,74}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{64,72}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,93},{64,72}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,174},{54,76}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,89},{54,76}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{66,86}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,81},{66,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,174},{72,80}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,86},{72,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{58,82}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{58,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{56,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,81},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{70,82}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,82},{70,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,88},{70,82}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,85},{70,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{60,80}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,85},{60,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,186},{66,86}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,81},{66,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,86},{44,82}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,87},{44,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,170},{64,82}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,83},{64,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,170},{56,82}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,81},{56,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,88},{66,84}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,79},{66,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,174},{70,76}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,87},{70,76}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,174},{60,78}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,85},{60,78}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{66,82}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,82},{66,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{68,84}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,81},{68,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,174},{44,78}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,89},{44,78}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{64,84}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,85},{64,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,88},{56,84}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,81},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{66,84}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,81},{66,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,182},{70,84}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,81},{70,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,86},{60,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,83},{60,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,86},{66,82}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,83},{66,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,172},{68,80}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,85},{68,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,176},{76,84}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,82},{76,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,90},{48,86}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,81},{48,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{44,94}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,71},{44,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,94}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,71},{46,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{56,84}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,81},{56,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{60,86}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,80},{60,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{48,86}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,80},{48,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>B_LS_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{48,84}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,82},{48,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_LS.pvr.ccz</string>
            <key>size</key>
            <string>{1820,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:517e034716fec4c24ec0871c0114d29d:68215c96eccde7a2b478dba9423d5dbf:98f0225335a0a1e6be26acf5505dc17e$</string>
            <key>textureFileName</key>
            <string>avt_B_LS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
