<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_DQ_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{82,106}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,88},{82,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,222},{78,108}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,87},{78,108}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,110},{76,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,88},{76,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{76,106}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,85},{76,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{78,104}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,86},{78,104}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{92,102}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,88},{92,102}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,218},{82,102}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{82,102}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,110},{82,106}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{82,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,184},{82,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{82,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{78,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,79},{78,110}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,178},{74,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,77},{74,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,108},{76,104}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,85},{76,104}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{80,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{80,108}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,114},{80,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,79},{80,110}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,186},{82,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{82,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{82,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,79},{82,110}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{106,68}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,140},{106,68}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,114},{110,78}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,127},{110,78}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,112},{76,108}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{76,108}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,226},{74,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,88},{74,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,226},{74,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,88},{74,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,110},{76,106}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{76,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,182},{76,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,77},{76,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,180},{74,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,77},{74,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,182},{74,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,77},{74,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,184},{76,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,77},{76,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,210},{90,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,89},{90,102}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,106},{86,102}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{86,102}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,112},{86,108}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{86,108}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,166},{88,110}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{88,110}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{90,106}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,106},{92,102}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{92,102}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{94,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,86},{94,102}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{94,100}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,88},{94,100}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{92,112}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{92,112}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{86,108}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,90},{86,108}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,216},{84,100}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,90},{84,100}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,200},{86,94}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,88},{86,94}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,218},{90,82}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{90,82}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,210},{92,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{92,88}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,104},{94,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{94,94}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,168},{96,110}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,85},{96,110}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,152},{78,136}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,57},{78,136}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{82,162}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{82,162}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{82,174}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,20},{82,174}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,180}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,15},{78,180}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{76,180}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,15},{76,180}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{78,176}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,19},{78,176}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{80,154}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,40},{80,154}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,110},{78,104}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,88},{78,104}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,158},{76,140}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,49},{76,140}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{82,164}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,25},{82,164}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{82,178}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,11},{82,178}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,182}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,7},{78,182}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,182}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,7},{78,182}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{76,178}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,11},{76,178}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{76,148}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,41},{76,148}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>B_DQ_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,222},{78,104}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,85},{78,104}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_DQ.pvr.ccz</string>
            <key>size</key>
            <string>{2018,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c8a137e26390fafbbaf930e4aaa55b:6f5193f936f425bd9a39f8156ad91e59:484a33bb0de09e5501d14bd8b45b8e85$</string>
            <key>textureFileName</key>
            <string>avt_A_DQ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
