<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_JW_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,501},{103,81}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,138},{103,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,548},{107,75}}</string>
                <key>offset</key>
                <string>{-28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,141},{107,75}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,932},{69,73}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,148},{69,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,578},{97,81}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,144},{97,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{141,119}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,104},{141,119}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,155}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,64},{175,155}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,113},{157,149}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,69},{157,149}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,230},{101,147}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,71},{101,147}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,105},{103,95}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,130},{103,95}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,625},{107,89}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,132},{107,89}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,843},{69,87}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,133},{69,87}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,661},{97,97}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,123},{97,97}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,428},{139,117}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,104},{139,117}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,159},{159,155}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,96},{159,155}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,107},{143,121}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,129},{143,121}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1007},{87,89}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,137},{87,89}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1007},{87,83}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,137},{87,83}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,679},{71,103}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,141},{71,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,687},{101,65}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,151},{101,65}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,754},{89,71}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,145},{89,71}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,762},{89,79}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,135},{89,79}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{185,105}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,108},{185,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,210},{135,101}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,112},{135,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,412},{125,99}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,114},{125,99}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,914},{91,67}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,143},{91,67}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,845},{91,67}}</string>
                <key>offset</key>
                <string>{15,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,195},{91,67}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,729},{101,63}}</string>
                <key>offset</key>
                <string>{-46,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,179},{101,63}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,794},{99,89}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{99,89}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,580},{103,89}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{103,89}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,869},{101,91}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,136},{101,91}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,870},{97,93}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,134},{97,93}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,839},{99,85}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,138},{99,85}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,964},{103,85}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,136},{103,85}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,752},{101,85}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,137},{101,85}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,843},{97,87}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,137},{97,87}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1009},{81,81}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,142},{81,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,754},{81,83}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,140},{81,83}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,926},{81,81}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,142},{81,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,843},{81,81}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,142},{81,81}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,780},{107,99}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,130},{107,99}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,513},{109,97}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,131},{109,97}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,889},{107,97}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,130},{107,97}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{105,99}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,129},{105,99}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,760},{107,101}}</string>
                <key>offset</key>
                <string>{24,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,129},{107,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,626},{107,101}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,130},{107,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,671},{107,101}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,130},{107,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,497},{109,103}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,128},{109,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,602},{109,73}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,143},{109,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,602},{109,75}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,143},{109,75}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,606},{107,77}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,143},{107,77}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,932},{105,73}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,144},{105,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,677},{107,73}}</string>
                <key>offset</key>
                <string>{-24,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,143},{107,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,612},{109,73}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,143},{109,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,965},{109,71}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,144},{109,71}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,795},{109,73}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,145},{109,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,762},{103,79}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,140},{103,79}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,716},{107,77}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,143},{107,77}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,885},{113,77}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,140},{113,77}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,547},{113,77}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,137},{113,77}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,972},{111,77}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,137},{111,77}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,685},{105,75}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,139},{105,75}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,988},{105,73}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,141},{105,73}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1019},{103,75}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,141},{103,75}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,926},{93,91}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,124},{93,91}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,501},{99,123}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,91},{99,123}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,303},{93,147}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,67},{93,147}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,393},{97,153}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,61},{97,153}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,320},{101,155}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,60},{101,155}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,423},{97,153}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,61},{97,153}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,333},{93,153}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,61},{93,153}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,423},{103,155}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,59},{103,155}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,989},{95,105}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,132},{95,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,313},{97,139}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,133},{97,139}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,307},{97,149}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,133},{97,149}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,204},{97,149}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,134},{97,149}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,103},{99,151}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,132},{99,151}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,105},{97,151}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,132},{97,151}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,406},{93,151}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,132},{93,151}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,204},{101,149}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,134},{101,149}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,398},{143,97}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,130},{143,97}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{175,101}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,127},{175,101}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{211,99}}</string>
                <key>offset</key>
                <string>{-53,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,128},{211,99}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{211,103}}</string>
                <key>offset</key>
                <string>{-53,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,123},{211,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{213,109}}</string>
                <key>offset</key>
                <string>{-52,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,122},{213,109}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{213,103}}</string>
                <key>offset</key>
                <string>{-52,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,123},{213,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{213,105}}</string>
                <key>offset</key>
                <string>{-53,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,116},{213,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>B_JW_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{213,117}}</string>
                <key>offset</key>
                <string>{-53,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,115},{213,117}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_JW.pvr.ccz</string>
            <key>size</key>
            <string>{1019,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0bf8912c9b1e47fef62e596eea6ac7:881c12a1ae15f8e5cac780ab212dad27:af7018402bbef92f6309634ac3aa394e$</string>
            <key>textureFileName</key>
            <string>avt_B_JW.pvr.ccz</string>
        </dict>
    </dict>
</plist>
