<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XH_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,360},{106,108}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,137},{106,108}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{114,102}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,146},{114,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,368},{104,128}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,122},{104,128}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,390},{106,134}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,108},{106,134}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,368},{128,90}}</string>
                <key>offset</key>
                <string>{-24,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,153},{128,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,350},{132,88}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,154},{132,88}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,156},{130,90}}</string>
                <key>offset</key>
                <string>{-23,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,153},{130,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,224},{102,92}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,151},{102,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,130},{76,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,116},{76,122}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,408},{70,88}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,149},{70,88}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,350},{60,146}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,109},{60,146}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,396},{100,82}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,155},{100,82}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,240},{70,108}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,167},{70,108}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,360},{74,114}}</string>
                <key>offset</key>
                <string>{-10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,161},{74,114}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,122},{82,118}}</string>
                <key>offset</key>
                <string>{-17,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,157},{82,118}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{126,90}}</string>
                <key>offset</key>
                <string>{-18,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,157},{126,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,420},{124,76}}</string>
                <key>offset</key>
                <string>{15,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,178},{124,76}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,408},{96,82}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,173},{96,82}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,156},{76,130}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,122},{76,130}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,418},{78,128}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,124},{78,128}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,288},{80,128}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,124},{80,128}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,288},{80,130}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,123},{80,130}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{120,94}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,143},{120,94}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,242},{116,96}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,142},{116,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,122},{116,94}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,144},{116,94}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,124},{118,96}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,142},{118,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,326},{80,102}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,143},{80,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,118},{82,104}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,145},{82,104}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,396},{86,100}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,148},{86,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,158},{84,102}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,144},{84,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,244},{80,102}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,143},{80,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{80,104}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,144},{80,104}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,80},{76,104}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,145},{76,104}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,2},{76,104}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,142},{76,104}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,244},{118,84}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,154},{118,84}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,368},{118,88}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,154},{118,88}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{118,88}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,153},{118,88}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,254},{120,82}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,151},{120,82}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{118,82}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,151},{118,82}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,364},{118,80}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,156},{118,80}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,246},{120,76}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,160},{120,76}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,124},{120,76}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,157},{120,76}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{152,152}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{152,152}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{148,178}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,78},{148,178}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,280},{132,198}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,60},{132,198}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,274},{192,218}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,42},{192,218}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{170,196}}</string>
                <key>offset</key>
                <string>{-33,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{170,196}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,200},{164,194}}</string>
                <key>offset</key>
                <string>{-40,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{164,194}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,186},{158,180}}</string>
                <key>offset</key>
                <string>{-33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,57},{158,180}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,182},{158,166}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,83},{158,166}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,240},{118,218}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,35},{118,218}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{140,210}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,46},{140,210}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,200},{132,188}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,70},{132,188}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,276}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{208,276}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,270}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{190,270}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{184,236}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{184,236}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{166,182}}</string>
                <key>offset</key>
                <string>{-28,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,116},{166,182}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{158,126}}</string>
                <key>offset</key>
                <string>{-32,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,171},{158,126}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_XH.pvr.ccz</string>
            <key>size</key>
            <string>{2040,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed2d10ef836a3ea537cb4d043480f77:2de0f4dcc55c033498989eb38a229274:fbef3754ee553a77e6d8469764891392$</string>
            <key>textureFileName</key>
            <string>avt_A_XH.pvr.ccz</string>
        </dict>
    </dict>
</plist>
