<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XHY_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,106},{62,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,80},{68,76}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,106},{68,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,166},{76,78}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,104},{76,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,90},{56,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,84},{54,80}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,103},{54,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{62,82}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,100},{62,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,154},{58,72}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,110},{58,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,80},{58,72}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,110},{58,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,94},{62,90}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,89},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{68,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,88},{68,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,96},{76,90}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,88},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{56,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,88},{56,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{54,94}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,84},{54,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{62,94}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,84},{62,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,98},{58,94}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,84},{58,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{58,94}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,85},{58,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,172},{76,82}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,99},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,190},{78,84}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,97},{78,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{64,88}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,96},{64,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{96,90}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,91},{96,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,86},{70,82}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,168},{68,80}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,101},{68,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,86},{66,82}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,101},{66,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,202},{66,82}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,101},{66,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{98,60}}</string>
                <key>offset</key>
                <string>{-23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,147},{98,60}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,64}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,120},{98,64}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,94},{90,56}}</string>
                <key>offset</key>
                <string>{20,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,150},{90,56}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,80},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,106},{62,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2},{64,76}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,106},{64,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,158},{64,74}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,108},{64,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,158},{62,76}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,106},{62,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{62,90}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,89},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,94},{64,90}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,89},{64,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,92},{64,88}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,91},{64,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,94},{62,90}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,89},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{76,82}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,99},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,88},{76,82}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,99},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,174},{76,82}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,99},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,186},{76,82}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,99},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,82},{60,78}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,99},{60,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,166},{60,80}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,96},{60,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,90},{62,86}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,95},{62,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,86},{62,82}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,95},{62,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{60,80}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{60,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,170},{68,82}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,97},{68,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,182},{72,86}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,86},{72,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,94},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{60,84}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,93},{60,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,170},{60,82}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,94},{60,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,84},{62,80}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,95},{62,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,88},{60,84}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,91},{60,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,178},{60,86}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,92},{60,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,176},{68,84}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,93},{68,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,196},{72,86}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,93},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,90},{72,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{72,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,182},{76,86}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,95},{76,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,182},{76,86}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,95},{76,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,92},{76,88}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,93},{76,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,186},{80,82}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{80,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,186},{80,82}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,95},{80,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,194},{74,86}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,93},{74,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,98},{68,92}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,90},{68,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,94},{68,90}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,91},{68,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,162},{68,76}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,106},{68,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{76,78}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,104},{76,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{68,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,106},{68,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,92},{62,88}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,94},{62,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,170},{64,82}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,101},{64,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{60,86}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{60,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{64,82}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,100},{64,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,80},{58,72}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,110},{58,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{68,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,90},{68,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,192},{76,90}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,88},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{68,90}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,88},{68,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{62,90}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{62,92}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,86},{62,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,98},{58,94}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,84},{58,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,100},{64,94}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,84},{64,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,96},{58,92}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{58,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,186},{82,84}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,97},{82,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{68,84}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,97},{68,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{70,86}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,95},{70,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{88,84}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,97},{88,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{68,82}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,99},{68,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,86}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,95},{98,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{70,80}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,101},{70,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{66,82}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,101},{66,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_XHY.pvr.ccz</string>
            <key>size</key>
            <string>{2046,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8277bd2f3eed7c377731b51d2c38bf4e:be8b2c8fea0621bbb87c57545cbe13c3:9294490f58684bd7a75637ce42145b01$</string>
            <key>textureFileName</key>
            <string>avt_B_XHY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
