<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HZ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,912},{104,94}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{104,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,336},{86,82}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,100},{86,82}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,732},{92,86}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,92},{92,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,826},{90,84}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{90,84}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,716},{92,100}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,94},{92,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,536},{92,88}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,99},{92,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,818},{94,86}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,101},{94,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,160},{104,90}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,101},{104,90}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,386},{106,114}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,63},{106,114}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,508},{86,120}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,65},{86,120}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,126},{92,106}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,72},{92,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,714},{90,108}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,69},{90,108}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,392},{92,106}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,73},{92,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,776},{92,104}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,79},{92,104}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,456},{94,102}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,75},{94,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,694},{104,112}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,65},{104,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,350},{94,104}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,85},{94,104}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,266},{92,118}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{92,118}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,392},{104,122}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,69},{104,122}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,274},{106,116}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,74},{106,116}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,698},{106,106}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{106,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,500},{106,102}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,85},{106,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,604},{104,106}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,85},{104,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,234},{98,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,87},{98,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,268},{110,68}}</string>
                <key>offset</key>
                <string>{-16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,140},{110,68}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,712},{110,70}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,119},{110,70}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,234},{100,66}}</string>
                <key>offset</key>
                <string>{13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,139},{100,66}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,906},{106,92}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,97},{106,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,284},{104,94}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,97},{104,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,560},{100,92}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,99},{100,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,254},{102,94}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,97},{102,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,502},{106,110}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,67},{106,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,610},{104,110}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,67},{104,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,466},{100,110}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{100,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,500},{102,112}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,65},{102,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,436},{92,98}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,93},{92,98}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,172},{94,96}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,93},{94,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,336},{94,98}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,93},{94,98}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,662},{94,100}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,92},{94,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,866},{64,94}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,77},{64,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,922},{74,94}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,74},{74,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,630},{80,100}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{80,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,526},{74,100}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,76},{74,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,912},{68,94}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,79},{68,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,732},{74,92}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{74,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,870},{78,94}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{78,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,630},{70,100}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,75},{70,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,932},{64,104}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,71},{64,104}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,180},{76,102}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,74},{76,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,894},{80,108}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{80,108}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,818},{74,110}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{74,110}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,806},{68,106}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,72},{68,106}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,424},{74,100}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,75},{74,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,912},{78,88}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,76},{78,88}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,826},{70,94}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,77},{70,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,764},{100,94}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,75},{100,94}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,876},{106,98}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,72},{106,98}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,716},{112,100}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{112,100}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,254},{112,96}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{112,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,352},{112,98}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{112,98}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,596},{116,96}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{116,96}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,578},{106,92}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{106,92}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,824},{108,86}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,81},{108,86}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{162,182}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{162,182}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{122,150}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,36},{122,150}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{158,174}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,12},{158,174}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,848},{116,150}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,37},{116,150}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{122,152}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{122,152}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,604},{92,120}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,58},{92,120}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,150},{104,122}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{104,122}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,126},{106,134}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,49},{106,134}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{162,156}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,58},{162,156}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,266},{124,118}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{124,118}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{154,152}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,59},{154,152}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,386},{120,112}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,77},{120,112}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,380},{126,114}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,78},{126,114}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,498},{112,104}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{112,104}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,672},{104,102}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,79},{104,102}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,604},{106,108}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{106,108}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{166,168}}</string>
                <key>offset</key>
                <string>{-32,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{166,168}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{144,148}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,48},{144,148}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,176}}</string>
                <key>offset</key>
                <string>{-27,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{170,176}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{144,152}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{144,152}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{146,158}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,43},{146,158}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{118,130}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{118,130}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,160},{104,130}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,66},{104,130}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>B_HZ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,148},{104,126}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,60},{104,126}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_HZ.pvr.ccz</string>
            <key>size</key>
            <string>{1102,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:696e284404f5403794c21bf626abe35e:6404fd019f491d986a8d263f7cdb9b0c:44f44f3a24f70c577fa3e1972986acf1$</string>
            <key>textureFileName</key>
            <string>avt_B_HZ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
