<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MH_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1312},{80,104}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{80,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,142},{84,104}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{84,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1798},{78,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{78,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{128,98}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,69},{128,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{114,100}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,68},{114,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1214},{100,96}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,75},{100,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1394},{74,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{74,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1310},{86,100}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{86,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1630},{68,94}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,87},{68,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,746},{60,92}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,83},{60,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,438},{82,92}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,86},{82,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,808},{100,88}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{100,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,456},{104,98}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,88},{104,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{112,98}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,91},{112,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1008},{86,88}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,91},{86,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1478},{86,90}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,92},{86,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,290},{108,60}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,134},{108,60}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1570},{92,74}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,115},{92,74}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1114},{98,102}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,73},{98,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,912},{98,102}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,73},{98,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1016},{96,102}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,73},{96,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,808},{98,102}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,73},{98,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1894},{58,100}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,81},{58,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1646},{56,100}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,81},{56,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,400},{54,100}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,80},{54,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1570},{58,100}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,81},{58,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1398},{78,100}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,71},{78,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1700},{80,96}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{80,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1470},{90,98}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{90,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1218},{90,102}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,71},{90,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,910},{88,96}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{88,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,344},{82,92}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,78},{82,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1704},{74,96}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,74},{74,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,146},{76,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{76,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,706},{76,82}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,91},{76,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1874},{72,84}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,97},{72,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1954},{74,90}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,97},{74,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1780},{76,92}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,93},{76,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,666},{78,92}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,90},{78,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,532},{82,90}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,95},{82,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,624},{82,80}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,96},{82,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1960},{78,76}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,94},{78,76}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1114},{102,98}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,74},{102,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,562},{92,102}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,77},{92,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{110,102}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,73},{110,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{132,148}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{132,148}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{144,152}}</string>
                <key>offset</key>
                <string>{-30,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{144,152}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{158,142}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{158,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,142}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{170,142}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{164,134}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{164,134}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{104,98}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,77},{104,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,248},{94,84}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,91},{94,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{108,106}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,88},{108,106}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{134,118}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,80},{134,118}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{144,128}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,79},{144,128}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{148,138}}</string>
                <key>offset</key>
                <string>{-29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,79},{148,138}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{158,138}}</string>
                <key>offset</key>
                <string>{-26,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,81},{158,138}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_MH_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{138,112}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,87},{138,112}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_MH.pvr.ccz</string>
            <key>size</key>
            <string>{326,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a878df1e378973012e390ab2e1aa07fd:b7f2d5058f275d165d6bbab07fa6ec3e:a392163fc82229490d3e26f906b89216$</string>
            <key>textureFileName</key>
            <string>avt_A_MH.pvr.ccz</string>
        </dict>
    </dict>
</plist>
