<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MD_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,436},{108,92}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,102},{108,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,156},{108,94}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,103},{108,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,252},{110,88}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,103},{110,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1416},{66,74}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,108},{66,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,554},{102,78}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,104},{102,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,324},{112,78}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{112,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,438},{114,78}}</string>
                <key>offset</key>
                <string>{27,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,104},{114,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,78},{108,92}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,102},{108,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,780},{108,86}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,91},{108,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1192},{108,86}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,91},{108,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,466},{110,86}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,91},{110,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,778},{66,106}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,91},{66,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,918},{102,86}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,90},{102,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{112,108}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,68},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{114,86}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,90},{114,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1020},{108,84}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,92},{108,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1302},{80,74}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,105},{80,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1378},{78,76}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,103},{78,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1374},{66,76}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,103},{66,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1192},{100,76}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,105},{100,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1336},{82,78}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,104},{82,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{80,118}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,64},{80,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,838},{78,92}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,89},{78,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,760},{80,76}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,105},{80,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,58}}</string>
                <key>offset</key>
                <string>{42,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,143},{160,58}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,74}}</string>
                <key>offset</key>
                <string>{-43,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,124},{162,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{114,84}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,107},{114,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,62},{112,92}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,102},{112,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,554},{108,90}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{108,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,342},{110,92}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,103},{110,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,64},{110,92}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,102},{110,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,546},{110,86}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,91},{110,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,910},{108,86}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,91},{108,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,646},{108,86}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,91},{108,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,554},{110,86}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,91},{110,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1110},{80,74}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,105},{80,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1356},{78,76}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,103},{78,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1294},{78,76}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,103},{78,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1110},{80,74}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,105},{80,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1192},{102,88}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,94},{102,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1006},{100,88}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{100,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1096},{100,86}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{100,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,890},{108,82}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,93},{108,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{120,82}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,94},{120,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{118,82}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,93},{118,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{118,84}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,93},{118,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,734},{110,84}}</string>
                <key>offset</key>
                <string>{25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,95},{110,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,658},{100,78}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,99},{100,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,280},{98,70}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,101},{98,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,180},{98,70}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,101},{98,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1000},{108,76}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,99},{108,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,188},{118,76}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,100},{118,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{120,74}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,99},{120,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,318},{118,74}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,100},{118,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,798},{110,76}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,101},{110,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1296},{88,74}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,105},{88,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1260},{94,74}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,105},{94,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1184},{96,74}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,104},{96,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{88,68}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,103},{88,68}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,380},{82,70}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{82,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1372},{70,74}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,103},{70,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1094},{60,76}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,103},{60,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,466},{72,74}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,105},{72,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,404},{60,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,70},{60,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{60,122}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,60},{60,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1172},{44,86}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,96},{44,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,342},{46,74}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,108},{46,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1130},{60,102}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,80},{60,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,546},{52,118}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,64},{52,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,666},{62,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,70},{62,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,908},{104,86}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,103},{104,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,436},{60,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,69},{60,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,682},{60,114}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,65},{60,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,886},{44,106}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,73},{44,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,188},{46,128}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,51},{46,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{60,140}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,39},{60,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,666},{52,110}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,69},{52,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1260},{62,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,85},{62,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,820},{104,86}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,92},{104,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{70,124}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,55},{70,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,658},{68,108}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,71},{68,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,242},{112,80}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,99},{112,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{130,80}}</string>
                <key>offset</key>
                <string>{45,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,99},{130,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1006},{68,102}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,77},{68,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,996},{82,96}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{82,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,158},{82,114}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,65},{82,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_MD_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,64},{70,114}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,65},{70,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_MD.pvr.ccz</string>
            <key>size</key>
            <string>{508,1497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:408e289a70f128b4139303e193e776d8:d38d411b4ec581655ec44859afb904c2:b67353cdb410d80288645ec74fc23be5$</string>
            <key>textureFileName</key>
            <string>avt_B_MD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
