<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XH_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,542},{88,92}}</string>
                <key>offset</key>
                <string>{19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,150},{88,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,852},{90,114}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,137},{90,114}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,654},{84,116}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,135},{84,116}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,256},{66,140}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,97},{66,140}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,870},{88,94}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,144},{88,94}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,252},{96,94}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,144},{96,94}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,600},{98,96}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,142},{98,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,888},{86,90}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,149},{86,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,136},{90,114}}</string>
                <key>offset</key>
                <string>{-20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,130},{90,114}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,648},{90,96}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,148},{90,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,308},{86,126}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,118},{86,126}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,398},{66,92}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,153},{66,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,866},{88,106}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,167},{88,106}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,142},{96,110}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,162},{96,110}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,348},{98,110}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,163},{98,110}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,634},{86,104}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,158},{86,104}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,252},{94,126}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,116},{94,126}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,396},{106,100}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,149},{106,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,264},{86,142}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,111},{86,142}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,142},{124,108}}</string>
                <key>offset</key>
                <string>{-28,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,134},{124,108}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,542},{126,90}}</string>
                <key>offset</key>
                <string>{-23,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,164},{126,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,136},{130,100}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,154},{130,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,254},{124,96}}</string>
                <key>offset</key>
                <string>{-24,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,158},{124,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,542},{122,88}}</string>
                <key>offset</key>
                <string>{-29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,155},{122,88}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,740},{124,68}}</string>
                <key>offset</key>
                <string>{19,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,196},{124,68}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,130},{124,76}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,179},{124,76}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,380},{106,82}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,162},{106,82}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,634},{104,110}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,139},{104,110}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,740},{106,108}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,142},{106,108}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,542},{108,110}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,142},{108,110}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,740},{106,110}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,142},{106,110}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,690},{104,92}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,152},{104,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,492},{106,90}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,154},{106,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,380},{108,90}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,154},{108,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,518},{106,90}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,154},{106,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,850},{96,118}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,126},{96,118}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,740},{94,118}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,127},{94,118}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,636},{94,118}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,127},{94,118}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,442},{96,118}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,127},{96,118}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,448},{96,106}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,137},{96,106}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,784},{94,102}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,140},{94,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,752},{90,102}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,142},{90,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,786},{90,104}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,138},{90,104}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,698},{92,106}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,137},{92,106}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,546},{94,100}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,140},{94,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,414},{102,100}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,142},{102,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,488},{102,102}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,138},{102,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,746},{96,96}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,142},{96,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,690},{94,100}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,142},{94,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,546},{90,98}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,143},{90,98}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,856},{90,100}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,137},{90,100}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,648},{90,102}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,135},{90,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,636},{94,102}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,140},{94,102}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,592},{102,96}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,146},{102,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,592},{102,96}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{102,96}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,732},{116,92}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,153},{116,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,860},{114,90}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,156},{114,90}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,850},{114,84}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,158},{114,84}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,732},{110,84}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,154},{110,84}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,806},{106,86}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,152},{106,86}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,878},{104,88}}</string>
                <key>offset</key>
                <string>{12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,154},{104,88}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,498},{106,92}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,154},{106,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,844},{110,92}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,153},{110,92}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{118,152}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{118,152}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,414},{126,178}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,78},{126,178}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{132,206}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,52},{132,206}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{138,222}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,39},{138,222}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,130},{130,202}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,40},{130,202}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,130},{132,196}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,46},{132,196}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,880},{84,182}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,60},{84,182}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,704},{68,164}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,78},{68,164}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,224},{118,216}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,37},{118,216}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{126,226}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,30},{126,226}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,262},{132,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{132,190}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{138,300}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,20},{138,300}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{118,292}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,28},{118,292}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{126,250}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,69},{126,250}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,512},{84,190}}</string>
                <key>offset</key>
                <string>{11,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,128},{84,190}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,238},{68,130}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,187},{68,130}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,264},{148,190}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,63},{148,190}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,540},{176,178}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,78},{176,178}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,396},{144,190}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{144,190}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,220}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{256,220}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{228,198}}</string>
                <key>offset</key>
                <string>{-39,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,40},{228,198}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,202},{186,186}}</string>
                <key>offset</key>
                <string>{-63,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{186,186}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,720},{176,158}}</string>
                <key>offset</key>
                <string>{-52,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,80},{176,158}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>B_XH_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,390},{184,120}}</string>
                <key>offset</key>
                <string>{-50,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,123},{184,120}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_XH.pvr.ccz</string>
            <key>size</key>
            <string>{1433,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245034ad31784638839cba31cb6f7bf7:2d6582cd12f7b17a43acf2d92ed674c9:9c19902582d4216ea3e552bc585cf0b0$</string>
            <key>textureFileName</key>
            <string>avt_B_XH.pvr.ccz</string>
        </dict>
    </dict>
</plist>
