<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MC_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,574},{68,122}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,104},{68,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,310},{96,116}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,110},{96,116}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,574},{92,116}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,110},{92,116}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,488},{70,114}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,111},{70,114}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,460},{116,140}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,85},{116,140}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{160,164}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{160,164}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{204,166}}</string>
                <key>offset</key>
                <string>{-23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,60},{204,166}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,182},{172,146}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,80},{172,146}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,90},{68,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,89},{68,128}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,286},{96,132}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,85},{96,132}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,408},{92,132}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,85},{92,132}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,502},{70,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,85},{70,132}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,180},{116,128}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,89},{116,128}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,328},{158,132}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,85},{158,132}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{202,130}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,87},{202,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,186},{172,130}}</string>
                <key>offset</key>
                <string>{39,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,87},{172,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,348},{104,110}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,97},{104,110}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,352},{100,126}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,81},{100,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,244},{108,106}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,101},{108,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{134,98}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,109},{134,98}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,314},{140,144}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,63},{140,144}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{166,150}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,57},{166,150}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,168},{144,160}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{144,160}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,540},{126,148}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,95},{126,148}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,154},{142,66}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,152},{142,66}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,172},{142,70}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,150},{142,70}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,88},{92,86}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,139},{92,86}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,220},{56,126}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,101},{56,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,222},{56,124}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,101},{56,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,574},{58,122}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,102},{58,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,348},{56,124}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,102},{56,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,538},{56,130}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,87},{56,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,468},{58,130}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,87},{58,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,348},{58,130}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,87},{58,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,336},{58,130}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,87},{58,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,584},{112,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,101},{112,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,334},{110,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,103},{110,104}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,352},{110,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,103},{110,104}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,584},{112,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,101},{112,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,460},{76,124}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,102},{76,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,458},{84,126}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,97},{84,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,220},{90,126}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,93},{90,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,186},{96,130}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,92},{96,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,182},{102,130}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,88},{102,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,92},{106,126}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,95},{106,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,476},{96,126}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,99},{96,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,544},{86,124}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,100},{86,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,204},{76,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,99},{76,130}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,538},{84,124}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,103},{84,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,574},{90,110}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,105},{90,110}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,476},{96,102}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,102},{96,102}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,446},{102,94}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,101},{102,94}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,542},{106,102}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,97},{106,102}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,474},{98,112}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,94},{98,112}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,384},{86,132}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,97},{86,132}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,574},{118,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{118,108}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,584},{112,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,96},{112,108}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,92},{114,110}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,95},{114,110}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,578},{118,114}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,91},{118,114}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,574},{122,108}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,90},{122,108}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,244},{124,106}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,90},{124,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,370},{130,104}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,92},{130,104}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,560},{126,108}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,93},{126,108}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,286},{82,148}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,82},{82,148}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,584},{112,170}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,58},{112,170}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,462},{120,182}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,46},{120,182}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{88,222}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,8},{88,222}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{84,230}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{84,230}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{84,230}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{84,230}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{86,228}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,0},{86,228}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{100,222}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,6},{100,222}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,90},{80,158}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,63},{80,158}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,394},{108,188}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,35},{108,188}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,394},{118,188}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,35},{118,188}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,88},{90,188}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,35},{90,188}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,104},{80,220}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,3},{80,220}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,188},{84,204}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,16},{84,204}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,88},{92,184}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,38},{92,184}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,182},{102,144}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,79},{102,144}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,222},{106,110}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,97},{106,110}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,436},{102,174}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,33},{102,174}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,318},{116,174}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,33},{116,174}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,318},{114,168}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,39},{114,168}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,184}}</string>
                <key>offset</key>
                <string>{-27,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{202,184}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{186,178}}</string>
                <key>offset</key>
                <string>{-35,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{186,178}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{174,168}}</string>
                <key>offset</key>
                <string>{-36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{174,168}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,172},{158,154}}</string>
                <key>offset</key>
                <string>{-28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,53},{158,154}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_MC.pvr.ccz</string>
            <key>size</key>
            <string>{2042,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:786ea0072bffe935643ba2bd34b58a2c:da13ece09dd4e7b161fc4bf301ff9ac3:ea47ea8b0543cd267bf040cdd542e7a1$</string>
            <key>textureFileName</key>
            <string>avt_B_MC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
