<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XQ_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1156},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,83},{60,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1170},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,85},{60,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,574},{60,84}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,82},{60,84}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,574},{60,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{60,84}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,746},{82,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{82,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,330},{116,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,67},{116,94}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,452},{100,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{100,100}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,196},{104,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{104,110}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,826},{60,78}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,87},{60,78}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,684},{60,78}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,87},{60,78}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,830},{60,72}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,87},{60,72}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,902},{60,76}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,92},{60,76}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,830},{74,72}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,98},{74,72}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,660},{112,84}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,101},{112,84}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,448},{100,94}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,98},{100,94}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,338},{102,112}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,90},{102,112}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,614},{58,80}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{58,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,904},{58,82}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,87},{58,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,554},{58,82}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,82},{58,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,748},{62,76}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{62,76}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,490},{102,82}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,88},{102,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{142,100}}</string>
                <key>offset</key>
                <string>{-41,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{142,100}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,104},{142,90}}</string>
                <key>offset</key>
                <string>{-41,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{142,90}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1154},{140,90}}</string>
                <key>offset</key>
                <string>{-42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,79},{140,90}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,774},{84,42}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,130},{84,42}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,660},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,115},{84,60}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,676},{70,64}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,113},{70,64}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1170},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,83},{60,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,614},{60,78}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,85},{60,78}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1170},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{60,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1170},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,83},{60,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1072},{60,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{60,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,988},{60,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{60,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,550},{60,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,83},{60,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,904},{60,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{60,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,746},{56,80}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,86},{56,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1074},{56,80}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{56,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1156},{58,80}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{58,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1074},{58,80}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,86},{58,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,746},{50,86}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,79},{50,86}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,904},{50,82}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{50,82}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,614},{50,80}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{50,80}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,746},{50,84}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,79},{50,84}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,490},{48,86}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,79},{48,86}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,988},{46,84}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{46,84}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,988},{46,84}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,79},{46,84}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1154},{48,86}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{48,86}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,758},{52,64}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,103},{52,64}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,696},{50,60}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,103},{50,60}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1114},{50,58}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,102},{50,58}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1016},{48,56}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,101},{48,56}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,696},{48,64}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,101},{48,64}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1052},{46,60}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,102},{46,60}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,958},{48,56}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,103},{48,56}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1174},{48,56}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,103},{48,56}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,612},{70,70}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,97},{70,70}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,540},{70,72}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,98},{70,72}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,746},{64,74}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{64,74}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,828},{62,72}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,95},{62,72}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,196},{66,70}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,95},{66,70}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,888},{68,66}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,95},{68,66}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,268},{68,66}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,96},{68,66}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,980},{70,68}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,97},{70,68}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{224,162}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{224,162}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,798},{220,160}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,64},{220,160}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,176},{200,152}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,62},{200,152}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,818},{190,154}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,60},{190,154}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,660},{194,156}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,61},{194,156}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,574},{200,170}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{200,170}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{204,188}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{204,188}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,206}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{210,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{224,166}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{224,166}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{220,172}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{220,172}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1010},{188,158}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,51},{188,158}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,988},{190,164}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{190,164}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,818},{194,168}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,49},{194,168}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,400},{200,172}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{200,172}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,210},{204,188}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{204,188}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{210,206}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{210,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{224,162}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{224,162}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1020},{220,162}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,62},{220,162}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,502},{200,156}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{200,156}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,330},{190,158}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,56},{190,158}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,170},{194,158}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{194,158}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,330},{200,170}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{200,170}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{204,188}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{204,188}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>B_XQ_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,206}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{210,206}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_XQ.pvr.ccz</string>
            <key>size</key>
            <string>{1018,1252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9555bb1ae45deaf285cfe5e548266d1:bd4d70658283eb2391066ece77775b75:cbeeb2a979a0d5b3cb67fec15e657f24$</string>
            <key>textureFileName</key>
            <string>avt_B_XQ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
