<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WU4_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,83},{71,79}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{71,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{53,79}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{53,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{49,73}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,52},{49,73}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{83,81}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,53},{83,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{91,101}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,60},{91,101}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{87,101}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{87,101}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{89,93}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{89,93}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{87,79}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{87,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,168},{69,81}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{69,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,206},{47,89}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,41},{47,89}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,103},{61,95}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,33},{61,95}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,156},{73,73}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,78},{73,73}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{99,71}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,84},{99,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,71}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,76},{103,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,105},{99,85}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,74},{99,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,89},{85,83}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{85,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,200},{93,53}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,102},{93,53}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,95},{89,69}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,82},{89,69}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,164},{69,79}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,56},{69,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{65,79}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,56},{65,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,83},{65,79}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,57},{65,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,176},{67,77}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,58},{67,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,85},{67,81}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,63},{67,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,168},{65,81}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,63},{65,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{65,81}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,63},{65,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,186},{67,81}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,63},{67,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{75,81}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{75,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{73,79}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,58},{73,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,166},{71,79}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,57},{71,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,85},{73,81}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,56},{73,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,172},{75,81}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,56},{75,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,164},{73,75}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{73,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,166},{71,79}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,58},{71,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{77,85}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{77,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{67,71}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{67,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,75},{65,71}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{65,71}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,79},{59,73}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{59,73}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{61,75}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,63},{61,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,83},{65,75}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,65},{65,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,79},{59,75}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{59,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,2},{57,75}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{57,75}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,176},{63,77}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,66},{63,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{69,79}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,57},{69,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,164},{57,77}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{57,77}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,83},{63,79}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,53},{63,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,95},{71,91}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,43},{71,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,190},{63,87}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{63,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,89},{61,85}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{61,85}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,85},{79,79}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{79,79}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{81,91}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{69,81}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{69,81}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,154},{69,69}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,75},{69,69}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,87},{65,83}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,62},{65,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,97},{83,91}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,29},{83,91}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,91},{53,87}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,33},{53,87}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,148},{63,69}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,45},{63,69}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{85,83}}</string>
                <key>offset</key>
                <string>{-29,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,67},{85,83}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>B_WU4_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,188},{65,89}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,82},{65,89}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WU4.pvr.ccz</string>
            <key>size</key>
            <string>{1465,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19aa5265ff58b33b43528265a60be58c:7a9e2ca2def496a225fa1b656d90c56c:80e10f6f38e3b097098d03bbdb2c1e6a$</string>
            <key>textureFileName</key>
            <string>avt_A_WU4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
