<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_CP_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,950},{92,86}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{92,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{114,80}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,102},{114,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{90,102}}</string>
                <key>offset</key>
                <string>{19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,101},{90,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{86,80}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,108},{86,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1142},{64,84}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,103},{64,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{94,88}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,95},{94,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{56,76}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,110},{56,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{92,86}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{92,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{62,90}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,594},{48,92}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,90},{48,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,248},{112,92}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,89},{112,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1410},{80,88}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,96},{80,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{110,88}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,97},{110,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,506},{104,86}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,96},{104,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{84,90}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,90},{84,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1208},{62,90}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,54}}</string>
                <key>offset</key>
                <string>{55,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,161},{134,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1410},{86,70}}</string>
                <key>offset</key>
                <string>{32,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,107},{86,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,862},{92,86}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{92,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,684},{94,88}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,97},{94,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1038},{90,86}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{90,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{92,86}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{92,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{62,90}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,688},{58,90}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,88},{58,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1050},{64,90}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,88},{64,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,958},{62,90}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1636},{56,84}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,99},{56,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1636},{54,84}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,102},{54,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1320},{56,88}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,94},{56,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1228},{56,90}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,92},{56,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1498},{56,86}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{56,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,780},{58,84}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,99},{58,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{54,88}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,96},{54,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1578},{56,84}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,99},{56,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{94,88}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,91},{94,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{92,82}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,93},{92,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1322},{88,86}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,89},{88,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1492},{86,84}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{86,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1396},{88,80}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{88,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1126},{90,80}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,91},{90,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{88,86}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,89},{88,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,594},{94,88}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,91},{94,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,774},{92,86}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{92,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{114,80}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,102},{114,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,454},{50,106}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,80},{50,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{48,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,81},{48,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,400},{52,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{52,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{52,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{52,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,342},{56,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,73},{56,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{60,126}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,58},{60,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,866},{62,90}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,88},{62,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1272},{48,90}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,91},{48,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,84},{60,116}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,66},{60,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{60,112}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,70},{60,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{56,124}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,58},{56,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,194},{52,124}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,57},{52,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,146},{46,122}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,58},{46,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_CP_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{44,130}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,49},{44,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_CP.pvr.ccz</string>
            <key>size</key>
            <string>{254,1694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0725b7c66833fbbe0bf876aab4d91e21:9f2b314d4fa232b379f8124fe6c07814:f3b8eebc676bb49e17bd55a7ef91a01e$</string>
            <key>textureFileName</key>
            <string>avt_A_CP.pvr.ccz</string>
        </dict>
    </dict>
</plist>
