<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XHD_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,102},{90,112}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{90,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,332},{88,114}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{88,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,98},{84,152}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,30},{84,152}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,336},{84,112}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,68},{84,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,218},{112,118}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,58},{112,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,184},{98,178}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{98,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{98,174}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,4},{98,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{98,170}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,8},{98,170}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,320},{98,106}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,61},{98,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,212},{104,106}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,61},{104,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,184},{82,134}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,33},{82,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,116},{92,116}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,51},{92,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,116},{86,116}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,51},{86,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{150,182}}</string>
                <key>offset</key>
                <string>{-39,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,182}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,186}}</string>
                <key>offset</key>
                <string>{-39,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,186}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,180}}</string>
                <key>offset</key>
                <string>{-39,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{150,180}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,218},{124,98}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,102},{124,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,318},{116,102}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{116,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,316},{84,110}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,68},{84,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,336},{84,110}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,67},{84,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,334},{84,108}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,68},{84,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,336},{84,110}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,67},{84,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,102},{104,106}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{104,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,98},{104,108}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,65},{104,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,102},{104,108}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,65},{104,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,102},{104,108}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{104,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,316},{94,110}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{94,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,234},{90,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{90,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,210},{90,114}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{90,114}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,216},{90,116}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{90,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,300},{92,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,60},{92,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,208},{94,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{94,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,220},{96,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,66},{96,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,216},{98,108}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,65},{98,108}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,216},{118,116}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,68},{118,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,306},{114,112}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,71},{114,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,318},{112,102}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,73},{112,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,320},{114,100}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,70},{114,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,336},{114,84}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,69},{114,84}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,208},{116,90}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,65},{116,90}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,96},{122,94}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,66},{122,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,102},{122,112}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,68},{122,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{90,174}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,2},{90,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{90,174}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,2},{90,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{94,178}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{94,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{94,164}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,13},{94,164}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{98,160}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,17},{98,160}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{98,164}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,13},{98,164}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{98,176}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{98,176}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{92,174}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{92,174}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,184},{100,150}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,23},{100,150}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{112,138}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,35},{112,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,214},{122,120}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{122,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,96},{128,120}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{128,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,94},{128,118}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{128,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,184},{130,120}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{130,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,94},{126,122}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,51},{126,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,180},{112,136}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{112,136}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_XHD.pvr.ccz</string>
            <key>size</key>
            <string>{2020,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec1a8e1a0f53f4aace9814a6a68811a:e0e7f701be9e5e643ccb9cf01c96c88d:3705a8d93de6b65b42bb395705f71ec6$</string>
            <key>textureFileName</key>
            <string>avt_A_XHD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
