<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_LT_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1120},{85,87}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,118},{85,87}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1045},{83,73}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,132},{83,73}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1024},{79,75}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,130},{79,75}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,948},{135,105}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,100},{135,105}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{157,125}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,99},{157,125}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,659},{117,95}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,113},{117,95}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,911},{81,73}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,132},{81,73}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1301},{83,75}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,130},{83,75}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,255},{107,81}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,129},{107,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1295},{99,81}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,127},{99,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{101,89}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{101,89}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1085},{131,103}}</string>
                <key>offset</key>
                <string>{-47,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,127},{131,103}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,668},{143,113}}</string>
                <key>offset</key>
                <string>{-46,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,117},{143,113}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{133,117}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,107},{133,117}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1101},{99,75}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,134},{99,75}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,93},{101,79}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,130},{101,79}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1202},{91,69}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,149},{91,69}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1384},{115,55}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,164},{115,55}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,574},{131,83}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,128},{131,83}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,489},{131,83}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,128},{131,83}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1218},{131,81}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,129},{131,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,778},{131,81}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,129},{131,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1386},{51,97}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,123},{51,97}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1188},{51,97}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,123},{51,97}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1385},{49,97}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,123},{49,97}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1439},{47,99}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,121},{47,99}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{111,79}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,128},{111,79}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1441},{109,79}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,134},{109,79}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1087},{99,83}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,130},{99,83}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,862},{79,81}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,130},{79,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,889},{71,77}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,132},{71,77}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,945},{79,77}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,133},{79,77}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1396},{87,81}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,126},{87,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1209},{99,81}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,126},{99,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,668},{99,91}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,128},{99,91}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,986},{99,83}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,133},{99,83}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,761},{99,79}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,132},{99,79}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,778},{109,77}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,128},{109,77}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,421},{119,75}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,132},{119,75}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,589},{119,77}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,134},{119,77}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1441},{123,83}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,130},{123,83}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,498},{113,89}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,127},{113,89}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1292},{83,91}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,115},{83,91}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,962},{77,81}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,123},{77,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{189,173}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{189,173}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,171},{195,167}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{195,167}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,167}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,75},{199,167}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{189,173}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{189,173}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{195,167}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{195,167}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,813},{133,113}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,93},{133,113}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1301},{127,81}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,131},{127,81}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,521},{145,93}}</string>
                <key>offset</key>
                <string>{-40,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,133},{145,93}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{191,141}}</string>
                <key>offset</key>
                <string>{-25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,114},{191,141}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{189,141}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,104},{189,141}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,340},{185,147}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,103},{185,147}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{191,141}}</string>
                <key>offset</key>
                <string>{-25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,114},{191,141}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{189,141}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,104},{189,141}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>B_LT_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,340},{121,79}}</string>
                <key>offset</key>
                <string>{-44,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,133},{121,79}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_LT.pvr.ccz</string>
            <key>size</key>
            <string>{503,1575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a1935f6277ede121c64f30e0be24b5a:bb517a0962a292497eef79af590e6134:b93e427631dee24af9f3f02edde1ab22$</string>
            <key>textureFileName</key>
            <string>avt_A_LT.pvr.ccz</string>
        </dict>
    </dict>
</plist>
