<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_MC_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,260},{94,112}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,105},{94,112}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,390},{98,118}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,100},{98,118}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,264},{124,106}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,111},{124,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,264},{110,106}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,111},{110,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,126},{136,150}}</string>
                <key>offset</key>
                <string>{30,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,66},{136,150}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2},{180,158}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,58},{180,158}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{176,166}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{176,166}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,250},{140,136}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,100},{140,136}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,372},{88,122}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,90},{88,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,380},{76,128}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,84},{76,128}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{82,124}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,88},{82,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,390},{86,118}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,94},{86,118}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,244},{114,140}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,72},{114,140}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,244},{126,144}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{126,144}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{200,134}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,78},{200,134}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,122},{160,132}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,91},{160,132}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{122,66}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,145},{122,66}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,372},{118,82}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,146},{118,82}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,372},{104,110}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,108},{104,110}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,374},{102,106}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,111},{102,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,140},{102,106}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,110},{102,106}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,170},{102,108}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,109},{102,108}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,386},{90,122}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,91},{90,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,170},{88,122}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,91},{88,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,382},{86,122}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,91},{86,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,264},{88,122}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,91},{88,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,390},{90,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{90,118}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,390},{86,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,96},{86,118}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,256},{86,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,93},{86,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,382},{90,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,91},{90,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,388},{92,120}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,89},{92,120}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,390},{94,118}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,92},{94,118}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,162},{94,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,97},{94,116}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,390},{92,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,96},{92,118}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,134},{114,126}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,96},{114,126}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,386},{112,122}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,99},{112,122}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,368},{110,112}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,101},{110,112}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,260},{112,110}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,96},{112,110}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,280},{112,98}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,95},{112,98}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,388},{120,104}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,91},{120,104}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,258},{116,108}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,92},{116,108}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,256},{116,124}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,95},{116,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,162},{92,138}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,82},{92,138}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,120},{122,178}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,40},{122,178}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,196},{106,182}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,39},{106,182}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,140},{94,196}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,24},{94,196}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{140,220}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{136,222}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{136,222}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{130,212}}</string>
                <key>offset</key>
                <string>{-16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,7},{130,212}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{116,200}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,18},{116,200}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,138},{110,150}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,68},{110,150}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,204},{92,184}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,34},{92,184}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{118,182}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,36},{118,182}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{122,182}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,38},{122,182}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,200}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{184,200}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{168,192}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{168,192}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,236},{152,176}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,42},{152,176}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>B_MC_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,250},{138,124}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,94},{138,124}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_MC.pvr.ccz</string>
            <key>size</key>
            <string>{2002,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:958e9157544a39e3c3fc2f6c35f8ea32:42b1956e93ef30a8c9c1554fe094689f:eac48d3287e403c813b4d29b83ac4d6f$</string>
            <key>textureFileName</key>
            <string>avt_A_MC.pvr.ccz</string>
        </dict>
    </dict>
</plist>
