<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XHY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,142},{68,72}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,107},{68,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{66,76}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,103},{66,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,86},{76,82}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,106},{96,86}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,92},{96,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,172},{80,78}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{80,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{84,76}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,105},{84,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{78,72}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,110},{78,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,82},{78,72}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,110},{78,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,94},{76,90}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,91},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{76,90}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,94},{68,90}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,92},{68,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{54,92}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,90},{54,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{56,96}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,86},{56,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,204},{48,94}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,87},{48,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{46,92}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,89},{46,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,96},{56,92}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,89},{56,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,92},{88,54}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,147},{88,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{102,58}}</string>
                <key>offset</key>
                <string>{27,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,133},{102,58}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,160},{68,72}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,107},{68,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,72},{68,72}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,107},{68,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,162},{68,76}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,106},{68,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{68,74}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,107},{68,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,94},{76,90}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,91},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{76,90}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,91},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,94},{76,90}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,91},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{76,90}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,91},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{72,78}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,101},{72,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,182},{70,82}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,98},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{68,88}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,96},{68,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,186},{66,80}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,97},{66,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,186},{66,78}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,102},{66,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{62,80}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,99},{62,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{58,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,94},{58,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,190},{58,86}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,93},{58,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,188},{64,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,94},{64,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,186},{66,86}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,92},{66,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,182},{68,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,91},{68,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,88},{74,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,91},{74,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{76,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,95},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,88},{76,82}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{76,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,92},{74,88}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,94},{74,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{76,88}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,94},{76,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,82},{66,76}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,103},{66,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,84},{72,80}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,101},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,174},{80,78}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,101},{80,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{102,82}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,96},{102,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,170},{82,76}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,106},{82,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,80}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,99},{106,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{80,76}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,105},{80,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,166},{78,72}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,110},{78,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{76,90}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{76,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{74,90}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,92},{74,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{66,92}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,90},{66,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{58,94}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,88},{58,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,100},{44,96}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,86},{44,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,96},{50,92}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,89},{50,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,98},{46,94}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,87},{46,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_XHY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{46,92}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,89},{46,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_XHY.pvr.ccz</string>
            <key>size</key>
            <string>{1478,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a42df2bbfc2cb8493cefc93ccbba511:3dc795432ded4d4bcf94fbfeb64e7228:17e8a0b2d5ebaf28800a820d20e4932e$</string>
            <key>textureFileName</key>
            <string>avt_A_XHY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
