<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZR_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,76},{78,94}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,74},{78,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{68,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,72},{68,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,230},{60,88}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{60,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,72},{74,92}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{74,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,110},{82,94}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{82,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,128},{82,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,69},{82,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,124},{80,98}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,69},{80,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,104},{78,96}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,73},{78,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{62,94}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,75},{62,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{72,96}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,71},{72,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,260},{66,96}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,71},{66,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,104},{90,84}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,83},{90,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,110},{92,84}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,83},{92,84}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,128},{92,88}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{92,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,112},{84,92}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{84,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,148},{66,94}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,74},{66,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,278},{122,50}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{122,50}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,68},{86,70}}</string>
                <key>offset</key>
                <string>{10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,122},{86,70}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,124},{84,94}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,74},{84,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,124},{84,94}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,74},{84,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,128},{84,94}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,74},{84,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,128},{86,94}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,74},{86,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,58},{54,98}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,71},{54,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,130},{54,98}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,71},{54,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,232},{54,98}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,71},{54,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{54,98}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,71},{54,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,72},{80,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{80,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,182},{78,94}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{78,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,128},{84,96}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,72},{84,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,172},{76,96}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{76,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{64,98}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,68},{64,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{72,102}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{72,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{68,94}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,73},{68,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,164},{76,94}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,72},{76,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,66},{62,92}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,80},{62,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,140},{64,90}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,78},{64,90}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,230},{56,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,79},{56,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,172},{56,82}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{56,82}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,238},{66,88}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{66,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,148},{70,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,78},{70,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,270},{58,102}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,79},{58,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,114},{56,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{56,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,210},{168,110}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{168,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,206},{148,110}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,58},{148,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{160,108}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,60},{160,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{160,100}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,68},{160,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,202},{148,104}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{148,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{230,124}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{230,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{230,124}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{230,124}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,128}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,77},{224,128}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,222},{168,110}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,57},{168,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,206},{148,110}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{148,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{160,106}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,61},{160,106}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{160,104}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{160,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,76},{136,104}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{136,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,214},{228,114}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{228,114}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,214},{228,116}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{228,116}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_ZR_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{222,120}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{222,120}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_ZR.pvr.ccz</string>
            <key>size</key>
            <string>{2002,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed0c6e7b57c4a400529700c6c556369:e3fb0e6d97f4f9324dfdde0fd9cd96f7:17e5b895a59344d440765b58177f125d$</string>
            <key>textureFileName</key>
            <string>avt_A_ZR.pvr.ccz</string>
        </dict>
    </dict>
</plist>
