<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_SMY_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{76,96}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{76,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1926},{80,88}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,78},{80,88}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1808},{68,94}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,78},{68,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,740},{138,108}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{138,108}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,378},{130,122}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,72},{130,122}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,246},{130,130}}</string>
                <key>offset</key>
                <string>{-30,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,71},{130,130}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,962},{124,110}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{124,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1474},{92,98}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,70},{92,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{76,98}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{76,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1622},{78,102}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,68},{78,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1724},{68,102}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,68},{68,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1074},{128,102}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,68},{128,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,626},{136,112}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,69},{136,112}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,850},{124,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,69},{124,110}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1282},{96,100}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,72},{96,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1380},{92,100}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,71},{92,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1666},{56,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,69},{56,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1716},{68,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,71},{68,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1878},{64,92}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,77},{64,92}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1178},{114,102}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{114,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{142,122}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,67},{142,122}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,126},{146,118}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,67},{146,118}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,502},{128,122}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,68},{128,122}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1402},{54,112}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,68},{54,112}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1950},{70,80}}</string>
                <key>offset</key>
                <string>{10,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,111},{70,80}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1862},{70,86}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,97},{70,86}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1282},{118,54}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,114},{118,54}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1766},{70,94}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,71},{70,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1726},{70,94}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,72},{70,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1736},{70,94}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,72},{70,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1670},{70,94}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{70,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1796},{70,100}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{70,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1926},{70,100}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{70,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1724},{70,100}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,70},{70,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1824},{70,100}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{70,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1914},{50,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,69},{50,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1862},{50,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,69},{50,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{52,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,69},{52,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1664},{50,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,69},{50,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{62,104}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,67},{62,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1602},{60,98}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,71},{60,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1602},{60,98}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,70},{60,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1664},{58,102}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,66},{58,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1516},{64,104}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{64,104}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1794},{64,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{64,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1798},{62,98}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,70},{62,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1602},{60,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,66},{60,102}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1912},{62,94}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{62,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1944},{60,96}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,83},{60,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1602},{60,98}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,79},{60,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1664},{58,96}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,79},{58,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1894},{64,96}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,81},{64,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1816},{66,94}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{66,94}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1898},{62,98}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,79},{62,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1602},{60,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,79},{60,96}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1824},{72,100}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,72},{72,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1568},{84,100}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,75},{84,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{80,100}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,73},{80,100}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1664},{70,98}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,71},{70,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1724},{72,98}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{72,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1928},{74,98}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{74,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1724},{74,98}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,73},{74,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1828},{74,98}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,72},{74,98}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{208,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1202},{204,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1402},{202,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1202},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,602},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,602},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{208,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1002},{204,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1402},{202,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1002},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,402},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,402},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{208,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,802},{204,198}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{202,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,802},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,202},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,202},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{204,198}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>B_SMY_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{206,198}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_SMY.pvr.ccz</string>
            <key>size</key>
            <string>{780,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94446968aa7cd290aaee8db6a1cb26e8:83334d6c18704b06ada10a26d5bbdc12:0f8361407f0ffdcd8fc04463e68c3d7f$</string>
            <key>textureFileName</key>
            <string>avt_B_SMY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
