<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_ZT_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,90},{72,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,438},{64,78}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,106},{64,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,292},{54,66}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,113},{54,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,354},{40,66}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,117},{40,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,428},{42,74}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,107},{42,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,446},{56,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,92},{56,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{122,82}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,102},{122,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,260},{72,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{72,80}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,260},{64,88}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{64,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{54,108}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,66},{54,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,260},{40,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{40,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,458},{42,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,90},{42,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,82},{56,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,99},{56,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,136},{122,72}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,106},{122,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,84},{72,80}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,174},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,394},{102,82}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,96},{102,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{66,82}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,96},{66,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,428},{78,74}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,103},{78,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,264},{74,80}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,98},{74,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,260},{98,84}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,95},{98,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{62,78}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,101},{62,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,344},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,104},{100,54}}</string>
                <key>offset</key>
                <string>{17,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,151},{100,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{100,60}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,120},{100,60}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,206},{88,52}}</string>
                <key>offset</key>
                <string>{25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,136},{88,52}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,350},{72,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{76,86}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{76,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{72,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,90},{72,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,168},{72,80}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,178},{76,80}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,96},{76,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{72,80}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,86},{72,80}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,260},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,258},{68,82}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,95},{68,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,344},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,260},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,87},{56,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{56,88}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,89},{56,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,348},{56,86}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,89},{56,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,85},{56,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{58,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,81},{58,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,98},{58,92}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{58,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{56,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,88},{56,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,98},{56,92}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,87},{56,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,360},{56,72}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,109},{56,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,280},{56,72}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,110},{56,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,206},{56,72}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{56,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{56,64}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,107},{56,64}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,134},{58,70}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,108},{58,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,60},{58,72}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{58,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,436},{56,66}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,111},{56,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,162},{56,72}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{56,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,346},{84,72}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{84,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,90},{86,74}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,101},{86,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,178},{84,72}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,103},{84,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,260},{84,74}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,100},{84,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,84},{78,72}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,102},{78,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,178},{80,76}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,103},{80,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,354},{68,76}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,103},{68,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,346},{84,72}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{84,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{72,86}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,99},{72,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,432},{70,84}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,105},{70,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,422},{68,72}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,106},{68,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,236},{54,78}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,105},{54,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,80}}</string>
                <key>offset</key>
                <string>{25,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,97},{132,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,260},{116,80}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,97},{116,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,360},{96,86}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,97},{96,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,354},{90,90}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,98},{90,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,342},{72,80}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{72,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,424},{70,72}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,99},{70,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,432},{70,84}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,91},{70,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,250},{54,80}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,102},{54,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,72}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,108},{132,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,378},{116,70}}</string>
                <key>offset</key>
                <string>{-26,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,110},{116,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{94,72}}</string>
                <key>offset</key>
                <string>{-21,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,114},{94,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,186},{88,72}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,111},{88,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,260},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{70,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,96},{88,78}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,95},{88,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,90},{74,82}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,93},{74,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,166},{78,76}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,104},{78,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,90},{40,84}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,97},{40,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,103},{60,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,176},{82,76}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,104},{82,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>B_ZT_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,424},{78,76}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,104},{78,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_ZT.pvr.ccz</string>
            <key>size</key>
            <string>{1092,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd7023bb4f6caa61dec4b4dac203b085:ecc9a913168c14ef76905d010a99cf4c:c22e2ab7c94c22cc25d9e41001fcce60$</string>
            <key>textureFileName</key>
            <string>avt_B_ZT.pvr.ccz</string>
        </dict>
    </dict>
</plist>
