<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_XHD_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,226},{62,118}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,67},{62,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,442},{78,122}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,65},{78,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{70,146}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,42},{70,146}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,406},{64,120}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,67},{64,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,344},{50,122}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,61},{50,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,88},{50,186}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,0},{50,186}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,86},{58,184}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{58,184}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,142},{58,180}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,4},{58,180}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,388},{62,112}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{62,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,256},{78,110}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,62},{78,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,268},{70,124}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,48},{70,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,108},{64,160}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,12},{64,160}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,202},{50,122}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{50,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,82},{56,182}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,16},{56,182}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,82},{58,180}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,24},{58,180}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,168},{56,170}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,33},{56,170}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,420},{120,100}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,67},{120,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,138},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,69},{102,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,136},{104,138}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,29},{104,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,284},{138,96}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,71},{138,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,138},{126,104}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{126,104}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,146}}</string>
                <key>offset</key>
                <string>{-18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{188,146}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{168,142}}</string>
                <key>offset</key>
                <string>{-30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{168,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{168,138}}</string>
                <key>offset</key>
                <string>{-30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{168,138}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,410},{118,92}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,93},{118,92}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,312},{120,106}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,79},{120,106}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,420},{92,100}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,101},{92,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,146},{56,120}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{56,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,414},{56,118}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,66},{56,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,224},{56,118}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{56,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,462},{56,118}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,67},{56,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,464},{56,112}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,66},{56,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,442},{56,112}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,66},{56,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,326},{56,112}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,66},{56,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,268},{56,112}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,66},{56,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,126},{114,100}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,67},{114,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,418},{112,100}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,67},{112,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,418},{110,100}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,67},{110,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,420},{112,100}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,67},{112,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,394},{66,120}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,67},{66,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,340},{64,122}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,63},{64,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,396},{66,118}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,62},{66,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,346},{70,122}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,61},{70,122}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,226},{72,116}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{72,116}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,242},{76,118}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{76,118}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,140},{80,120}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{80,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,316},{76,120}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,65},{76,120}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,244},{66,134}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{66,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,202},{64,130}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,59},{64,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,304},{64,110}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,66},{64,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,370},{70,94}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,74},{70,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,382},{72,94}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{72,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,340},{76,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{76,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,256},{78,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{78,100}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,242},{76,130}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,61},{76,130}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,424},{130,96}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,69},{130,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,320},{122,98}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,68},{122,98}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,320},{118,96}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,69},{118,96}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,122},{120,102}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{120,102}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,234},{122,94}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{122,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,146},{126,94}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,63},{126,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,140},{128,92}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{128,92}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,284},{134,94}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,67},{134,94}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{78,178}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,4},{78,178}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{78,182}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,1},{78,182}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{78,182}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,1},{78,182}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,140},{82,170}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,13},{82,170}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,174},{80,168}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,15},{80,168}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,82},{84,172}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,11},{84,172}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{84,182}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,1},{84,182}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{82,180}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,2},{82,180}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,150},{76,142}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{76,142}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,242},{72,126}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,52},{72,126}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,226},{76,112}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{76,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,336},{76,110}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,68},{76,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,224},{78,110}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,68},{78,110}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,330},{78,112}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,66},{78,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,358},{72,112}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{72,112}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,262},{78,124}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,54},{78,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{104,160}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{104,160}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{122,152}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,15},{122,152}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{138,152}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{138,152}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{144,134}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{144,134}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,294},{146,124}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{146,124}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,142},{140,132}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{140,132}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{132,150}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,17},{132,150}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>B_XHD_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{118,152}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,15},{118,152}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_XHD.pvr.ccz</string>
            <key>size</key>
            <string>{2044,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2210a1064529b65e0a6eb4ca5a072a2:67470e4ae7742e75f07090dff6178eff:c6eca99bf14147572fb47af642dd0cda$</string>
            <key>textureFileName</key>
            <string>avt_B_XHD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
