<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_WNY_Attack_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,828},{114,102}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,66},{114,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,932},{110,100}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{110,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1348},{94,100}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1498},{88,102}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,62},{88,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{88,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,47},{88,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{122,144}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{122,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{86,106}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{86,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1442},{88,106}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,58},{88,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{98,124}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,35},{98,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{90,120}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,39},{90,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1054},{84,118}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,41},{84,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1440},{78,118}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,41},{78,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,610},{112,118}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,41},{112,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,714},{112,112}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{112,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,724},{106,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{106,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Attack_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,602},{116,116}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{116,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Dead_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,422},{158,98}}</string>
                <key>offset</key>
                <string>{-19,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,105},{158,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Dead_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,458},{150,102}}</string>
                <key>offset</key>
                <string>{27,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,98},{150,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1036},{102,102}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,63},{102,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,932},{104,102}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{104,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1128},{102,102}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{102,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1034},{102,102}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,63},{102,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1444},{74,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{74,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,180},{76,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,45},{76,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,932},{74,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{74,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Idle_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,300},{74,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{74,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1394},{98,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,60},{98,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1286},{92,106}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{92,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{88,110}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{88,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{88,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,52},{88,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1174},{92,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{92,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1334},{98,106}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{98,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1140},{100,104}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,58},{100,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1340},{98,102}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,58},{98,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,830},{98,120}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{98,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{94,118}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,50},{94,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1034},{92,114}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,47},{92,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1242},{96,108}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,47},{96,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1240},{98,106}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{98,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1232},{100,104}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,45},{100,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1138},{100,104}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{100,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Move_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,832},{98,116}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{98,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,310},{108,146}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{108,146}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,382},{108,144}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{108,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,176}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,17},{138,176}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,264},{116,140}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,43},{116,140}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{124,176}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{124,176}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{142,166}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{142,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,930},{102,108}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,62},{102,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_NW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,720},{108,120}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,55},{108,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,492},{108,130}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,29},{108,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{102,130}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,29},{102,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,180},{130,128}}</string>
                <key>offset</key>
                <string>{29,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,31},{130,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{96,124}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,35},{96,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,582},{130,116}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,43},{130,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,146},{144,116}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{144,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{132,112}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,48},{132,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>B_WNY_Skill_SW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{130,120}}</string>
                <key>offset</key>
                <string>{25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{130,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_A_WNY.pvr.ccz</string>
            <key>size</key>
            <string>{504,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bd8d750adf37dea35b8aa80b4e5a9ba:59bd66e4266778bd2f03a974f8dde307:62c0d43faba477955ce9a23046ca349e$</string>
            <key>textureFileName</key>
            <string>avt_A_WNY.pvr.ccz</string>
        </dict>
    </dict>
</plist>
