<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_HX_Attack_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{71,99}}</string>
                <key>offset</key>
                <string>{-16,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,112},{71,99}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1303},{79,95}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,108},{79,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{83,87}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,105},{83,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,572},{69,117}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{69,117}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,945},{99,87}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,119},{99,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1081},{99,79}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,114},{99,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1161},{99,77}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,116},{99,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{95,75}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{95,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1785},{87,83}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,113},{87,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{95,91}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{95,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,727},{111,93}}</string>
                <key>offset</key>
                <string>{-9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,105},{111,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1162},{97,81}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,118},{97,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,842},{101,79}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,120},{101,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1559},{91,79}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,120},{91,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1538},{91,79}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,120},{91,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_SWW_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1457},{93,79}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,120},{93,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,644},{115,81}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,112},{115,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{115,85}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,108},{115,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1218},{95,83}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,107},{95,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,489},{125,81}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,109},{125,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1394},{95,75}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,115},{95,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1954},{75,77}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,115},{75,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1871},{73,81}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,115},{73,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Attack_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1933},{79,79}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,116},{79,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Dead_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,224},{137,65}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,166},{137,65}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Dead_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,206},{137,67}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,112},{137,67}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Dead_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1631},{91,75}}</string>
                <key>offset</key>
                <string>{44,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,138},{91,75}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1786},{79,87}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,106},{79,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1954},{77,85}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,108},{77,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{77,85}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,108},{77,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1871},{79,85}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,108},{79,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1478},{79,93}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,110},{79,93}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1330},{77,95}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,107},{77,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1385},{79,95}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,107},{79,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1313},{79,95}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{79,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,995},{105,81}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,110},{105,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,910},{105,83}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,108},{105,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,913},{105,81}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,110},{105,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Idle_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{105,81}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,110},{105,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1706},{71,89}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,101},{71,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1954},{71,83}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,105},{71,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1719},{65,89}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,102},{65,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1384},{71,95}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,100},{71,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{83,91}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,104},{83,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1867},{85,85}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,105},{85,85}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{75,89}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,101},{75,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1409},{67,95}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,99},{67,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1240},{71,97}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,117},{71,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1860},{71,87}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,121},{71,87}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1471},{65,95}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,118},{65,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,743},{73,97}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,116},{73,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1245},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,117},{83,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1619},{85,89}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,121},{85,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1708},{75,89}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,118},{75,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,644},{67,97}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,116},{67,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,822},{109,89}}</string>
                <key>offset</key>
                <string>{-22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,107},{109,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1034},{101,91}}</string>
                <key>offset</key>
                <string>{-18,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,114},{101,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1538},{91,91}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,112},{91,91}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,996},{103,83}}</string>
                <key>offset</key>
                <string>{-22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,110},{103,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,831},{107,77}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,110},{107,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{101,77}}</string>
                <key>offset</key>
                <string>{-18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,113},{101,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1779},{87,79}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,108},{87,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Move_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1078},{101,81}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,107},{101,81}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{127,73}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,123},{127,73}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,519},{123,123}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{123,123}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,291},{119,129}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,44},{119,129}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,643},{115,95}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,48},{115,95}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{105,89}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{105,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{91,79}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,58},{91,79}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1640},{89,77}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{89,77}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_N_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{91,107}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,86},{91,107}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,404},{127,83}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,143},{127,83}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,81},{123,153}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,69},{123,153}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{119,131}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,68},{119,131}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{117,139}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{117,139}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{105,125}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{105,125}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{93,119}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,19},{93,119}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,740},{89,111}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,24},{89,111}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_S_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,163}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,62},{87,163}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,123},{99,99}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,122},{99,99}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{81,145}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,74},{81,145}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{77,159}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,40},{77,159}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,412},{105,125}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,36},{105,125}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{115,97}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{115,97}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1127},{97,89}}</string>
                <key>offset</key>
                <string>{24,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,41},{97,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{103,89}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,43},{103,89}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>B_HX_Skill_W_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,275},{135,127}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,74},{135,127}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avt_B_HX.pvr.ccz</string>
            <key>size</key>
            <string>{424,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eeafe27166c54b56631bfed1ae8f7aa:61aacebd684341a35617e7fa8dec8a66:72f6f20ffde8a1ad1eb539575c34b789$</string>
            <key>textureFileName</key>
            <string>avt_B_HX.pvr.ccz</string>
        </dict>
    </dict>
</plist>
