<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020065/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1693},{169,121}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,151},{169,121}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1693},{189,123}}</string>
                <key>offset</key>
                <string>{-8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,152},{189,123}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1816},{145,99}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,146},{145,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{233,273}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{233,273}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{303,281}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{303,281}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{297,285}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{297,285}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,205}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{307,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,265},{283,197}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,106},{283,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{261,195}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,107},{261,195}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,550},{259,195}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,105},{259,195}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,811},{221,157}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,130},{221,157}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,970},{219,149}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,120},{219,149}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1443},{215,129}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,137},{215,129}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1574},{215,117}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,144},{215,117}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1272},{241,169}}</string>
                <key>offset</key>
                <string>{-3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,123},{241,169}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{269,161}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,126},{269,161}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{259,163}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,128},{259,163}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{253,165}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,131},{253,165}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{257,165}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,131},{257,165}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1509},{255,155}}</string>
                <key>offset</key>
                <string>{-7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,130},{255,155}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020065/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1121},{217,149}}</string>
                <key>offset</key>
                <string>{-21,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,135},{217,149}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020065.pvr.ccz</string>
            <key>size</key>
            <string>{508,1921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dbfad1af011aa10e4ec6b4e7f448e5a:3cb07d4894870ae1d4fab98c9a80e3c5:8e21dcaed90f090cd41b86ab17cdd212$</string>
            <key>textureFileName</key>
            <string>40020065.pvr.ccz</string>
        </dict>
    </dict>
</plist>
