<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020064/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{209,143}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,128},{209,143}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1884},{153,99}}</string>
                <key>offset</key>
                <string>{-12,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{153,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{165,107}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,103},{165,107}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1773},{157,109}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,134},{157,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{217,173}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,98},{217,173}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,201}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,73},{211,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{219,193}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,71},{219,193}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{195,221}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,13},{195,221}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{195,231}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{195,231}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{181,247}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{181,247}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{167,195}}</string>
                <key>offset</key>
                <string>{2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{167,195}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020064/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1884},{147,83}}</string>
                <key>offset</key>
                <string>{-1,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{147,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020064.pvr.ccz</string>
            <key>size</key>
            <string>{215,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5afe9319f38fc74908802012aef9bf6f:b0ee94529e9392561e03835b32b4d6e2:b268e5590df770806994fb145fa992ce$</string>
            <key>textureFileName</key>
            <string>40020064.pvr.ccz</string>
        </dict>
    </dict>
</plist>
