<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020058/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,344},{196,112}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,137},{196,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,222},{208,218}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{208,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{208,218}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{208,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{208,212}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{208,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,216},{206,210}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{206,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{206,208}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{206,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,428},{206,208}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{206,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,436},{204,200}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{204,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{190,112}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,136},{190,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{174,118}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,121},{174,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,178},{170,164}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,72},{170,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,442},{184,168}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,66},{184,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,442},{200,188}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{200,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,220},{210,214}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{210,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,216}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{210,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020058/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,218}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{210,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020058.pvr.ccz</string>
            <key>size</key>
            <string>{1022,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6716ccf2e1e9b6c77851201f5e6444cd:d0963500539f12d9c4a956b4d0191c16:6b8c9e807029ab6aa49bd3762d886c5b$</string>
            <key>textureFileName</key>
            <string>40020058.pvr.ccz</string>
        </dict>
    </dict>
</plist>
