<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020030/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,594},{213,205}}</string>
                <key>offset</key>
                <string>{2,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,0},{213,205}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{319,295}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,76},{319,295}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,307},{343,285}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{343,285}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,231}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,116},{387,231}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,827},{83,173}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,114},{83,173}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,594},{77,101}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,143},{77,101}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,221},{61,43}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,196},{61,43}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{211,183}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,21},{211,183}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,827},{157,155}}</string>
                <key>offset</key>
                <string>{0,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,23},{157,155}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,221},{217,205}}</string>
                <key>offset</key>
                <string>{1,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{217,205}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{255,217}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{255,217}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,673},{81,285}}</string>
                <key>offset</key>
                <string>{-6,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,4},{81,285}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,428},{201,325}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,11},{201,325}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{303,349}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,24},{303,349}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40020030/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{343,293}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,77},{343,293}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020030.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:250cc608b5b8d3b8e273545c73e89a1e:0079f94b266833a50469221a083bb1d5:e2e405ee8cdffaf3f0ea32648a4f5fff$</string>
            <key>textureFileName</key>
            <string>40020030.pvr.ccz</string>
        </dict>
    </dict>
</plist>
