<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020063/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1491},{91,123}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,135},{91,123}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{307,289}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{307,289}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{307,289}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{307,289}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,289}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{307,289}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{307,259}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{307,259}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{307,259}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{307,259}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1800},{307,239}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{307,239}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{307,239}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{307,239}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1491},{307,239}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{307,239}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,899},{307,159}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,148},{307,159}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{165,285}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,13},{165,285}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,311},{181,307}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{181,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,311},{181,307}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{181,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{191,307}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{191,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1238},{251,307}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{251,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,929},{251,307}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{251,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{251,307}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{251,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020063/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,620},{277,293}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{277,293}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020063.pvr.ccz</string>
            <key>size</key>
            <string>{677,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a7081165e72de4f80b13b8e42e4b6a9:d073afc6bcbf9e19a3a4bacd3cb28742:79665b299fc4721efdd651546fd0c3d6$</string>
            <key>textureFileName</key>
            <string>40020063.pvr.ccz</string>
        </dict>
    </dict>
</plist>
