<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020028/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{350,330}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,334},{350,336}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{350,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,672},{350,342}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{350,342}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1016},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{350,330}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{350,336}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{350,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{350,342}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{350,342}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>40020028/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020028.pvr.ccz</string>
            <key>size</key>
            <string>{706,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7d52ca21ca0753d6d3d2f19cfbc09fd:f2481f89d92c9698d6c9df742c79429e:4efc4d002941e1b1c8fe793155813136$</string>
            <key>textureFileName</key>
            <string>40020028.pvr.ccz</string>
        </dict>
    </dict>
</plist>
