<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40029001/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,152},{142,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{144,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,296},{146,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{146,73}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{150,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{150,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,73}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{148,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029001/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40029001.pvr.ccz</string>
            <key>size</key>
            <string>{232,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5dd262cd51ef1142d578954f9f65a1a:53b668def010ee671ca1e836bff91759:fbe31b6a53dcc6521381d5c076b03b7e$</string>
            <key>textureFileName</key>
            <string>40029001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
