<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40029002/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,722},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,578},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,434},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,290},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,146},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{142,85}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>40029002/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,85}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,85}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40029002.pvr.ccz</string>
            <key>size</key>
            <string>{176,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:643c9c7a46a5c1d206b1ed640a08ca2a:2d1f2c8c5a33073c3bfd373a9d595587:a055b9dc6c579cc713190652eaf17690$</string>
            <key>textureFileName</key>
            <string>40029002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
