<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024012/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,175},{170,105}}</string>
                <key>offset</key>
                <string>{-63,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{170,105}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,300},{254,169}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{254,169}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,556},{234,169}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{234,169}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,792},{228,167}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,8},{228,167}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,300},{224,149}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,8},{224,149}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,874},{216,145}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{216,145}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{170,107}}</string>
                <key>offset</key>
                <string>{-63,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{170,107}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{296,111}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{296,111}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{296,143}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,143}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{296,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,171}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{296,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,171}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{296,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,171}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{296,171}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
            <key>40024012/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,598},{274,169}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{274,169}}</string>
                <key>sourceSize</key>
                <string>{296,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024012.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f37fc38a6d4e6ab727c10c070d7ad8:90648fe1e3b727b57d398ea802fa0c1f:f395d7a2617a1358704e5d8386a37838$</string>
            <key>textureFileName</key>
            <string>40024012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
