<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020023/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1222},{98,98}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,18},{98,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,636},{204,226}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{204,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{212,228}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{212,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{218,232}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{218,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,414},{220,230}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{220,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,194},{218,232}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{218,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,246}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{214,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{190,236}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,9},{190,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1224},{62,110}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,18},{62,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{126,150}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,15},{126,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1222},{140,174}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,14},{140,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1056},{164,186}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,17},{164,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,842},{212,216}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{212,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{182,214}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{182,214}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{188,216}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{188,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020023/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{196,224}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{196,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020023.pvr.ccz</string>
            <key>size</key>
            <string>{494,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2eb7077232ddd48b3422661097a330:6e2abf5cc725788271a9c964f8831f0d:2fa090c0c82e847d19d1cc73e38964bf$</string>
            <key>textureFileName</key>
            <string>40020023.pvr.ccz</string>
        </dict>
    </dict>
</plist>
