<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020049/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1022},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,342},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,682},{429,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{429,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020049/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,338}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020049.pvr.ccz</string>
            <key>size</key>
            <string>{868,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dda9e524c2aad005659b5b040a1f54b:1b595b7a2b0966d915b64f25d6779151:44f41bdac08b3ee74c5d55df42503f8c$</string>
            <key>textureFileName</key>
            <string>40020049.pvr.ccz</string>
        </dict>
    </dict>
</plist>
