<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40022002/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>40022002/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{40,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>40022002/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>40022002/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{40,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>40022002/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{40,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40022002.pvr.ccz</string>
            <key>size</key>
            <string>{218,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11c418bdefdebb5ef96b23aa308ee0b8:168e92cf9101be6984098fa3eb13a221:b96d06e225a684329fefe8b9e9b9c2fd$</string>
            <key>textureFileName</key>
            <string>40022002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
