<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020050/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{221,217}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,217}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020050/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{215,215}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{215,215}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020050/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,221}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{225,221}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020050/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{209,205}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{209,205}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020050/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{215,207}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{215,207}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020050/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{211,217}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{211,217}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020050.pvr.ccz</string>
            <key>size</key>
            <string>{225,1294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe5d6c1090d94fc09db3025a2ee02dd3:6aa840f1aab3ad8309229911657151f8:2cc712e04bb24f7b97b9c28430b91f61$</string>
            <key>textureFileName</key>
            <string>40020050.pvr.ccz</string>
        </dict>
    </dict>
</plist>
