<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024014/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,658},{296,276}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{296,276}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,476},{316,180}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,119},{316,180}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,888},{276,154}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,121},{276,154}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{268,132}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,143},{268,132}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{264,128}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,147},{264,128}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,936},{264,126}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,149},{264,126}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1044},{254,120}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,150},{254,120}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{296,286}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{296,286}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,594},{306,292}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{306,292}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{316,298}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{316,298}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,292},{324,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{324,300}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,300}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{330,288}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{330,288}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{330,286}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{330,286}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>40024014/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,290},{328,184}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{328,184}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024014.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6664a9866f64e283af30731e46c6bf4b:959e030f5f57269c638c4c0376465f5c:cfb28c27578e93e49056aa22970f9712$</string>
            <key>textureFileName</key>
            <string>40024014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
