<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020068/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1241},{147,141}}</string>
                <key>offset</key>
                <string>{63,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,0},{147,141}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{129,217}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{129,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{129,225}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,16},{129,225}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{143,197}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,35},{143,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{129,173}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,52},{129,173}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{129,171}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,51},{129,171}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{123,165}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,51},{123,165}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{129,163}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,52},{129,163}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1767},{97,155}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,52},{97,155}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1509},{151,127}}</string>
                <key>offset</key>
                <string>{78,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,73},{151,127}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,199}}</string>
                <key>offset</key>
                <string>{-31,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{153,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{127,149}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,85},{127,149}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1866},{73,137}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,82},{73,137}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020068/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1866},{119,93}}</string>
                <key>offset</key>
                <string>{47,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,75},{119,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020068.pvr.ccz</string>
            <key>size</key>
            <string>{177,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d35ce8c9fedb4be9084ad881d0731e:d01177a7b997352ec5723ee4778f85ee:7159e0303f29b05c9f216eb0bf878b27$</string>
            <key>textureFileName</key>
            <string>40020068.pvr.ccz</string>
        </dict>
    </dict>
</plist>
