<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020037/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,934},{97,43}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{97,43}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,241}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{141,241}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{139,243}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{139,243}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{117,245}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{117,245}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{117,241}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{117,241}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,490},{119,225}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{119,225}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{117,245}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{117,245}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{99,243}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{99,243}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1627},{103,117}}</string>
                <key>offset</key>
                <string>{-24,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{103,117}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,739},{107,193}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{107,193}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1430},{107,195}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{107,195}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,988},{115,219}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{115,219}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1209},{111,219}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{111,219}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,247},{103,217}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{103,217}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{125,247}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{125,247}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
            <key>40020037/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{127,247}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{127,247}}</string>
                <key>sourceSize</key>
                <string>{163,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020037.pvr.ccz</string>
            <key>size</key>
            <string>{253,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98c907a446aed366ccecd7c85ec568d:b09d62ea6d1fe8a2625fe039f5229df3:e3bd7251e415d51c0a5e9f4ec3d2e759$</string>
            <key>textureFileName</key>
            <string>40020037.pvr.ccz</string>
        </dict>
    </dict>
</plist>
