<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020052/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{339,215}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{339,215}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{351,243}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{351,243}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{345,261}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{345,261}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1763},{327,263}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{327,263}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{337,263}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{337,263}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{349,263}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{349,263}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{351,261}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{351,261}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
            <key>40020052/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,241}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{367,241}}</string>
                <key>sourceSize</key>
                <string>{375,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020052.pvr.ccz</string>
            <key>size</key>
            <string>{371,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ec3986f32854976546875990efacc01:b92f82bb6a2d305dac7df7a470ebfa40:dc51ca21809810d7603c8c41e7b4de17$</string>
            <key>textureFileName</key>
            <string>40020052.pvr.ccz</string>
        </dict>
    </dict>
</plist>
