<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020066/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{215,213}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{215,213}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{209,255}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{209,255}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,255}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,400},{217,253}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{217,253}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,195},{203,223}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,5},{203,223}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1047},{55,119}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,106},{55,119}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1047},{55,119}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,106},{55,119}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1047},{55,119}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,106},{55,119}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{55,121}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,113},{55,121}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1025},{57,127}}</string>
                <key>offset</key>
                <string>{-47,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{57,127}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1025},{57,127}}</string>
                <key>offset</key>
                <string>{-47,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{57,127}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,655},{213,207}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,1},{213,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{201,183}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,25},{201,183}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,864},{163,147}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,41},{163,147}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,655},{119,69}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,79},{119,69}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{215,215}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1029},{127,139}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,36},{127,139}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,864},{159,155}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,32},{159,155}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020066/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{191,245}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,12},{191,245}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020066.pvr.ccz</string>
            <key>size</key>
            <string>{511,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64ed887647aaba3f61a9f6bc676cfd91:55e3af9791be079dd7ac2d722ca20c0e:75752baed7561e0746c3055fe27c174b$</string>
            <key>textureFileName</key>
            <string>40020066.pvr.ccz</string>
        </dict>
    </dict>
</plist>
