<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020017/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{32,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{32,28}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,448},{36,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{36,30}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,412},{40,34}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{40,34}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{72,58}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{72,58}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{100,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{100,90}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,100}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{112,104}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>40020017/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020017.pvr.ccz</string>
            <key>size</key>
            <string>{118,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbce028cc653883b0dd55a904d6e45fc:ce71ef1b246c0980eace10a04597d6ae:a88bc623e3be4fa12dbed766f571f358$</string>
            <key>textureFileName</key>
            <string>40020017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
