<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020013/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,348},{14,25}}</string>
                <key>offset</key>
                <string>{-5,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,16},{14,25}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,334},{156,109}}</string>
                <key>offset</key>
                <string>{14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{156,109}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{130,93}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,89},{130,93}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,153},{78,125}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{78,125}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,327},{116,131}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,19},{116,131}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,175},{138,157}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{138,157}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{150,149}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{150,149}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{154,171}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{154,171}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,171}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{178,171}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{158,167}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{158,167}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>40020013/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,171},{154,101}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,86},{154,101}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020013.pvr.ccz</string>
            <key>size</key>
            <string>{502,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32525bd84019b95fcc10af7c0466bca3:a9a59bc8b8450a9086b5f42a238c25e8:e47d7fa7cfbeae9587531d92dbac3813$</string>
            <key>textureFileName</key>
            <string>40020013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
