<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40021011/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{28,24}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{28,24}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021011/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021011/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{32,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{32,28}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021011/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{36,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{36,26}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021011/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,32},{32,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40021011.pvr.ccz</string>
            <key>size</key>
            <string>{102,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2a2d7f321950d0bf170a3ba1216051:a2395dbb6aeb88520ea515d9bc22abc8:f8ce2fff13d5bb684577ffb486ea17a1$</string>
            <key>textureFileName</key>
            <string>40021011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
