<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40029009/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{232,192}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{232,192}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>40029009/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{224,192}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{224,192}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>40029009/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{224,198}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{224,198}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>40029009/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,200}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40029009.pvr.ccz</string>
            <key>size</key>
            <string>{930,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff796e0126ccecdc48d5cd5489df0b07:22169943af9417e3e21186ae8d2767c5:66bdb71e056732752eb556ab146ddbd6$</string>
            <key>textureFileName</key>
            <string>40029009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
