<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020035/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,292},{52,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{52,32}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,292},{60,36}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{60,36}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,248},{70,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{70,42}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{82,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{82,48}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{94,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{94,54}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{106,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{120,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,62}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>40020035/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,62}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020035.pvr.ccz</string>
            <key>size</key>
            <string>{126,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3636f646f1ec6e560325b3482ef71071:8f00c0541df4415ed7f278fcc662db7b:1f8ec83f4e6c5aa2a8bd9221fe36a9f2$</string>
            <key>textureFileName</key>
            <string>40020035.pvr.ccz</string>
        </dict>
    </dict>
</plist>
