<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020022/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{156,150}}</string>
                <key>offset</key>
                <string>{-42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{156,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{186,154}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,96},{186,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{186,152}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,98},{186,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{160,146}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,99},{160,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{158,134}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,100},{158,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{152,132}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,99},{152,132}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1764},{146,130}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,101},{146,130}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{220,140}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{220,140}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{198,136}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,21},{198,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{158,150}}</string>
                <key>offset</key>
                <string>{41,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,9},{158,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{204,132}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{204,132}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{196,124}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{196,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1920},{182,104}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,45},{182,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1764},{154,102}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,56},{154,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40020022/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,188}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,62},{188,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020022.pvr.ccz</string>
            <key>size</key>
            <string>{254,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b13984c11fc012bbfe67d3f8fb5f283b:ed4c8875bb0083672f631cb7605542ab:027eb9a1ad9d87f49156054302bbc0ff$</string>
            <key>textureFileName</key>
            <string>40020022.pvr.ccz</string>
        </dict>
    </dict>
</plist>
