<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40021015/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{36,35}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{36,35}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>40021015/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{38,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>40021015/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{38,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>40021015/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{38,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>40021015/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>40021015/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{34,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,39}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40021015.pvr.ccz</string>
            <key>size</key>
            <string>{42,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a1bb20c9d412b07db977ad824103b2:b03fe0eea50a4e09e07a340dc321e50c:96b7ced323c80a925ac7d25a9a556648$</string>
            <key>textureFileName</key>
            <string>40021015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
