<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024008/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,173},{220,227}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,106},{220,227}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,205}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,128},{230,205}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{220,191}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,142},{220,191}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{220,171}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,162},{220,171}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,395},{222,175}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,158},{222,175}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{226,173}}</string>
                <key>offset</key>
                <string>{4,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,160},{226,173}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,169}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,164},{228,169}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
            <key>40024008/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{226,163}}</string>
                <key>offset</key>
                <string>{1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,170},{226,163}}</string>
                <key>sourceSize</key>
                <string>{250,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024008.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1197b33d924983ae831b2c525553ef56:8d06609c230c78ebdb9979305d6acaec:6a342ca7211d1e1955968876b929cba1$</string>
            <key>textureFileName</key>
            <string>40024008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
