<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020033/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{365,182}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{365,182}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{365,178}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{365,178}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{365,186}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{365,186}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,736},{365,192}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{365,192}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{365,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,216}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{365,174}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{365,174}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,174}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{365,174}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{365,176}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{365,176}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{365,184}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{365,184}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{365,178}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{365,178}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1103},{365,184}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{365,184}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{365,184}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{365,184}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,369},{365,186}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{365,186}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{365,180}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{365,180}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{365,182}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{365,182}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
            <key>40020033/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1470},{365,188}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{365,188}}</string>
                <key>sourceSize</key>
                <string>{365,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020033.pvr.ccz</string>
            <key>size</key>
            <string>{563,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960381c56dca2755e01c99d0a44a27d1:53ab6a77ba88f3183fa7eee2e4d138ad:e750c7728a7276f6626364061122d3c7$</string>
            <key>textureFileName</key>
            <string>40020033.pvr.ccz</string>
        </dict>
    </dict>
</plist>
