<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40021018/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,411},{33,38}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{33,38}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{83,68}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,68}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,80}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{75,84}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{75,84}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{99,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{99,64}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{99,54}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{95,56}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{95,56}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>40021018/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{85,58}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{85,58}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40021018.pvr.ccz</string>
            <key>size</key>
            <string>{103,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f889b5fde9a20351516b53cbd39ef183:fd01c54f794c9278a9233e2f97ca3f33:a71e758ce04dfa563e73e8493b8d71b7$</string>
            <key>textureFileName</key>
            <string>40021018.pvr.ccz</string>
        </dict>
    </dict>
</plist>
