<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40022000/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{75,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>40022000/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,37}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{67,37}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>40022000/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{71,35}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,35}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>40022000/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{73,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{73,35}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>40022000/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{75,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>40022000/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{63,35}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,35}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40022000.pvr.ccz</string>
            <key>size</key>
            <string>{438,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e66794d45b005683b032c8f68251d8:14ed6dda8617fa53b146cb372bddf0bc:50316e6dc9f51a6ce293696949484236$</string>
            <key>textureFileName</key>
            <string>40022000.pvr.ccz</string>
        </dict>
    </dict>
</plist>
