<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40021014/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{44,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{44,32}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{46,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,34}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{46,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,34}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{46,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,34}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{48,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{50,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>40021014/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{48,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{48,34}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40021014.pvr.ccz</string>
            <key>size</key>
            <string>{394,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a96dc0cefdf8776e21c28b42f181022:81987e97d7ab5d39f2cb819e444c1cf7:9276374ba69a8b8743c3781a0d0ec68a$</string>
            <key>textureFileName</key>
            <string>40021014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
