<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40023000/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,126},{48,32}}</string>
                <key>offset</key>
                <string>{-51,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,83},{48,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,160},{108,74}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,60},{108,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{122,70}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,72},{122,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,596},{144,100}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,58},{144,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{160,138}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{160,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{164,134}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{164,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,156}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{166,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{160,146}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{160,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{146,128}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,40},{146,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>40023000/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,448},{146,110}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,44},{146,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40023000.pvr.ccz</string>
            <key>size</key>
            <string>{252,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1882d10cdaf67da63128dcf6dba0452:f1366e98dec5087e1812d48cba67a32b:97554299882ba6f8e96333e296312783$</string>
            <key>textureFileName</key>
            <string>40023000.pvr.ccz</string>
        </dict>
    </dict>
</plist>
