<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020026/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1550},{118,96}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,90},{118,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1398},{150,102}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,98},{150,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{146,92}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,98},{146,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1310},{114,86}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,99},{114,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{208,224}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{208,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{202,222}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{202,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,236}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{236,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{200,216}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{200,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{206,204}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{206,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{206,120}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,97},{206,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{206,110}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,98},{206,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020026/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1116},{192,102}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,100},{192,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020026.pvr.ccz</string>
            <key>size</key>
            <string>{240,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e483f70d049501e95347ae3cad2ce0ec:d3bca4cd95c950c4cc2e18ac9df7544a:850bda3a7c216a5491afd7cf1ef7d077$</string>
            <key>textureFileName</key>
            <string>40020026.pvr.ccz</string>
        </dict>
    </dict>
</plist>
