<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020051/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{215,219}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{215,219}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020051/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{213,219}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{213,219}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020051/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,215}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{225,215}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020051/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{225,207}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{225,207}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020051/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{215,177}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{215,177}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>40020051/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{215,215}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{215,215}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020051.pvr.ccz</string>
            <key>size</key>
            <string>{219,1294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5012e6301295cd3e98803356461ac777:f08d863659871c95add7e46cd936b2a1:2b6d576fa3bd382fdc509f130bfe1855$</string>
            <key>textureFileName</key>
            <string>40020051.pvr.ccz</string>
        </dict>
    </dict>
</plist>
