<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40029003/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,154},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,231},{142,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,71}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,304},{138,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,71}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>40029003/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40029003.pvr.ccz</string>
            <key>size</key>
            <string>{233,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d31de390c86081f92c9379cbe272ecb:a2a2ae6aac7a26735934713c182572b5:6b2350c5f43fd8bf3879f2663384c5ba$</string>
            <key>textureFileName</key>
            <string>40029003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
