<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1315},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1803},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1248},{94,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{94,87}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>btn_lianxiejineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,881},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1841},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>btn_zidongzhandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,578},{93,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,78}}</string>
                <key>sourceSize</key>
                <string>{93,78}</string>
            </dict>
            <key>btn_zidongzhandou_anxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,483},{93,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,78}}</string>
                <key>sourceSize</key>
                <string>{93,78}</string>
            </dict>
            <key>flag_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,622},{31,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,153}}</string>
                <key>sourceSize</key>
                <string>{31,153}</string>
            </dict>
            <key>flag_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1639},{23,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,93}}</string>
                <key>sourceSize</key>
                <string>{23,93}</string>
            </dict>
            <key>flag_fangguangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1249},{79,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,9}}</string>
                <key>sourceSize</key>
                <string>{79,9}</string>
            </dict>
            <key>flag_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,997},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{27,24}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>flag_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,998},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{27,24}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>flag_xuetiaohong.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,850},{77,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,7}}</string>
                <key>sourceSize</key>
                <string>{79,9}</string>
            </dict>
            <key>flag_xuetiaolv.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{77,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,7}}</string>
                <key>sourceSize</key>
                <string>{79,9}</string>
            </dict>
            <key>flag_xuetiaoy.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,771},{77,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,7}}</string>
                <key>sourceSize</key>
                <string>{79,9}</string>
            </dict>
            <key>fly_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,771},{451,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,106}}</string>
                <key>sourceSize</key>
                <string>{451,106}</string>
            </dict>
            <key>gz_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,998},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>head_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1639},{141,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,138}}</string>
                <key>sourceSize</key>
                <string>{141,138}</string>
            </dict>
            <key>head_border_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1635},{141,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,138}}</string>
                <key>sourceSize</key>
                <string>{141,138}</string>
            </dict>
            <key>hero_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,881},{87,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,12}}</string>
                <key>sourceSize</key>
                <string>{87,12}</string>
            </dict>
            <key>hero_bar_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1931},{85,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,10}}</string>
                <key>sourceSize</key>
                <string>{87,12}</string>
            </dict>
            <key>hero_bar_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1248},{85,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,10}}</string>
                <key>sourceSize</key>
                <string>{87,12}</string>
            </dict>
            <key>jigu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,622},{163,147}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1490},{151,147}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1337},{151,147}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1486},{151,147}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1337},{151,147}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1188},{151,147}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1035},{151,147}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>jigu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,622},{163,147}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>nq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1989},{98,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,752},{98,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,20}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1982},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1965},{98,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1173},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1779},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1728},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2006},{98,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,973},{98,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1224},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2013},{96,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>nq_jindutiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{479,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,75}}</string>
                <key>sourceSize</key>
                <string>{479,75}</string>
            </dict>
            <key>nq_jindutiaolan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,1749},{225,18}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{225,18}}</string>
                <key>sourceSize</key>
                <string>{225,26}</string>
            </dict>
            <key>nq_jindutiaolan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,771},{225,18}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{225,18}}</string>
                <key>sourceSize</key>
                <string>{225,26}</string>
            </dict>
            <key>nq_jindutiaolan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,771},{225,18}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{225,18}}</string>
                <key>sourceSize</key>
                <string>{225,26}</string>
            </dict>
            <key>q_bz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1955},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>q_bz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1943},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>q_bz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1943},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>q_bz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1275},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>q_bz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1133},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>qualitybg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1944},{93,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>qualitybg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1871},{93,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>qualitybg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1775},{93,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>qualitybg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1848},{93,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>qualitybg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1752},{93,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>qualitybg_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,673},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{77,77}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sbar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1065},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>sbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,997},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>skillhero_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1042,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,4}}</string>
                <key>sourceSize</key>
                <string>{1042,4}</string>
            </dict>
            <key>tiaoguo_anxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1893},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>ty_baomingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,771},{262,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,44}}</string>
                <key>sourceSize</key>
                <string>{262,44}</string>
            </dict>
            <key>zd_di_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,777},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>zd_di_jiazu.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1775},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>zd_guangdian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1837},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>zd_guangdian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1779},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>zd_mo.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{359,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,618}}</string>
                <key>sourceSize</key>
                <string>{359,618}</string>
            </dict>
            <key>zd_shijiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1895},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>zd_sudubg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,771},{476,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,116}}</string>
                <key>sourceSize</key>
                <string>{476,116}</string>
            </dict>
            <key>zd_sudubg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1249},{477,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,105}}</string>
                <key>sourceSize</key>
                <string>{477,105}</string>
            </dict>
            <key>zd_suduxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1749},{264,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,9}}</string>
                <key>sourceSize</key>
                <string>{264,9}</string>
            </dict>
            <key>zd_suduxian_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{701,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,33}}</string>
                <key>sourceSize</key>
                <string>{701,33}</string>
            </dict>
            <key>zddt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,997},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>zhanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1967},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,70}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightlayer.pvr.ccz</string>
            <key>size</key>
            <string>{455,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98646ec8d6d4f51c2a1096bc6bb4fa57:4475c480ad3d6c4f2e4957a39b9fe688:33501cb646861a98b5d142f96df016b5$</string>
            <key>textureFileName</key>
            <string>fightlayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
