<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020048/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,680},{419,338}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{419,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{421,328}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{421,328}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{423,316}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{423,316}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,338}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{423,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1020},{421,306}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{421,306}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{407,338}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{407,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,342},{417,336}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{417,336}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
            <key>40020048/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{417,338}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{417,338}}</string>
                <key>sourceSize</key>
                <string>{435,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020048.pvr.ccz</string>
            <key>size</key>
            <string>{846,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c42d5d8abc274d5a7167432a50511f1f:1963f95463e23cfa28a4eccb5359b635:61eac75f0987051b78e69a549265a211$</string>
            <key>textureFileName</key>
            <string>40020048.pvr.ccz</string>
        </dict>
    </dict>
</plist>
