<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020003/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,648},{52,127}}</string>
                <key>offset</key>
                <string>{13,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,19},{52,127}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{294,233}}</string>
                <key>offset</key>
                <string>{6,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,182},{294,233}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,342},{302,195}}</string>
                <key>offset</key>
                <string>{32,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,222},{302,195}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,342},{304,171}}</string>
                <key>offset</key>
                <string>{26,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,241},{304,171}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{264,147}}</string>
                <key>offset</key>
                <string>{35,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,249},{264,147}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,588},{102,87}}</string>
                <key>offset</key>
                <string>{92,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,268},{102,87}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,298},{288,279}}</string>
                <key>offset</key>
                <string>{-39,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,279}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{262,257}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{262,257}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,702},{308,327}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{308,327}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{338,297}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,57},{338,297}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{310,291}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,88},{310,291}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{296,345}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{296,345}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,351}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{244,351}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
            <key>40020003/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,646},{292,265}}</string>
                <key>offset</key>
                <string>{12,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,152},{292,265}}</string>
                <key>sourceSize</key>
                <string>{366,417}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020003.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a45ab6f9742e2c644715b23da3d925:6934c24990dd76889ccc63f55bb40b15:9089bf575303d225d04e7524ebef7fbf$</string>
            <key>textureFileName</key>
            <string>40020003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
