<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020006/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{46,71}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{46,71}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{48,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,71}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{48,89}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,89}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,83}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,83}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{50,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{50,71}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{48,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,71}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{46,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{46,71}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>40020006/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{42,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{42,71}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020006.pvr.ccz</string>
            <key>size</key>
            <string>{54,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064e3d361ca6723136788459c2189c85:b4efc363ae543968f4dcdcfdb68459f7:c671cdea18fd06b62f4f702d8a66d79f$</string>
            <key>textureFileName</key>
            <string>40020006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
