<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020018/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{66,79}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{66,79}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{88,89}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{88,89}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{84,101}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{84,101}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{90,117}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{90,117}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{94,117}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{94,117}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{94,121}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{94,121}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,121}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,121}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>40020018/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{90,91}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{90,91}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020018.pvr.ccz</string>
            <key>size</key>
            <string>{920,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3a840553c41c86056784f73a5c797e:0cea33084583c34db2ae8d933f0589d5:453bcd18195c4b4b245153f781e555dd$</string>
            <key>textureFileName</key>
            <string>40020018.pvr.ccz</string>
        </dict>
    </dict>
</plist>
