<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020069/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,741},{277,181}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,126},{277,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1829},{275,179}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,127},{275,179}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{271,251}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,47},{271,251}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,263}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{307,263}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{307,237}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{307,237}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,275},{281,207}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,98},{281,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{281,199}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,106},{281,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{279,203}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,102},{279,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{281,185}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,120},{281,185}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{279,177}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,128},{279,177}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1473},{279,177}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,128},{279,177}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1829},{277,171}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,136},{277,171}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1465},{279,177}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,128},{279,177}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1652},{277,175}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,132},{277,175}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,558},{277,181}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,126},{277,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1290},{279,181}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,126},{279,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{279,181}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,126},{279,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1107},{279,181}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,126},{279,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1099},{279,181}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,126},{279,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>40020069/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,924},{279,181}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,126},{279,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020069.pvr.ccz</string>
            <key>size</key>
            <string>{564,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da7a74bc59a33016ff0e562cdfac5ad:9f8bc26813c81d0a2e07e48ad5705dcd:fceea8c21acd34191cacc2d36b75b022$</string>
            <key>textureFileName</key>
            <string>40020069.pvr.ccz</string>
        </dict>
    </dict>
</plist>
