<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024000/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024000.pvr.ccz</string>
            <key>size</key>
            <string>{86,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0920d00cf784b7d65072d72f8b7cbe0b:b00c6e8a562ee59588815074936f8529:c51aed59cfb9301097565fb484b80a78$</string>
            <key>textureFileName</key>
            <string>40024000.pvr.ccz</string>
        </dict>
    </dict>
</plist>
