<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024003/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{300,177}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,177}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{300,177}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,177}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,181}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{300,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,179}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,183},{300,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,179}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,185},{300,177}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,177}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,366},{300,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,173}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,181}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
            <key>40024003/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{300,179}}</string>
                <key>sourceSize</key>
                <string>{300,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024003.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd51f42ffb5d32eb4859e5f4fb5621b:865a69d1f7439941a210d966b9820f5a:897e2db3ff39b6dc3f8b071f897a7c4c$</string>
            <key>textureFileName</key>
            <string>40024003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
