<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020019/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,533},{52,49}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{52,49}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,259},{58,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{58,71}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{54,81}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{54,81}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{54,85}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{54,85}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,85}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,174},{58,83}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,83}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,89},{58,83}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,83}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{54,81}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{54,81}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,399},{56,61}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{56,61}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,332},{58,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{58,65}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,462},{60,69}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{60,69}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{60,75}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{60,75}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{60,85}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,85}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{60,85}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,85}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{60,85}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{60,85}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>40020019/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,85}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{60,85}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020019.pvr.ccz</string>
            <key>size</key>
            <string>{124,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b66eee3a5a5fd4ed6d75ce02e07b13:e3c147289e1c8b5a7eb09412d0e92fc9:46868adf53c96a0a540f034d740a9b55$</string>
            <key>textureFileName</key>
            <string>40020019.pvr.ccz</string>
        </dict>
    </dict>
</plist>
