<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020041/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{108,145}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{108,145}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{108,137}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{108,137}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{108,137}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{108,137}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{110,173}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{110,173}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{118,137}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{118,137}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,137}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{118,137}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
            <key>40020041/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{112,137}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{112,137}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020041.pvr.ccz</string>
            <key>size</key>
            <string>{122,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7298406c59fe7c6ee5208b0d25202e8:3ffdc3cee1ab0559ea6ace268c52c967:b4a5b08567ff66a5d180310cfef4fa0f$</string>
            <key>textureFileName</key>
            <string>40020041.pvr.ccz</string>
        </dict>
    </dict>
</plist>
