<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024002/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,235}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,186},{427,235}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{427,231}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,189},{427,231}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,235},{427,227}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{427,227}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{427,221}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,193},{427,221}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{427,213}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,192},{427,213}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,677},{405,203}}</string>
                <key>offset</key>
                <string>{3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,198},{405,203}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{325,177}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,206},{325,177}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>40024002/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{317,155}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,206},{317,155}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024002.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0792887af8df550a154805bde33242aa:bd4cdfb57c945d1e71e488ac4b2cf354:88de4b7e4e255d5d284e5b7c04125ff9$</string>
            <key>textureFileName</key>
            <string>40024002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
