<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020038/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1441},{85,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,63},{85,43}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{297,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{297,151}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,169}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{309,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{309,157}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1140},{97,47}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,52},{97,47}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,329},{143,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,48},{143,73}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,640},{183,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,36},{183,95}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,939},{199,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,33},{199,103}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1222},{217,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,28},{217,113}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{233,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{233,117}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1489},{247,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{247,127}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{265,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{265,135}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
            <key>40020038/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{281,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{281,143}}</string>
                <key>sourceSize</key>
                <string>{325,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020038.pvr.ccz</string>
            <key>size</key>
            <string>{254,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72ed7661a4acb2a6a420dedf63cf2a20:a952c5c208e3a97f5c8bd7e95de41b36:819b1d1e2c20a7c574f3ba0393eff7b1$</string>
            <key>textureFileName</key>
            <string>40020038.pvr.ccz</string>
        </dict>
    </dict>
</plist>
