<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020070/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{228,254}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{228,254}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,258}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,258}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{262,256}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{262,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{258,254}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{258,254}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{256,252}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{256,252}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1780},{252,250}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{252,250}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{248,254}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{248,254}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,512},{236,254}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{236,254}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1550},{228,250}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{228,250}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,258},{242,252}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{242,252}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1296},{252,256}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{252,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{252,250}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{252,250}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1040},{256,254}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{256,254}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{266,256}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{266,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,768},{270,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{270,250}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>40020070/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,258}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{270,258}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020070.pvr.ccz</string>
            <key>size</key>
            <string>{524,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddbb4bba4faf6d51d43b5e3f3bb469ac:9e77e7ebc0f207f8440fddb9e192aa21:04d60b943ad86f4d959be5a170f85aea$</string>
            <key>textureFileName</key>
            <string>40020070.pvr.ccz</string>
        </dict>
    </dict>
</plist>
