<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020001/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,254},{220,187}}</string>
                <key>offset</key>
                <string>{36,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,10},{220,187}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{270,209}}</string>
                <key>offset</key>
                <string>{-9,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,190},{270,209}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{250,203}}</string>
                <key>offset</key>
                <string>{-7,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,191},{250,203}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,417}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{292,351}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{292,351}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{292,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{292,393}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,296},{282,385}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{282,385}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{282,389}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{282,389}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,580},{282,265}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{282,265}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,476},{282,215}}</string>
                <key>offset</key>
                <string>{-5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,190},{282,215}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,847},{280,211}}</string>
                <key>offset</key>
                <string>{-6,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{280,211}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
            <key>40020001/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,760},{280,211}}</string>
                <key>offset</key>
                <string>{-6,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{280,211}}</string>
                <key>sourceSize</key>
                <string>{292,417}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020001.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:629fab5fd2eb446e6d2a09941f8bcb36:7a87b0ecfb0adcf07304cb4dcbc552fd:c6908edc9fc278bfa852079d7a0cf047$</string>
            <key>textureFileName</key>
            <string>40020001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
