<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020040/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,983},{161,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{161,95}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{233,135}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{233,135}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,437},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,292},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,147},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,143}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,719},{183,107}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{183,107}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,983},{201,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{201,115}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,904},{217,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{217,123}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,852},{229,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{229,129}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,719},{239,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{239,131}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{235,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{235,135}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,582},{235,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{235,135}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
            <key>40020040/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{235,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{235,135}}</string>
                <key>sourceSize</key>
                <string>{239,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020040.pvr.ccz</string>
            <key>size</key>
            <string>{495,1191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee4633527e02b5540bddd04b88dc219:24526a4ed9454320de3888f415713fea:d27da9b7db85ff1f57e33f71b524e545$</string>
            <key>textureFileName</key>
            <string>40020040.pvr.ccz</string>
        </dict>
    </dict>
</plist>
