<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020060/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,268},{76,94}}</string>
                <key>offset</key>
                <string>{90,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020060/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,146},{104,120}}</string>
                <key>offset</key>
                <string>{33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,67},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020060/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{122,138}}</string>
                <key>offset</key>
                <string>{43,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,49},{122,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020060/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{134,154}}</string>
                <key>offset</key>
                <string>{55,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,34},{134,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020060/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,164}}</string>
                <key>offset</key>
                <string>{64,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{128,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020060/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{116,142}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,63},{116,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>40020060/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,346},{116,138}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,67},{116,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020060.pvr.ccz</string>
            <key>size</key>
            <string>{250,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38c1c70dbf7a1e7c80f44a1fc2fd2f8f:b57e69d802ff8f93b32dd141793756bd:0b05fa0c718add5d47829bccfefd07f3$</string>
            <key>textureFileName</key>
            <string>40020060.pvr.ccz</string>
        </dict>
    </dict>
</plist>
