<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020045/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{225,254}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,254}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{225,254}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,254}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{225,254}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,254}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,254}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,254}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{225,252}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,252}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{225,252}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,252}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{225,242}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,242}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1591},{225,240}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,240}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
            <key>40020045/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{225,232}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,232}}</string>
                <key>sourceSize</key>
                <string>{225,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020045.pvr.ccz</string>
            <key>size</key>
            <string>{258,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c16e8837004eb7303921576768bdb50:cf80c2f1b85c43dbc014271c9e94291b:25a94bed0bbf66030f2e753cd3e14622$</string>
            <key>textureFileName</key>
            <string>40020045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
