<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020054/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1491},{197,135}}</string>
                <key>offset</key>
                <string>{35,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,48},{197,135}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{285,235}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{285,235}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1059},{275,229}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{275,229}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,197}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{361,197}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{351,181}}</string>
                <key>offset</key>
                <string>{31,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,18},{351,181}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{241,197}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,0},{241,197}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,854},{219,197}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{219,197}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1053},{213,171}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,24},{213,171}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,259},{163,151}}</string>
                <key>offset</key>
                <string>{52,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,33},{163,151}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,673},{179,161}}</string>
                <key>offset</key>
                <string>{43,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,18},{179,161}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,424},{247,145}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,21},{247,145}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{255,143}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,21},{255,143}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{259,175}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,13},{259,175}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1226},{263,211}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,6},{263,211}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{339,215}}</string>
                <key>offset</key>
                <string>{-37,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{339,215}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
            <key>40020054/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{347,219}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{347,219}}</string>
                <key>sourceSize</key>
                <string>{413,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020054.pvr.ccz</string>
            <key>size</key>
            <string>{510,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf0918ba3ae1b00f5a35ae4c5d89832:f93b423d50e4bb8020f1f7b49a6f3c50:aee3f8810ba0eb168cfef8a143141352$</string>
            <key>textureFileName</key>
            <string>40020054.pvr.ccz</string>
        </dict>
    </dict>
</plist>
