<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020034/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{224,116}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{224,116}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1680},{156,150}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,83},{156,150}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{224,118}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,118}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{132,176}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{132,176}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{130,198}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,21},{130,198}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{128,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,28},{128,190}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{224,120}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{224,120}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{224,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{224,122}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{218,116}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,85},{218,116}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{190,222}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{190,222}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{172,222}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{172,222}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,226}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{154,226}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>40020034/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{156,224}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{156,224}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020034.pvr.ccz</string>
            <key>size</key>
            <string>{230,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:492fc87981acd93e26749350edb37f8b:1a2c436cc0f7a218598b3fad40c4152f:6c66c68f92db42a5208daccf4abde29d$</string>
            <key>textureFileName</key>
            <string>40020034.pvr.ccz</string>
        </dict>
    </dict>
</plist>
