<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40023003/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,122}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{134,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40023003/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,116}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{134,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40023003/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{134,112}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,62},{134,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40023003/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{128,110}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{128,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40023003/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{114,112}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,59},{114,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40023003/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{110,116}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,52},{110,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>40023003/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{100,104}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,54},{100,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40023003.pvr.ccz</string>
            <key>size</key>
            <string>{868,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ace3cd31378d345e3134cd58c9bf54:88e825787e348bf22c5d293bdf19a5a5:add945aac1c9e85f04e7b4b35f78bb8c$</string>
            <key>textureFileName</key>
            <string>40023003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
