<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020031/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,172},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{214,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,342},{214,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{202,168}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,512},{212,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>40020031/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{214,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020031.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30de841a6b2c20f55f3f1036619bd4db:5c3626882ef77336811180b4c2424207:8c005f31f1dd3d070a7fd3328c5ac44c$</string>
            <key>textureFileName</key>
            <string>40020031.pvr.ccz</string>
        </dict>
    </dict>
</plist>
