<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020047/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1896},{70,22}}</string>
                <key>offset</key>
                <string>{-50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,129},{70,22}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{240,184}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,184}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{240,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,186}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{240,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,188}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,188}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{230,188}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{230,188}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{144,188}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{144,188}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1796},{98,104}}</string>
                <key>offset</key>
                <string>{-51,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{98,104}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1188},{144,40}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,112},{144,40}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,946},{188,78}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,76},{188,78}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1604},{190,104}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{190,104}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1412},{190,124}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{190,124}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{192,126}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{192,126}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{220,124}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{220,124}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{222,158}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{222,158}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>40020047/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{240,162}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{240,162}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020047.pvr.ccz</string>
            <key>size</key>
            <string>{254,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84486cbced05244e3438799d99a39002:3d6762c9206b80420a99ce3f93061f5e:69eed73b7f96f58de4bd0d721fa482d7$</string>
            <key>textureFileName</key>
            <string>40020047.pvr.ccz</string>
        </dict>
    </dict>
</plist>
