<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020044/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{156,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>40020044/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>40020044/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{156,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020044.pvr.ccz</string>
            <key>size</key>
            <string>{478,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a145a0461c7f6cd37768acc835ca3a:2740d159540859a6ff8a28639c64fdc3:9ea32618ab08dc30bd4d3b2df2c7df51$</string>
            <key>textureFileName</key>
            <string>40020044.pvr.ccz</string>
        </dict>
    </dict>
</plist>
