<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020042/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{119,110}}</string>
                <key>offset</key>
                <string>{5,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,156},{131,140}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{131,140}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,330},{135,146}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{135,146}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,330},{137,150}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{137,150}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,176},{139,152}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,59},{139,152}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{139,152}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,81},{139,152}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{141,152}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,104},{141,152}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{139,152}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,104},{139,152}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
            <key>40020042/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,172}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,88},{163,172}}</string>
                <key>sourceSize</key>
                <string>{195,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020042.pvr.ccz</string>
            <key>size</key>
            <string>{420,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42daf6c4d6c96b2954068adae8982d6:51d1a6ae8a3e59b9662cc9706e9ba026:dae8fa81545b36e7aa77bffc1d9e6b6e$</string>
            <key>textureFileName</key>
            <string>40020042.pvr.ccz</string>
        </dict>
    </dict>
</plist>
