<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020039/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{95,54}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,85},{95,54}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{89,108}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{89,108}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{89,110}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{89,110}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{83,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{83,118}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{91,126}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{91,126}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{95,128}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{93,132}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{93,132}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{91,130}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{91,130}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{95,64}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,81},{95,64}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{97,72}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,73},{97,72}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{99,78}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,67},{99,78}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{103,94}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,53},{103,94}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{103,94}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,53},{103,94}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{105,94}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,52},{105,94}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{103,90}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{103,90}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>40020039/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{93,96}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{93,96}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020039.pvr.ccz</string>
            <key>size</key>
            <string>{99,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecc1a696eeca5a55e124d2d1e8d26a8b:d8916ab673d6313d8acb8068613cfd2b:ae505d2aae7d7dd3de7e83385d9bfe79$</string>
            <key>textureFileName</key>
            <string>40020039.pvr.ccz</string>
        </dict>
    </dict>
</plist>
