<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020056/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,588},{71,189}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,0},{71,189}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{373,271}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{373,271}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{361,265}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,68},{361,265}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,365},{323,183}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,141},{323,183}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,759},{67,201}}</string>
                <key>offset</key>
                <string>{5,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,0},{67,201}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,690},{67,213}}</string>
                <key>offset</key>
                <string>{4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,0},{67,213}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,365},{65,221}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,0},{65,221}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,598},{309,295}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,68},{309,295}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,301},{375,295}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{375,295}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{375,297}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{375,297}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{375,297}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{375,297}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>40020056/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,297}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{375,297}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020056.pvr.ccz</string>
            <key>size</key>
            <string>{1023,895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f413b9ffdafe0e0aa7217234b23ccef:23a37208391544bb8d82f0925db836db:f03c726477d5c9fa35116d62160f4e3e$</string>
            <key>textureFileName</key>
            <string>40020056.pvr.ccz</string>
        </dict>
    </dict>
</plist>
