<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40022001/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{47,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,14}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>40022001/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>40022001/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,14}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>40022001/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,14}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>40022001/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,14}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40022001.pvr.ccz</string>
            <key>size</key>
            <string>{247,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ed40a1dd17b5589aa34cb26a0d9adaa:f975a4af7f6dcf512fb6db36a534ad80:a3bec997ae61ce85efe69d15bcd7351b$</string>
            <key>textureFileName</key>
            <string>40022001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
