<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024009/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,271},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,137},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,809},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,540},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,271},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
            <key>40024009/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,133}}</string>
                <key>sourceSize</key>
                <string>{267,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024009.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1498ae7fe46a4908c613798d7589996b:d337a1035b1e2f2eeb6e7dbc061cecbd:9fc13b68243903924741f93f030111c1$</string>
            <key>textureFileName</key>
            <string>40024009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
