<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40029007/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{234,194}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{234,194}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>40029007/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{226,196}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{226,196}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>40029007/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{226,200}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{226,200}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>40029007/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,202}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40029007.pvr.ccz</string>
            <key>size</key>
            <string>{936,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55b4b28745eaa08527df1c22b528bd9:ba1051529ef6e9b95e41ed12d32b56f8:421075ef5a92ccb947c59a29b0900b73$</string>
            <key>textureFileName</key>
            <string>40029007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
