<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024013/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{265,150}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{265,150}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{265,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{265,156}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,156}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{253,158}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{253,158}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,520},{261,156}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{261,156}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,257},{261,156}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{261,156}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{265,150}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{265,150}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>40024013/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{257,150}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{257,150}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024013.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02001bbd0114fe99d740c2e30f66d09e:97db2c22ce8631d0d3730fa123e3e942:dffbc2442fb52abe834674ff2cdd0905$</string>
            <key>textureFileName</key>
            <string>40024013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
