<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40021019/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{158,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,29},{158,138}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{162,142}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{162,142}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,144}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{164,144}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{164,142}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{164,142}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,844},{124,84}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,78},{124,84}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{164,120}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{164,120}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{164,140}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{164,140}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>40021019/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{162,142}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{162,142}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40021019.pvr.ccz</string>
            <key>size</key>
            <string>{228,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e3c8a8e30f7fe0a35a786c1c468db90:e13ef3094e09a28b932b7a745d2f5b04:a76a27d70b801d52ef013f0f26282cca$</string>
            <key>textureFileName</key>
            <string>40021019.pvr.ccz</string>
        </dict>
    </dict>
</plist>
